<ul class="tabs">
	<li><a href="/rss">All RSS Leads (<%= @rss_count %>)</a></li>
  <li><a href="#">Other Sites</a></li>
  <li><a href="#">Email Finder</a></li>
  <li class="active"><a href="#">Approved (<%= @approved_links.count %>)</a></li>
</ul>

<script>
	$(document).ready(function() {
		/*$(".approved_links a.hide").on("click", function() {
			var row = $(this).parents("tr");
			row.next().remove();
			row.remove();
		});*/
	});
</script>

<div class="content">

	<!--div style="display: table;width: 100%; text-align: left; margin: 0 0 1em; text-align: left;">

		
		<p class="content">Selected leads:
	<a href="#" style="border: 1px solid #ddd; margin: -.5em .25em 0; padding: .35em .5em .25em; border-radius: .4em; font-size: 80%; color: red; font-weight: 500;">Remove from Feed</a></p>
	</div-->

	<table class="approved_links">
		<% @approved_links.each do |approved_link| %>
			<tr>
				<td style="padding-top:.5em; padding-right:.5em">
					<input type="checkbox" name="lead" value="<%= approved_link.id %>"> 
				</td>
				<td style="padding-top:.5em">
					<a href="<%= approved_link.link %>" target="_blank"><%= approved_link.title %></a> 
					<span style="font-size: 12px; color: #666;"><%= approved_link.pub_date.to_s %></span>
				</td>
				<td style="width:250px; padding-top:.5em">
					<a href="/leads/new?approved_link_id=<%= approved_link.id %>" style="border: 1px solid #ddd; margin: -.35em .25em 0; padding: .25em .5em .25em .75em; border-radius: .4em; font-size: 80%; font-weight: 500; float: right;">Create Lead →</a>
					<a href="/approved_links/hide?approved_link_id=<%= approved_link.id %>" class="hide" style="border: 1px solid #ddd; margin: -.35em .25em 0; padding: .25em .5em .25em .75em; border-radius: .4em; font-size: 80%; font-weight: 500; float: right; color: red;">Hide</a>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan="2" style="border-bottom: 1px solid #ddd; padding-bottom: .5em; margin: .125em 0;">
					<%= approved_link.description.html_safe %>
				</td>
			</tr>
		<% end %>
	</table>

	<!--div style="display: table;width: 100%; text-align: left; margin: 2em 0 1em; text-align: left;">
		<p class="content">Selected leads:
	<a href="#" style="border: 1px solid #ddd; margin: -.5em .25em 0; padding: .35em .5em .25em; border-radius: .4em; font-size: 80%; color: red; font-weight: 500;">Remove from Feed</a></p>
	</div-->


</div>
