<div class="reply-message <%= 'unread' if message.unread? %>"> 
	<a href="<%= url_for message.reply %>" class="reply" style="text-decoration: none;">
		<div class="avatar" style="margin: 0 auto; display: block;">		
			<%= image_tag message.user.photo.url(:medium), :style => "width: 40px; border-radius: 40px; margin: .5em auto 0; display: block;" %>
		</div>
		
		<div class="name" style="color: #222 !important; font-weight: 600;">	
			<%= message.user.name %>
		</div>

		<div class="message" style="color: #545048 !important; height: 50px; overflow: hidden; font-size: 14px;">
			&ldquo;<%= truncate message.message, length: 48 %>&rdquo;
		</div>
	</a>
</div>
