<div class="project-listing"> 
	<a href="/replies/<%= reply.id %>" class="reply">

		<div class="avatar">		
			<%= image_tag reply.user.photo.url %>
		</div>
		
		<div class="name">	
			<%= reply.user.name %>
		</div>
		
		<div class="message">
			<%= truncate reply.message, length: 78 %>
		</div>
		
		<% if reply.portfolio_image.present? %>
			<div class="portfolio" style="background-image: url(<%= asset_path(reply.portfolio_image.url) %>)">
			</div>
			
			<div class="portfolio-message">
				<%= truncate reply.message, length: 55 %>
			</div>
		<% end %>
		
	</a>
</div>
