<div class="wrap800" style="text-align: center;">	
	<h1><%= @project.title %></h1>
</div>

<div class="project-list-wrap" style="padding: 0 0 5em;">
		<h3 class="action-header" style="margin: -1em 0 1em;">
			<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true" style="color: #aacfe0; vertical-align: 1px; margin-right: .5em; margin-left: -.25em;"></i>'.html_safe, home_projects_path %> Replies
		
			<span style="margin: .25em 0 0; float: right; font-size: 15px;">
				<%= link_to 'View your project'.html_safe, preview_project_path %>
			</span>	
		</h3>

		<% if @project.replies.empty? %>
			<p style="margin: 0 0 3em; font-size: 20px; padding: .5em 1em; display: inline-block; border-top: 1px solid #eee; border-bottom: 1px solid #eee; width: 100%; box-sizing: border-box;">No replies yet. Share it: 
				<input type="text" value="<%= project_url(@project) %>" style="font-size: 16px;  height: 30px;"> 
			</p>
		
		<% else %>

		<div style="margin: 0;">
			<% @project.replies.each do |reply| %>
				<%= render "replies/client_reply_view", reply: reply %>
			<% end %>
		</div>
		
		<% end %>
	</div>




</div>
