<div class="project-reply <%= 'premium' if reply.portfolio_image.present? %>">
	<a class="job" href="/replies/<%= reply.id %>" style="text-decoration: none;">
		<div class="avatar">
			<%= image_tag 'default-avatar.png', :style => "margin: .5em 0 0;" %>
		</div>
	
		<div class="info narrow">
			<span class="name" style="color: #222; font-size: 16px;"><strong><%= reply.user.name %></strong></span><br>
						
			<%= truncate reply.message, length: 200 %>
		</div>

		
		<% if reply.portfolio_image.present? %>
			<div class="portfolio large" style="background-image: url(<%= asset_path(reply.portfolio_image.url) %>)">
			</div>
		<% end %>
	</a>
</div>

