<script>
  $(document).ready(function(){
    $('textarea').autosize();
  });
</script>

<div style="padding: 0;">
<%= form_for([@project, @reply]) do |f| %>

	<div class="form-question-wrap">
		<p class="form-header">Who are you, and what do you do?</p>

		<small class="form-helper-push-right w170">
      <% if current_user.present? %>
        Here's your saved bio – but you can edit it just for this application if you want.
      <% else %>
        Introduce yourself and any relevant work experience that relates to this application.
      <% end %>
		</small>

		<%= f.text_area :biography, data: { max_characters: 200 } %>
	</div>

	<div class="form-question-wrap">	
		<p class="form-header">Why are you the right fit for this?</p>
		
		<small class="form-helper-push-right w170">
			Share anything that shows why you are perfect for this opportunity.
		</small>

		<%= f.text_area :message, data: { max_characters: 200 } %>
	</div>

	<% if (user_signed_in? && current_user.can_reply_with_portfolio?(@reply.project)) || @reply.project.allow_portfolio_replies? %>
	  <%= render "replies/portfolio_upload_form", f: f %>
	<% end %>

	<div class="form-question-wrap">
		<p class="form-header">What's the next step?</p>

		<small class="form-helper-push-right w170">
			What information or answers do you need to move forward?
		</small>
		
		<%= f.text_area :next_steps, data: { max_characters: 200 } %>
	</div>

	<div style="text-align:center; width:100%; padding: 0 0 1em;">
		<div style="margin:2em 0 .5em; display: table; line-height: 1; text-align:center; width: 100%;">
			<% if user_signed_in? %>
				<%= f.submit 'Finish your application', class: "button" %>
			<% else %>
				<%= f.submit 'Next: Create Free Account', class: "button" %><br>
        <small>You'll still be able to change your message.</small>
			<% end %>		
		</div>
	</div>
	
	<% end %>
</div>
