<script>
  $(document).ready(function(){
    $('textarea').autosize();
  });
</script>

<div style="padding: 0;">
<%= form_for([@project, @reply]) do |f| %>

	<div class="form-question-wrap">
		<p class="form-header"><strong>Who are you, and what do you do?</strong></p>

		<small class="form-helper-push-right w170">
      <% if current_user.present? %>
        This is your normal bio, but you can edit it just for this reply if you want.
      <% else %>
        Introduce yourself and any relevant work experience that relates to this project.
      <% end %>
		</small>

		<%= f.text_area :biography, data: { max_characters: 200 } %>
	</div>

	<div class="form-question-wrap">	
		<p class="form-header"><strong>Why would you be a good fit for this project?</strong></p>
		
		<small class="form-helper-push-right w170">
			This is where you go into detail about what you can do for this project.
		</small>

		<%= f.text_area :message, data: { max_characters: 200 } %>
	</div>

	<% if (user_signed_in? && current_user.can_reply_with_portfolio?(@reply.project)) || @reply.project.allow_portfolio_replies? %>
	  <%= render "replies/portfolio_upload_form", f: f %>
	<% end %>

	<div class="form-question-wrap">
		<p class="form-header"><strong>What next steps should the client take?</strong></p>

		<small class="form-helper-push-right w170">
			What do you need from a client in order to kick off? What's next?
		</small>
		
		<%= f.text_area :next_steps, data: { max_characters: 200 } %>
	</div>

	<div style="text-align:center; width:100%; padding: 0 0 1em;">
		<div style="margin:2em 0 .5em; display: table; line-height: 1; text-align:center; width: 100%;">
			<% if user_signed_in? %>
				<%= f.submit 'Preview your message', class: "button" %>
			<% else %>
				<%= f.submit 'Next: Create Free Account', class: "button" %>
			<% end %>		
		</div>
		<small>You'll still be able to change your message.</small>
	</div>
	
	<% end %>
</div>
