<script type="text/javascript">
  $(document).ready(function() {
    $(".upsell.button").click(function() {
      $("#upsell-container").show();
      $("#upsell-trigger").hide();
    });
  });
</script>


<div class="wrap w600" style="display: table; margin: 2em auto 0; text-align:center;">

	<p style="margin: 1em 0 0; ">Upgrade to <span class="pro-badge">PRO</span></p>
	<h1 style="margin: 0 0 .5em;">Make it easier for clients to pick you! Add a portfolio piece and stand out for only $<%= @plan.price %>/<%= @plan.interval_text %>!</h1> 

	
	<%= image_tag 'pro-portfolio.png', :style => "margin: 1em 0; width:300px; border: 1px solid #dee5e9; border-radius: 5px; box-shadow: 0 0 10px 0 #dee5e9" %>
</div>
	
	

		  <div id="upsell-container" style="display:none; text-align:center;">	
        <%= form_for(current_user, url: freelancer_upsell_save_path(reply_id: @reply.id), html: { method: :put }) do |f| %>
          <div style="padding: 0;">
            <h1>Become a PRO for just: $<%= @plan.price %>/<%= @plan.interval_text %></h1>
            
            <%= render 'registrations/creditcard', :number_required => false  %>	

							<p style="Text-align: center;"><%= image_tag 'visa.png',  :style => "width:32px;" %> <%= image_tag 'mastercard.png',  :style => "width:32px;" %> <%= image_tag 'amex.png',  :style => "width:32px;" %> <%= image_tag 'discover.png',  :style => "width:32px;" %> <%= image_tag 'diners.png',  :style => "width:32px;" %> <%= image_tag 'jcb.png',  :style => "width:32px;" %>
							</p>
								
          </div>
          
          <div style="line-height: 4; padding: 0 0 1em;">
            
          	<%= f.submit "Upgrade to pro + add your portfolio", class: "button" %><br>
						
						<p style="margin:0;"><small style="margin:0;">We use <a href="http://stripe.com">Stripe</a> which is just crazy secure.</small></p>
           
          </div>		
          <% end %>
      </div>		

			<div id="upsell-trigger" class="wrap w500" style="text-align:center;">

					<div class="project-upsell-detail">
						<div style="height: 100%; float:left;">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>

						<div style="height: 100%; display:table;">
						<p style="margin: .5em 0 0;"><strong>Get 2X boost in your chances of landing work</strong></p>

						<p style="line-height: 19px !important; margin: 0 0 .5em;"><small>Your message will show up above free accounts.</small></p>
						</div>
					</div>


					<div class="project-upsell-detail">
						<div style="height: 100%; float:left;">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>

						<div style="height: 100%; display:table;">
						<p style="margin: .5em 0 0;"><strong>Show off your portfolio on any reply</strong></p>

						<p style="line-height: 19px !important; margin: 0 0 .5em;"><small>You'll be able to attach work samples with your messages.</small></p>
						</div>
					</div>


					<div class="project-upsell-detail">
						<div style="height: 100%; float:left;">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>

						<div style="height: 100%; display:table;">
						<p style="margin: .5em 0 0;"><strong>Present a better offer to clients</strong></p>

						<p style="line-height: 19px !important; margin: 0 0 .5em;"><small>You'll get extra space to write about why you're the right freelancer.</small></p>
						</div>
					</div>
				
				<a class="upsell button" href="javascript:">Upgrade to pro + add your portfolio</a><br>
			</div>


<p style="text-align:center;">
<span style="margin:0 .5em 0">or</span> 
<%= link_to "No thanks, send my message for free", post_reply_path(@reply), method: :put %>
</p>
