<h2 class="reply-box-header">
		<%= image_tag @reply.user.photo.url, :style => "width:30px; border-radius: 30px; vertical-align:-8px; margin-right: .5em;" %> <%= @reply.user.name %>
	
	<small><span class="reply-box-message">Sent on <%= @reply.created_at.strftime("%b %d, %Y") %></span></small>
</h2>
	
	<div style="padding: 1em 2em;" class="reply">
		<p><%= h([@reply.biography].join("\n")).gsub("\n", "</p>").html_safe %>
		
		<p><%= h([@reply.message].join("\n")).gsub("\n", "</p>").html_safe %>
		
		<%= render "replies/portfolio_message" %>
		
		<p><%= h([@reply.next_steps].join("\n")).gsub("\n", "</p>").html_safe %>
	
		<% if allow_edit %>
			<%= link_to "Edit your message", edit_reply_path(@reply), class: "message-preview-edit uppercase", :style => "text-transform: uppercase; font-size: 11px; font-weight: 600;" %>
		<% end %>
	</div>
