<div class="reading wrap">
	<section>
		<h2 class="uppercase">Previewing your message to: "<%= @reply.project.title %>"</h2>
  </section>
</div>


<%= render "replies/reply_message", allow_edit: true %>

<% if current_user.can_reply_to_project?(@reply.project)%>
	<% if current_user.can_reply_with_portfolio?(@reply.project) %>
		<%= render "replies/portfolio_upload" %>
	<% else %>
		<%= render "replies/portfolio_upsell" %>
	<% end %>
<% else %>
	<%= render "replies/reply_upsell" %>
<% end %>
