<script>
$(document).ready(function(){
  $('textarea').autosize();
});

</script>

<div class="wrap800" style="margin: 0 auto; padding: 1em 0 5em;">
	<h2><%= image_tag @reply.user.photo.url, :style => "height: 60px; width: 60px; border-radius: 60px; margin:0 .5em 0 0; vertical-align: middle;" %> <%= @reply.user.name %> <span style="font-weight: normal;">wrote this on <%= @reply.created_at.strftime("%B %e") %></span></h2>
	
	<div style="box-sizing: border-box;  margin: 0 auto; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
		<%= render "replies/reply_message", allow_edit: false %>
		
		<%= render "replies/portfolio_message" %>
	</div>
	
	<% if current_user.can_see_messages?(@reply) %>
		<%= render "messages/listing", extra_padding: false, reply: @reply %>
	<% end %>

	<% if current_user.can_send_message?(@reply) %>
		<p style="text-align:center;">
			<a href="#" onclick="toggle_visibility('client-reply-modal');" class="button">Write back</a> 
			<%= link_to 'Dismiss reply', root_path, :class => "button", :style => "background: #eee; color: #444 !important;"  %>
		</p>
	
		<div id="client-reply-modal">
			<div class="wrap800">
				<a href="#" onclick="toggle_visibility('client-reply-modal');">Back</a> 
				
				<%= render "messages/client_send", name: message_recipient(@reply) %>	
			</div>
		</div>
	<% end %>
</div>

