<%= render "layouts/top_menu" %>

<div class="index-leads wrap" style="padding-bottom: 5em; ">

	<section style="margin-top: -9px;">
		<h2 class="uppercase">
			<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true" style="color: #ddd; vertical-align: 1px; margin-right: .5em;"></i>'.html_safe, project_path(@project) %> <%= @reply.user.name %></h2>
			
			
			<%= link_to '<i class="fa fa-times" aria-hidden="true" style="margin-right: .5em; font-size: 16px; color: #eaeaea; vertical-align: 0px;"></i>Dismiss this reply'.html_safe, projects_path, :style => "padding: 1em 0; display: inline-block; color:#666; float: right; display: inline-block; font-size: 15px; margin-top: -60px;"  %>
	</section>



<div style="box-sizing: border-box;  margin: 0 auto;">
	<%= render "replies/reply_message", allow_edit: false %>
	<%= render "replies/portfolio_message" %>
</div>

<% if current_user.can_see_messages?(@reply) %>
	<%= render "messages/listing", extra_padding: false, reply: @reply %>
<% end %>

<% if current_user.can_send_message?(@reply) %>
	<%= render "messages/client_send", name: message_recipient(@reply) %>
<% end %>
