<div style="width: 660px; margin: 0 auto;">
	<h1 style="text-align:center;">You're almost done! <%= image_tag 'emoji/1f484.svg', :class => "emoji-big" %> <%= image_tag 'emoji/1f485.svg', :class => "emoji-big" %> <%= image_tag 'emoji/1f44c.svg', :class => "emoji-big" %> </h1>
	
	<h3 class="action-header">Preview your message</h3>
	
	
	<div style="width: 640px; margin: 1em auto 1em; padding: 0 .5em; box-sizing: border-box;">
		
		<%= image_tag 'avatar.png'%>
		
		<p style="margin: 0;"><%= session[:unsent_reply_biography] %></p> 
		<p><%= session[:unsent_reply_message] %></p>
		<p><%= session[:unsent_reply_next_steps] %></p>
	</div>
	
	
	<h3 class="action-header">Now, finish sending by creating a free account</h3>
	
	<section style="margin: 2em auto 2em; width: 300px;">
		<%= render "subscriptions/form" %>
	</section>
</div>
