<!-- 	
<ul class="toc-sub-menu">
	<% @faqs.roots.group_by(&:category).each do |category, faq, children| %>
	
	<p><strong><%= category %></strong></p>
			<% faq.each do |faq| %>
				<li><%= link_to_unless_current faq.question, faq_path(faq) %></li>
			<% end %>
	<% end %>
</ul> -->

<ul class="toc-sub-menu">
	<li><strong>Get your next client today</strong></li>
	<li><a href="../advice#intro">Introduction</a></li>
	<li><a href="../advice#clients">Finding leads</a></li>
	<li><a href="../advice#email">Using email</a></li>
	<li><a href="../advice#marketplaces">Marketplaces</a></li>
	<li><a href="../advice#upsells">Upsells</a></li>
	<li><a href="../advice#appendix">Appendix</a></li>
</ul>


<!--


<ul class="toc-sub-menu">
	<p><strong>
		<% @faqs.most_recently_updated.limit(1).each do |faq| %>
			<%= link_to_unless_current "<strong>Latest</strong> <span>#{faq.question}</span>".html_safe, faq_path(faq), :style => "color: #a76e00;" %>
		<% end %>
	</strong></p>
	<p><strong>Introduction</strong></p>
		<% @faqs.where("category ilike 'Introduction'").each do |faq| %>
			<li>
				<%= link_to_unless_current faq.question, faq_path(faq) %>
			</li>
		<% end %>
</ul>

<ul class="toc-sub-menu">
	<p><strong>Finding potential clients</strong></p>
		<% @faqs.where("category ilike 'Finding potential clients'").each do |faq| %>
			<li>
				<%= link_to_unless_current faq.question, faq_path(faq) %>
			</li>
		<% end %>
</ul>


<ul class="toc-sub-menu">
	<p><strong>Using email to land work</strong></p>
				<li><a class="off-site" href="http://emailsthatwin.com" target="_blank">Cold emails</a></li>
		<% @faqs.where("category ilike 'Using email to land work'").each do |faq| %>
			<li>
				<%= link_to_unless_current faq.question, faq_path(faq) %>
			</li>
		<% end %>
</ul>


<ul class="toc-sub-menu">
	<p><strong>Marketplaces and job boards</strong></p>
		<% @faqs.where("category ilike 'Marketplaces and job boards'").each do |faq| %>
			<li>
				<%= link_to_unless_current faq.question, faq_path(faq) %>
			</li>
		<% end %>
</ul>

<ul class="toc-sub-menu">
	<p><strong>Upsell opportunities</strong></p>
				<li><%= link_to "Project feedback", feedback_path, :target => "_blank" %></li>
		<% @faqs.where("category ilike 'Upsell opportunities'").each do |faq| %>
			<li>
				<%= link_to_unless_current faq.question, faq_path(faq) %>
			</li>
		<% end %>
</ul>


<ul class="toc-sub-menu">
	<p><strong>Appendix</strong></p>
		<% @faqs.where("category ilike 'Appendix'").each do |faq| %>
			<li>
				<%= link_to_unless_current faq.question, faq_path(faq) %>
			</li>
		<% end %>
</ul> -->
<!--

<h3 class="topic-section">Finding potential clients</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Finding potential clients'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section"></h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Using email to land work'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Marketplaces and job boards</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Marketplaces and job boards'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Upsell opportunities</h3>
<ul class="topic-list">
	<li><%= link_to "Project feedback", feedback_path, :class=> "topic-chapter" %></li>
	<% @faqs.where("category ilike 'Upsell opportunities'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Appendix</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Appendix'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>-->

