<% content_for :title, @faq.question %>



<p style="position: fixed; top: .5em; right: 0; font-size: 12px; display: table;"><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://letsworkshop.com/advice"
  data-via="letsworkshop"
  data-text="<%= @faq.question %>"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>

<div class="content" name="top" >

	<div class="faq-content">
		<div class="toc-menu">
			<!--
			<%= link_to "â† Back to Table of Contents", advice_path %>-->
			
			<%= render 'submenu', faqs: @faq.root.descendants.arrange %>




<!--
			<% @faqs.group_by(&:category).each do |category, faqs| %>
				<p><strong><%= category %>:</strong></p>
					<ul class="toc-sub-menu">
						<% faqs.each do |faq| %>
							<li><%= link_to_unless_current faq.question, faq_path(faq) %></li>
					  <% end %>
					</ul>
			<% end %>-->
		</div>


		<div id="<%= @faq.anchor %>" class="chapter-wrap">
			<h1><%= @faq.question %></h1>
				<%= markdown(@faq.answer) %>
				<% if @faq.notes.present? %>
				<p><strong>Further reading:</strong></p>
				<p><%= markdown(@faq.notes) %></p>
				<% end %>
		</div>
	<br>
</div>




<%= render 'pages/courseoptin' %>


</div>
