<section class="tight-wrap">
<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @faq.category %>
</p>

<p>
  <strong>Anchor:</strong>
  <%= @faq.anchor %>
</p>


<p>
  <strong>Question:</strong>
  <%= @faq.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @faq.answer %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @faq.notes %>
</p>

<p>
	<a href="http://letsworkshop.com/advice#<%= @faq.anchor %>">http://letsworkshop.com/advice#<%= @faq.anchor %></a>
</p>

<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>

</section>