
<% content_for :title, @faq.question %>
<script>
$(document).on('click','.searchbychar', function(event) {
    event.preventDefault();
    var target = "#" + this.getAttribute('data-target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 2000);
});
</script>

<p style="position: fixed; top: .5em; right: 0; font-size: 12px; display: table;"><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://letsworkshop.com/advice"
  data-via="letsworkshop"
  data-text="<%= @faq.question %>"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>

<div class="content" name="top">

<%= link_to "â† Back to Table of Contents", advice_path %>


<!--
<aside class="toc-tree">
	<ul>
		<li>How many people reply to a lead?</li>
	</ul>
</aside>-->

		<div id="<%= @faq.anchor %>">
			<br>
			<h1><%= @faq.question %></h1>
			<%= markdown(@faq.answer) %>
			<% if @faq.notes.present? %>
			<p><strong>Further reading:</strong></p>
			<p><%= markdown(@faq.notes) %></p>
			<% end %>
			</div>
			<br>


<%= render 'pages/courseoptin' %>


</div>
