<div class="reading wrap" style="width: 100%; max-width: 900px; margin: 0 auto; padding: 0 0 2em;">
	<div>	
		<%= render 'wizard', step: 'company' %>
	</div>

	<h1 style="margin: 1em 0 0; text-align:center;">Tell us about your awesome company...</h1>	
	<p style="margin: 0 0 2em;  text-align:center;">It'll help freelancers on Folyo get familiar with your brand and what makes your company great.</p>

		<p style="width: 625px; margin: 0 auto 0; font-size: 14px;"><strong>Here's an example of what your company info will look like:</strong></p>
		
	<div class="wrap800" style="width: 650px; border: 2px solid #eee; padding: .5em 1em 1em; box-sizing:border-box; margin: .5em auto 2em;">			

		
			<%= image_tag 'generic.png', :class => "preview-logo", :align => "left" %>

			<h3 style="font-size: 16px; margin: .25em 0 .25em;">SkyStats</h3>
			
			<p style="margin: 0; font-size: 16px;">We're an air-fare travel and booking app, that gives customers the metrics they need to make great buying decisions.</p>
				
			<a href="#" style="margin: 1em 0 0; font-size: 16px;">View our website</a>
		</div>

	<%= form_for @project, url: wizard_path, method: :put, id: 'new_user', class: 'form-focus' do |f| %>	


  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
	<p style="text-align:center;"><strong>Ready? Now enter your company info</strong></p>
	
	<div class="form-question-horizontal">
		<div class="label-left">
			<p>Organization name</p>
		</div>
	
		<div class="input-right">
			<%= f.text_field :organization, placeholder: 'Sky Stats'	%>
		</div>
	</div>
	
	
	<div class="form-question-horizontal">
		<div class="label-left">
			<p>Company website</p>
		</div>
	
		<div class="input-right">
			<%= f.text_field :website, placeholder: 'http://skystats.io'	%>
		</div>
	</div>
	
	
	<div class="form-question-horizontal">
		<div class="label-left">
			<p>Company logo</p>
		</div>
	
		<div class="input-right">
 			<%= f.file_field :company_logo, :id => "pictureInput", :style => "width: 200px; margin: 1.5em 0 0;"	%>
			<p class="required" style="width:400px; font-size: 14px;">Your logo and company info will appear below your project. Square images work best. 190 pixels wide is optimal.</p>
		</div>
	</div>
	
	<section class="project-brief-question-wrap" style="margin: -2em 0 0;">
		<p class="project-brief-question">What is your company all about? What does your company do best?</p>
	</section>
	
	<div class="textarea-wrap">
		<%= f.text_area :company_description,  :placeholder => "Type here about your company..." %>
	</div>

	<div style="margin: -5em 0 5em; float:right;">
		<%= f.submit 'Save and continue', :class => "button" %>
	</div>

		</div>
	<% end %>
</div>
