<div class="wrapper">
	<h1>Welcome, Admin!</h1>
		<center>
			<% if current_admin.site_owner? %>
					<h2>What would you like to do?</h2>
					<%= link_to 'View Plans', plans_path %><br>
					<%= link_to 'View Leads', leads_path %><br>
					<%= link_to 'View Exclusives', exclusives_path %><br>
					<%= link_to 'View RFPs', rfps_path %><br>
					<%= link_to 'Import Plans', import_plans_path %><br>
					<%= link_to 'Import Customers', import_customers_path %>
			<% end %>
	
			<% if admin_signed_in? %>
				<p><%= link_to "Log out", destroy_admin_session_path, method: :delete %></p>
			<% end %>
	</center>	
</div>
