<style>
table {
	width: 100%;
	margin: 1em 0;
}
th {
	color: #666;
	padding: 0 0 1em;
	font-family: 'concourse_c3regular';
	font-size: 15px;
	text-align: center;
	text-transform: lowercase;
	border-bottom: 1px solid #ccc;
}
tr:nth-child(2) td {
	padding: 1em 0 .25em;
}

td {
	padding: .25em 0;
	text-align: center;
}
.link-options {
	margin: 1em 0;
}
.link-options a {
	margin: 0 .5em 0 0;
	font-size: 15px; color: #666;
	text-decoration: none;
}
</style>


<div class="wrapper" style="max-width: 1000px;">


	<h1>Leads this week</h1>
	<p>There are currently <%= @leads.today.count %> lead(s) posted in the last 24 hours. This week we've posted <%= @leads.this_week.count %> leads.</p>

		<table cellspacing=0>
			<tr>
				<th>Category</th>
				<th>Users Following</th>
				<th>Leads Today</th>
				<th>Leads Total</th>
			</tr>

			<% @categories.each do |category| %>
				<tr>
					<td><%= category.name %></td>
					<td><%= category.users.count %></td>
					<td><%= category.lead.today.count %></td>
					<td><%= category.lead.count %></td>
				</tr>
			<% end %>
		</table>



	<h1 style="margin-top: 4em;">Our users</h1>
	<p>There are currently <%= @users.active.count %> active customers. There have been <%= @users.count %> customers ever.</p>


		<table cellspacing=0>
			<tr>
				<th>User</th>
				<th>Email</th>
				<th>Plan</th>
				<th>Signed up</th>
				<th>Cancelled</th>
				<th>Amount</th>
			</tr>



			<% @users.each do |user| %>
				<tr>
					<td style="text-align:left; font-size: 80%;"><%= user.name %></td>
					<td style="text-align:left; font-size: 80%;"><%= user.email %></td>
					<td style="text-align:left; font-size: 80%;"><%= user.subscription.plan.name if user.subscription %></td>
					<td style="text-align:center; font-size: 80%;"><%= user.created_at.strftime("%_m/%-d/%Y") %></td>
					
					<td style="text-align:center; font-size: 80%;"><%= user.subscription.current_period_end.strftime("%_m/%-d/%Y") if user.canceled? %></td>
					
					<td style="text-align:center; font-size: 80%;"><%= user.subscription.plan.amount if user.subscription %> </td>
				</tr>
			<% end %>
		</table>

	 
		<div style="margin: 2em 0 3em;">
				<h3>Admin options</h3>
					<%= link_to 'New Lead', new_lead_path, :class => "button" %>
					<%= link_to 'New RFP', new_rfp_path, :class => "button" %>
					<%= link_to 'New Plan', new_plan_path, :class => "button" %>
					<%= link_to 'New Product', new_product_path, :class => "button" %><br><br>

				<span class="link-options">
					<%= link_to 'View Leads', leads_path %> 
					<%= link_to 'View Plans', plans_path %>
					<%= link_to 'View RFPs', rfps_path %> 
					<%= link_to 'Import Plans', import_plans_path %> 
					<%= link_to 'Import Customers', import_customers_path %>
					<%= link_to "Log out", destroy_admin_session_path, method: :delete %>
				</span>
		</div>

</div>

@leads.group("DATE_TRUNC('month', created_at)").count



Leads.count(:group=>"date_trunc('month', created_at)")

