<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_source.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job_source.url %>
</p>

<%= link_to 'Edit', edit_job_source_path(@job_source) %> |
<%= link_to 'Back', job_sources_path %>
