

<section style="padding: 2em 4em; ">
<% if user_signed_in? %>
<%= link_to "Account Settings", edit_user_registration_path %>

<h1>People</h1>
<p>Hey <%= @current_user.email %>, these are the people and conversations you care about.</p>




    <% @people.most_recently_updated.each do |person| %>
      <div class="person_wrap" style="width: 200px; height: 200px; border: 1px solid #F8F8F8; display: inline-block; padding: 1em; border-radius: 3px;">
			<%= image_tag person.image.url, :style => "width: 90px; height: 90px; border-radius: 100px; margin: 0 auto; display: block;" %>
			<p><%= link_to person.name, edit_person_path(person) %></p>
			<p><%= link_to 'Remove', person, method: :delete, data: { confirm: "Are you sure? This will delete all of this person's data" } %></p>
			</div>
    <% end %>	
			
		<% if user_signed_in? %>
				<div class="person_wrap">
					<h1><%= link_to 'New Person', new_person_path %></h1>
				</div>
		<% end %>
<br>





<% if user_signed_in? %>
	<p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
<% end %>



   <% else %>
     <p>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
     </p>
<% end %>
</section>
