

<section style="padding: 2em 4em; ">
<% if user_signed_in? %>
<%= link_to "Account Settings", edit_user_registration_path %>

<h1>People</h1>
<p>Hey Robert these are the people and conversations you care about.</p>




    <% @people.each do |person| %>
      <div class="person_wrap" style="width: 200px; height: 200px; border: 1px solid #F8F8F8; display: inline-block; padding: 1em; border-radius: 3px;">
			<h1><%= person.name %></h1>
      <p><%= link_to 'Read more', person %></p>
			<p><%= link_to 'Edit', edit_person_path(person) %></p>
			<p><%= link_to 'Delete person', person, method: :delete, data: { confirm: 'Are you sure?' } %></p>
			</div>
    <% end %>	
			
		<% if user_signed_in? %>
				<div class="person_wrap">
					<h1><%= link_to 'New Person', new_person_path %></h1>
				</div>
		<% end %>
<br>





<% if user_signed_in? %>
	<p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
<% end %>



   <% else %>
     <p>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
     </p>
<% end %>
</section>
