<%= render 'project_mailer/style' %>

<p>Hello <%= @project_owner.name %>!</p>

<p><%= @freelancer.name %> just replied to your project "<%=@project.title %>":</p>
<p><%= @reply %></p>

<p>[Reply on Folyo]</p>
