<%= form_for(@exclusive) do |f| %>
  <% if @exclusive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exclusive.errors.count, "error") %> prohibited this exclusive from being saved:</h2>

      <ul>
      <% @exclusive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag 'name', 'Your Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pic, 'Photo of Yourself' %><br>
    <%= f.file_field :pic, class: "form-control" %>
    <p class="note">Uploading a picture of yourself means you'll get even more responses.</p>
  </div>
  <div class="field">
	
    <%= f.label :email, 'Your Email'  %><br>
    <%= f.text_field :email %>
    <p class="note">Where can a freelancer get a hold of you?</p>
  </div>
  <div class="field">
    <%= f.label :title, 'Title Your App Project' %><br>
    <%= f.text_field :title, :value => "I want to build an app" %>
    <p class="note">A few words about what you're looking for, and what your company does.</p>
  </div>
  <div class="field">
    <%= f.label :website, 'Your Current Website' %><br>
    <%= f.text_field :website, :placeholder => 'http://www.yourwebsite.com' %>
  </div>
  <div class="field">
    <%= f.label :budget, 'Your Budget: (Starting at $4000)' %><br>
    $ <%= f.number_field :budget, :value => "4000" %>
  </div>
<!--
  <div class="field">
    <%= f.label :description, 'Describe Your Project' %>
    <p class="note">Try to include as much detail as possible. For example, what specific web pages or designs do you need help on? What kind of deliverables do you expect? When do you need this project completed?</p>
    <%= f.text_area :description, :id => "exclusive_description" %>
  </div>-->
<blockquote>On the first day, I spoke to five developers who sent me proposals. Just one month later, my app had come to life. I now have a working product and when I need extra help I can dip back into my inbox to reach out to the other developers who reached out about my project. <br>– Marcella Chamorro, Founder,  Devise</blockquote>

  <div class="actions" style="margin: 2em 0 1em 0;">
    <%= f.submit 'Feature my project', :class => "buy" %>
  </div>

<% end %>
