<%= form_for(@exclusive) do |f| %>
  <% if @exclusive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exclusive.errors.count, "error") %> prohibited this exclusive from being saved:</h2>

      <ul>
      <% @exclusive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag 'name', 'Your Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pic, 'Photo of Yourself' %><br>
    <%= f.file_field :pic, class: "form-control" %>
    <p class="sub-label">Uploading a picture of yourself means you'll get even more responses.</p>
  </div>
  <div class="field">
    <%= f.label :email, 'Your Email'  %><br>
    <%= f.text_field :email %>
    <p class="sub-label">Where can a freelancer get a hold of you?</p>
  </div>
  <div class="field">
    <%= f.label :title, "I'm looking for a..." %><br>
    <%= f.text_field :title, :placeholder => 'Wordpress developer for my cooking and recipe website' %>
    <p class="sub-label">What type of freelancer you're looking for, and what your company does.</p>
  </div>
  <div class="field">
    <%= f.label :category, "They'll be doing..." %><br>
    <%= f.text_field :category, :placeholder => 'Example: Wordpress Development, UX Design, Rails Development, etc.' %>
    <p class="sub-label">I'll send your project to a world-class freelancer in that specific area.</p>
  </div>
  <div class="field">
    <%= f.label :website, 'Your Website' %><br>
    <%= f.text_field :website, :placeholder => 'http://www.yourwebsite.com' %>
  </div>
  <div class="field">
    <%= f.label :budget, 'Your Budget' %><br>
    <span>$</span> <%= f.number_field :budget, :style => "width: 16em; display: inline;", :placeholder => "1000 minimum" %>
	  <p class="sub-label"><a href="http://blog.folyo.me/how-much-does-a-website-cost-and-other-pricing-questions/">How much should my project cost?</a></p>
  </div>
  <div class="field">
    <%= f.label :description, 'Describe Your Project' %>
    <p class="sub-label">Try to include as much detail as possible. For example, what specific web pages or designs do you need help on? What kind of deliverables do you expect? When do you need this project completed?</p>
    <%= f.text_area :description, :id => "exclusive_description", :style => "height: 15em;" %>
  </div>

  <div class="actions" style="margin: 2em 0 0 0;">
    <%= f.submit 'Feature my project' %>
  </div>
<% end %>
