<%= form_for(@exclusive) do |f| %>
  <% if @exclusive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exclusive.errors.count, "error") %> prohibited this exclusive from being saved:</h2>

      <ul>
      <% @exclusive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag 'name', 'Your Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pic, 'Photo of Yourself' %><br>
    <%= f.file_field :pic, class: "form-control" %>
    <p class="note">Uploading a picture of yourself means you'll get even more responses.</p>
  </div>
  <div class="field">
    <%= f.label :email, 'Your Email'  %><br>
    <%= f.text_field :email %>
    <p class="note">Where can a freelancer get a hold of you?</p>
  </div>
  <div class="field">
    <%= f.label :title, 'Title Your Project' %><br>
    <%= f.text_field :title %>
    <p class="note">A few words about what you're looking for, and what your company does.</p>
  </div>
  <div class="field">
    <%= f.label :category, 'Type of Freelancer (if required)' %><br>
    <%= f.text_field :category, :placeholder => 'Example: Wordpress development, UX design, ruby on rails, etc.' %>
    <p class="note">I'll send your project to a world-class freelancer in the specific area you need.</p>
  </div>
  <div class="field">
    <%= f.label :website, 'Your Website' %><br>
    <%= f.text_field :website, :placeholder => 'http://www.yourwebsite.com' %>
  </div>
  <div class="field">
    <p class="note" style="float:right; width: 26em;">Budget guidelines:<br>$1,000 minimum<br>$2,000+ for a Website<br> $4,000+ for Web App.</p>
    <%= f.label :budget, 'Your Budget' %><br>
    $ <%= f.number_field :budget %>
  </div>
  <div class="field">
    <%= f.label :description, 'Describe Your Project' %>
    <p class="note">Try to include as much detail as possible. For example, what specific web pages or designs do you need help on? What kind of deliverables do you expect? When do you need this project completed?</p>
    <%= f.text_area :description, :id => "exclusive_description" %>
  </div>

  <div class="actions" style="margin: 2em 0 0 0;">
    <%= f.submit 'Feature my project', :class => "buy" %>
  </div>
<% end %>
