<section class="reading-wrap breathe-bottom">
<p id="notice"><%= notice %></p>
<h2>Here's what your project will look like to freelancers in the next Workshop email:</h2>
<hr>
  <div class="exclusive">
    <div class="image-wrap"><%= image_tag @exclusive.pic.url(:thumb, timestamp: false), :class => "image" %></div>
    <h1><%= @exclusive.title %></h1>
    <h3><%= @exclusive.category %></h3>
    <strong>Company:</strong> <a href="<%= @exclusive.website %>"><%= @exclusive.website %></a><br>
    <strong>Budget:</strong> $<%= @exclusive.budget %><br>
    <strong>Name:</strong> <%= @exclusive.name %></p>
    <p><strong>Description</strong><br>
    <%= h(@exclusive.description).gsub(/\n/, '<br/>').html_safe %></p>
    <p><strong>To apply</strong><br>
    <a href="MAILTO:<%= @exclusive.email %>"><%= @exclusive.email %></a></p>
    <h4>This lead is only shown to Workshop members, so you have a great chance of landing it.</h4>
    <hr>
  </div>


<p><%= link_to 'Perfect! All done', successful_featured_path, :class => 'submit', :style => 'text-align: right;' %> <span style="margin: 0 .5em;">or</span> <%= link_to 'Make a change', edit_exclusive_path(@exclusive), :class => 'emphasis', :style => 'vertical-align: 3px;' %></p>

</section>