<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exclusive.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @exclusive.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exclusive.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @exclusive.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @exclusive.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @exclusive.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @exclusive.linkedin %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @exclusive.budget %>
</p>

<p>
  <strong>Category:</strong>
  <%= @exclusive.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exclusive.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exclusive.notes %>
</p>

<%= link_to 'Edit', edit_exclusive_path(@exclusive) %> |
<%= link_to 'Back', leads_path %>
