<div class="checklist">
	
	<h3>Win Your First Client through Workshop</h3>

	<p>
		<table>
			<tr>
				<td>
					<img src="email/check.png"><strike>I monitored 100s of job boards today</strike><br>
				</td>
				<td>
					<% if @user.milestone_ids.include? Milestone::GOT_REPLY %>
						<img src="email/check.png"><strike><%= @milestones_hash[Milestone::GOT_REPLY] %></strike><br>
					<% else %>
						<img src="email/check-light.png"><a href="<%= update_subscription_milestones_url %>?milestone_id=<%= Milestone::GOT_REPLY %>"><%= @milestones_hash[Milestone::GOT_REPLY] %></a><br>
					<% end %>	
				</td>
			</tr>
				<td>
					<img src="email/check.png"><strike>I have a list of prospects looking for a freelancer</strike><br>
				</td>	
				<td>
					<% if @user.milestone_ids.include? Milestone::FOLLOWED_UP %>
						<img src="email/check.png"><strike><%= @milestones_hash[Milestone::FOLLOWED_UP] %></strike><br>
					<% else %>
						<img src="email/check-light.png"><a href="<%= update_subscription_milestones_url %>?milestone_id=<%= Milestone::FOLLOWED_UP %>"><%= @milestones_hash[Milestone::FOLLOWED_UP] %></a><br>
					<% end %>	
				</td>
			</tr>
			<tr>
				<td>
					<% if @user.milestone_ids.include? Milestone::SEND_EMAIL %>
						<img src="email/check.png"><strike><%= @milestones_hash[Milestone::SEND_EMAIL] %></strike><br>
					<% else %>
						<img src="email/check-light.png"><a href="<%= update_subscription_milestones_url %>?milestone_id=<%= Milestone::SEND_EMAIL %>"><%= @milestones_hash[Milestone::SEND_EMAIL] %></a><br>
					<% end %>	
				</td>
				<td>
					<% if @user.milestone_ids.include? Milestone::FOLLOWED_UP %>
						<img src="email/check.png"><strike><%= @milestones_hash[Milestone::LANDED_CLIENT] %></strike><br>
					<% else %>
						<img src="email/check-light.png"><a href="<%= update_subscription_milestones_url %>?milestone_id=<%= Milestone::LANDED_CLIENT %>"><%= @milestones_hash[Milestone::LANDED_CLIENT] %></a><br>
					<% end %>	
				<td>
			</tr>
		</table>
	</p>	
</div>
