<div class="category-wrap">
	<h3>Latest <%= category %> leads:</h3>
	
	<% leads.each do |lead| %>
	  <div class="exclusive">
	    <div class="image-wrap"><%= image_tag lead.image.url(:thumb, timestamp: false), :class => "image" %></div>
	    <h1><%= lead.title %></h1>
	    <h2><%= lead.notes %></h2>
	    <p><strong>Company:</strong> <a href="<% lead.website %>"><%= lead.website %></a><br>
	    <strong>Budget:</strong> $<%= lead.budget %><br>
	    <strong>Name:</strong> <%= lead.name %></p>
	    <p><strong>Description</strong><br>
	    <%= h(lead.notes).gsub(/\n/, '<br/>').html_safe %></p>
	    <p><strong>To apply</strong><br>
	    <a class="email" href="MAILTO:<%= lead.email %>"><%= lead.email %></a></p>
	    <hr>
	  </div>
	<% end %>
</div>

