<html lang="en"> 
<head>
	<%= render 'worker_mailer/worker_mailer_css' %>
</head>

<body>
	<center>
		<%= image_tag("consulting-leads.png", :class => ) %>
	</center>

	<%= render 'worker_mailer/follow_up_list_pipeline' %>	

	<%= render 'worker_mailer/lead_render' %>

	<%= render 'worker_mailer/lead_categories' %>

	<p class="update-account"><a href="<%= edit_user_registration_url(only_path: false) %>">Update your account</a></p>
</body>
</html>


	
