<html lang="en"> 
<head>
	<%= render 'worker_mailer/worker_mailer_css' %>
</head>

<body style="padding: 3px 10px;">
	<center>
		<%= image_tag("favorites-header.png", :style => "display: inline-block; margin: 1em auto; height: 90px;") %>
	</center>

	<%= render 'worker_mailer/follow_up_list_pipeline' %>	
	
	<h3>Your Follow-up List:</h3> 		
	
		  <h3 class="followup to-contact">To Contact</h3>
		    <% @user.favorite_leads.moved_to_to_contact.each do |favorite_lead| %>

							<p class="lead-title"><strong><%= favorite_lead.lead.title %></strong></p>

							<p  class="lead-url"> Original Source: <a href="<%= favorite_lead.lead.url %>" style="color: #666;"><%= favorite_lead.lead.url %></a></p>

							<p style="margin: .5em 0 0;"><%= simple_format(favorite_lead.lead.description) %></p>

							<% if favorite_lead.lead.image.file? %>
							  <%= image_tag favorite_lead.lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
							<% else %>
								<%= image_tag "missing.png", :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
							<% end %>
							<p>
								Name: <%= favorite_lead.lead.name %></strong>
							<br>Email: <%= mail_to favorite_lead.lead.email %>
							<br>
							</p>
							<div class="follow-up-list-actions-box">
									<p>Contact already? 
									<%= link_to "Move to Waiting to Hear Back", contacted_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button red" %></p>

									<p>Did they respond?
									<%= link_to "Move to In Conversation", responded_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button green" %></p>

									<p>Wanna touch base later?
									<%= link_to "Move to Staying In Touch", touch_base_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button blue" %></p>

									<p>Not interested anymore?  
									<%= link_to "Remove from Follow-up List", favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button" %></p>
								</div>
							<p class="lead-posted-on">Posted on <%= favorite_lead.lead.created_at.strftime("%b. %d %Y") %> in <%= favorite_lead.lead.category_name %>
						
							</p>
		    <% end %>

		  		<h3 class="followup contacted">Waiting to Hear Back</h3>
			    <% @user.favorite_leads.moved_to_waiting_to_hear_back.each do |favorite_lead| %>

								<p class="lead-title"><strong><%= favorite_lead.lead.title %></strong></p>

								<p  class="lead-url"> Original Source: <a href="<%= favorite_lead.lead.url %>" style="color: #666;"><%= favorite_lead.lead.url %></a></p>

								<p style="margin: .5em 0 0;"><%= simple_format(favorite_lead.lead.description) %></p>

								<% if favorite_lead.lead.image.file? %>
								  <%= image_tag favorite_lead.lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
								<% else %>
									<%= image_tag "missing.png", :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
								<% end %>
								<p>
									Name: <%= favorite_lead.lead.name %></strong>
								<br>Email: <%= mail_to favorite_lead.lead.email %>
								<br>
								</p>
								<div class="follow-up-list-actions-box">
										<p>Contact already? 
										<%= link_to "Move to To Email", need_to_email_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button yellow" %></p>

										<p>Did they respond?
										<%= link_to "Move to In Conversation", responded_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button green" %></p>

										<p>Wanna touch base later?
										<%= link_to "Move to Staying In Touch", touch_base_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button blue" %></p>

										<p>Not interested anymore?  
										<%= link_to "Remove from Follow-up List", favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button" %></p>
									</div>
								<p class="lead-posted-on">Posted on <%= favorite_lead.lead.created_at.strftime("%b. %d %Y") %> in <%= favorite_lead.lead.category_name %>

								</p>
			    <% end %>
			
		  		<h3 class="followup following-up">In Conversation</h3>
			    <% @user.favorite_leads.moved_to_in_conversation.each do |favorite_lead| %>

								<p class="lead-title"><strong><%= favorite_lead.lead.title %></strong></p>

								<p  class="lead-url"> Original Source: <a href="<%= favorite_lead.lead.url %>" style="color: #666;"><%= favorite_lead.lead.url %></a></p>

								<p style="margin: .5em 0 0;"><%= simple_format(favorite_lead.lead.description) %></p>

								<% if favorite_lead.lead.image.file? %>
								  <%= image_tag favorite_lead.lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
								<% else %>
									<%= image_tag "missing.png", :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
								<% end %>
								<p>
									Name: <%= favorite_lead.lead.name %></strong>
								<br>Email: <%= mail_to favorite_lead.lead.email %>
								<br>
								</p>
								<div class="follow-up-list-actions-box">
										<p>Need to email? 
										<%= link_to "Move to To Email", need_to_email_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button yellow" %></p>

										<p>Ball in their court?
										<%= link_to "Move to Waiting to Hear Back", contacted_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button green" %></p>

										<p>Wanna touch base later?
										<%= link_to "Move to Staying In Touch", touch_base_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button blue" %></p>

										<p>Not interested anymore?  
										<%= link_to "Remove from Follow-up List", favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button" %></p>
									</div>
								<p class="lead-posted-on">Posted on <%= favorite_lead.lead.created_at.strftime("%b. %d %Y") %> in <%= favorite_lead.lead.category_name %>

								</p>
			    <% end %>

		  		<h3 class="followup staying-in-touch">Staying in Touch</h3>
			    <% @user.favorite_leads.moved_to_staying_in_touch.each do |favorite_lead| %>

								<p class="lead-title"><strong><%= favorite_lead.lead.title %></strong></p>

								<p  class="lead-url"> Original Source: <a href="<%= favorite_lead.lead.url %>" style="color: #666;"><%= favorite_lead.lead.url %></a></p>

								<p style="margin: .5em 0 0;"><%= simple_format(favorite_lead.lead.description) %></p>

								<% if favorite_lead.lead.image.file? %>
									<%= image_tag favorite_lead.lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
								<% else %>
								<% end %>

								<p>
									Name: <%= favorite_lead.lead.name %></strong>
								<br>Email: <%= mail_to favorite_lead.lead.email %>
								<br>
								</p>
								<div class="follow-up-list-actions-box">
										<p>Need to email? 
										<%= link_to "Move to To Email", need_to_email_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button yellow" %></p>

										<p>Ball in their court?
										<%= link_to "Move to Waiting to Hear Back", contacted_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button red" %></p>

										<p>Talking about a project?
										<%= link_to "Move to In Conversation", touch_base_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button green" %></p>

										<p>Not interested anymore?  
										<%= link_to "Remove from Follow-up List", favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button" %></p>
									</div>
								<p class="lead-posted-on">Posted on <%= favorite_lead.lead.created_at.strftime("%b. %d %Y") %> in <%= favorite_lead.lead.category_name %>

								</p>
			    <% end %>

	<p style="padding: 1em 0; margin: 1em 0; font-size: 90%;"><a href="<%= edit_user_registration_url(only_path: false) %>">Update your account</a></p>
</body>
</html>


	
