<html lang="en"> 
<head>
	<style>
	html, body, div {
		max-width: 100%;
		padding: 3px;
	}
	body {
		color: #444; 
		font-size:15px; 
		line-height: 18px; 
		font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
		width: 55em; 
		max-width: 100%;
		margin: auto; 
		padding: 3px;
		box-sizing: border-box;
	}
	a {
		color: #2a97bf;
	}
	a.button {
		background-color: #2a97bf;
		color: #FFF;
		border-radius: 5px;
		padding: .5em .75em;
		display: inline-block;
		margin: 1em 0;
		text-decoration: none;
	}
	h1, h2, h3 {
		line-height: 1.2;
	}
	h3 {
		margin: 1em 0 .25em;
	}

	.checklist p table {
		font-size: 12px;
		line-height: 25px;
	}

	.checklist td {
		padding: 0 1em 0 1em;
	}

	.checklist {
		font-size: 10px;
		line-height: 25px;
		box-sizing: border-box;
		width: 100%;
	}

	.checklist h3 {
		font-size: 150%;
		margin: .5em 0;
	}

	.checklist strike {
		color: #9e9890;
		margin: 0 0 0 10px;
		vertical-align: 4px;
	}

	.checklist p span {
		margin-right: .35em;
		padding: .25em .5em;
	}

	.to-contact {
		border-radius: 5px;
		background-color: #fffbb4;
	}

	.contacted {
		border-radius: 5px;
		background-color: #ffd4d1;
	}

	.following-up {
		border-radius: 5px;
		background-color: #d9fde0;
	}
		td {
		padding: .5em 0;
	}

	table a {
		text-decoration: none;
	}

.lead-title { margin: 1.5em 0 0; font-size: 20px; }

.lead-url {color: #666; font-size: 14px; margin: .125em 0;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 560px;}

	p {
		font-size: 15px;
		line-height: 21px;
		margin:1em 0px;
	}
	.image-wrap .image {
		width: 75px;
		border-radius: 75px;
	}
	.photo {
		width: 60px; 
		border-radius: 75px;
		margin: 0 10px 0 0;
	}

	.name , .email a {
		color: #444;

	}
	.twitter a {
		color: #9e9890;
		font-size: 75%;
	}

	.small {
		color: #9e9890;
		font-size: 13px;
	}
	.small a {
		font-size: 11px;
		text-decoration: none;
		font-weight: 600;
	}
	.guide {
		padding: 1.5em 2em; 
		background-color: #9e9890; 
		color: #FFF;
		box-sizing: border-box;
		width: 136px; 
		height: 120px; 
		line-height: 1.5em; 
		font-size: 14px; 
		font-weight:bold;
		vertical-align: 
		middle; float: 
		left; display: 
		inline-block; 
		margin: 1em 1em .5em 0;
		border-radius: 5px;
	}
	hr {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 1px;
		background-color:#D9D3CF;
		border: 0;
		box-sizing: border-box;
	}

	.exclusive h4 {
		background-color: #f3e1ab;
		padding: .35em .75em;
		border-radius: .2em;
	}
	.exclusive {
	margin: .5em 0 1em;
	}
	a.favorite {
	font-size: 18px; border: 1px solid #222; padding: .15em .5em; border-radius: 4px; text-decoration: none; margin: .5em .5em .5em 0; color: #222;
	}
	</style>
</head>

<body style="padding: 3px 10px;">
	<center>
		<%= image_tag("favorites-header.png", :style => "display: inline-block; margin: 1em auto 1em; height: 90px;") %>
	</center>


	<%= render 'worker_mailer/lead_milestones' %>	
			
		<table style="margin: 1em 0 0;" class="leads-index-wrapper">
		  <tbody>
		  	<th>
		  		<p style="text-align: left; border-bottom: 1px solid #ffe274; background-color: #fffbb4; padding: .25em; margin:  0;">First Contact <span style="font-size: 14px; text-transform: none; margin-left: .5em; font-weight: 300;"><em>Leads you favorite get added here.</em></span></p>
				</th>
		    <% @current_user.favorites.each do |lead| %>
		      <tr>
		        <td style="border-bottom: 1px solid #ccc;padding: 0 0 1em;">

							<p style="margin: 1em 0 0; font-size: 20px;"><strong><%= lead.title %></strong></p>

							<p style="color: #666; font-size: 14px; margin: .125em 0;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 560px;"> Original Source: <a href="<%= lead.url %>" style="color: #666;"><%= lead.url %></a></p>

							<p style="margin: .5em 0 0;"><%= simple_format(lead.description) %></p>

							<% if lead.image.file? %>
							  <%= image_tag lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
							<% else %>
							<% end %>

							<p style="font-size: 16px; margin: .5em 0;">
								Name: <%= lead.name %></strong>
							<br>Email: <%= mail_to lead.email %>
							<br>
							</p>

							<p style=" margin: .5em 0;"><span style="color: #666; font-size: 14px;">Posted on <%= lead.created_at.strftime("%b. %d %Y") %> in <%= lead.category_name %></span> 

								<%= link_to "Remove from Favorites", favorite_lead_path(lead, type: "unfavorite"), method: :patch, :style => "float: right;" %>
							</p>
						</td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<p style="text-align: left; border-bottom: 1px solid #e66125; background-color: #ffddda; padding: .25em;margin:  2em 0 0;"><strong>Follow-up</strong> <span style="font-size: 14px; text-transform: none; margin-left: .5em; font-weight: 300;"><em>When you email a lead move it here and follow-up within 7 days.</em></span></p>

		<p>No follow-up leads yet.</p>

		<p style="text-align: left; border-bottom: 1px solid #2db93c	; background-color: #daffe1; padding: .25em;margin:  2em 0 0;"><strong>Touch base</strong> <span style="font-size: 14px; text-transform: none; margin-left: .5em; font-weight: 300;"><em>When you want to follow-up less frequently, move a lead here.</em></span></p>
		

		<p>No touch-base leads yet. </p>
	
	<p style="padding: 1em 0; margin: 1em 0; font-size: 90%;"><a href="<%= edit_user_registration_url(only_path: false) %>">Update your account</a></p>
</body>
</html>


	
