<h2 class="action-header" style="width: 725px; margin: 1.5em auto 1em;">Your company info</h2>

<!--
 
<div class="form-question-horizontal">
  <div class="label-left">
    <p>Account type</p>
  </div>

  <div class="input-right" style="margin-top:.25em;">
  	<i class="fa fa-check" style="color: #79c84e; margin-right: .25em;" aria-hidden="true"></i> <strong>You're a client</strong><br>

		<small><a href="javascript:" class="button danger" data-account-type="freelancer" style="display: inline-block; margin: 2em 0; font-size: 14px;">Switch to freelancer without saving</a></small>
  </div>
</div>-->



<div class="form-question-horizontal">
  <div class="label-left">
    <p>Profile picture</p>
  </div>

  <div class="input-right">
    <%= image_tag(f.object.photo.url(:thumb), :class => "profile-photo", :style => "width:100px; height: 100px; margin: 0 !important;") if f.object.photo %><br>

    <%= f.file_field :photo, :id => "pictureInput", :style => "width: 200px;margin: .5em 0 1em;"	%>

    <p class="required" style="width:400px; font-size: 14px; margin-top: .5em;">Your picture will appear with your project. Square images work best. 200 pixels wide is optimal.</p>
  </div>
</div>


<div class="form-question-horizontal">
  <div class="label-left">
    <p>Organization name</p>
  </div>

  <div class="input-right">
    <%= f.text_field :company_name, placeholder: 'Sky Stats'	%>

    <%= form_error_for(@user, :company_name) %>
  </div>
</div>


<div class="form-question-horizontal">
  <div class="label-left">
    <p>Company website</p>
  </div>

  <div class="input-right">
    <%= f.text_field :company_website, placeholder: 'http://skystats.io'	%>
  </div>
</div>

<div class="form-question-horizontal">
  <div class="label-left">
    <p>Company logo</p>
  </div>

  <div class="input-right">
    <%= image_tag(f.object.company_logo.url(:thumb), :class => "profile-photo", :style => "width:100px; height: 100px; margin: 0; border-radius: 0;") if f.object.company_logo %><br>

    <%= f.file_field :company_logo, :id => "pictureInput", :style => "width: 200px;margin: .5em 0 1em;"	%>

    <p class="required" style="width:400px; font-size: 14px;">Your logo and company info will appear with your project. Square images work best. 200 pixels wide is optimal.</p>
  </div>
</div>
