<h2 class="action-header" style="width: 725px; margin: 0 auto 1em;">Your company info</h3>

<div class="form-question-horizontal">
  <div class="label-left">
    <p>Profile picture</p>
  </div>

  <div class="input-right">
    <%= image_tag(f.object.photo.url(:thumb)) if f.object.photo %>
    <%= f.file_field :photo, :id => "pictureInput", :style => "width: 200px; margin: 1.5em 0 0;"	%>
    <p class="required" style="width:400px; font-size: 14px; margin-top: .5em;">Your picture will appear next to your project. Square images work best. 190 pixels wide is optimal.</p>
  </div>
</div>


<div class="form-question-horizontal">
  <div class="label-left">
    <p>Organization name</p>
  </div>

  <div class="input-right">
    <%= f.text_field :company_name, placeholder: 'Sky Stats'	%>
    <%= form_error_for(@user, :company_name) %>
  </div>
</div>


<div class="form-question-horizontal">
  <div class="label-left">
    <p>Company website</p>
  </div>

  <div class="input-right">
    <%= f.text_field :company_website, placeholder: 'http://skystats.io'	%>
  </div>
</div>

<div class="form-question-horizontal">
  <div class="label-left">
    <p>Company logo</p>
  </div>

  <div class="input-right">
    <%= image_tag(f.object.company_logo.url(:thumb)) if f.object.company_logo %>
    <%= f.file_field :company_logo, :id => "pictureInput", :style => "width: 200px; margin: 1.5em 0 0;"	%>
    <p class="required" style="width:400px; font-size: 14px;">Your logo and company info will appear below your project. Square images work best. 190 pixels wide is optimal.</p>
  </div>
</div>

<div class="form-question-horizontal">
  <div class="label-left" style="width:250px; margin:  0 auto 0 5.25em;">
    <p>Why will someone love working with you?</p>
  </div>

  <div class="input-right">
    <%= f.text_area :company_biography,  :placeholder => "Type here about your company..." %>
  </div>
</div>
