
<%= render "layouts/top_menu" %>

<script>
$(function() {
  $('#pictureInput').on('change', function(event) {
	var files = event.target.files;
	var image = files[0]
	// here's the file size
	console.log(image.size);
	var reader = new FileReader();
	reader.onload = function(file) {
	  var img = new Image();
	  console.log(file);
	  img.src = file.target.result;
	  $('#target').html(img);
	}
	reader.readAsDataURL(image);
	console.log(files);
  });
});
</script>


<div style="width: 450px; margin: 0 auto;">
	<p style="text-align: center;">
	<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true" style="color: #aacfe0; vertical-align: 1px; margin-right: .25em; margin-left: -.25em; margin-top: 0;"></i> Back to Projects'.html_safe, home_projects_path, :style => "text-decoration: none; color:#666;" %>
	</p>
	
	<h3 class="action-header" style="margin: 1em auto 0;">
		Update your profile</h3>

<section class="sign-in" style="margin: 0 auto 2em; width: 350px;">
	

			<% if current_user.past_due? %>
				<p style="color:red;">The credit card you gave us didn't work when we tried to bill you. Please update your credit card to restore your account.</p>

				<p><%= link_to "Update credit card", update_subscription_creditcard_path, data: { 'no-turbolink' => '' } %></p>

			<% elsif current_user.canceled? %>
				<p style="color:red;">Your account was canceled, please reactivate your account to continue using Workshop.</p>

				<p><%= link_to "Reactivate my account", update_subscription_creditcard_path, data: { 'no-turbolink' => '' } %></p>
			<% end %>

			<% unless current_user.past_due? || current_user.canceled? %>
		


		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>

		  <% if resource.errors.any? || (!resource.subscription.nil? && resource.subscription.errors.any?) %>
				<div id="error_explanation">
				  <h2><%= pluralize(resource.errors.count + resource.subscription.errors.count, "error") %> occurred:</h2>

				  <ul>
					<% resource.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					
					<% resource.subscription.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				  </ul>
				</div>
		  <% end %>


			<h3 class="form-header">Your name</h3>
			<%= f.text_field :name, autofocus: true %>

		  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		  <% end %>

			<h3 class="form-header">Your email</h3>
			<%= f.email_field :email %>

			<h3 class="form-header">New password</h3>
			<%= f.password_field :password, autocomplete: "off", placeholder: "Leave blank to keep current password" %>

			<h3 class="form-header">Confirm new password</h3>
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
			

			<%= f.submit "Save your profile", id: 'form-submit', :style => "margin: 1em 0;" %>
		  </div>
		<% end %>
		
		
		
		<div style="width: 450px; margin: 0 auto;">

		<h3 class="action-header" style="margin: 1em auto 0;">
			Why are you on Folyo?</h3>

	<section class="sign-in" style="margin: 0 auto 2em; width: 350px; padding: 1em;">
			<a href="#" class="button" style="margin-right: .5em;"><i class="fa fa-check" aria-hidden="true"></i> I'm a freelancer</a>
			<a href="#" class="button" style="background-color: #eee; color: #222 !important;">I'm a client</a>
		
		</section>
</div>


		<div class="wrap800" style="max-width: 400px; width: 100%; margin: 3em auto 1em; padding: 1em 2em .25em; background-color: #f7f7f7; border-radius: .5em; box-sizing: border-box;">
			
			<h2 style="margin: 0;">Pro Billing</h2>

			<% unless resource.canceling? %>
				<p><strong>You're currently paying $<%= resource.subscription.plan.price %></strong> <%= resource.subscription.plan.interval_text %></strong></p>

				<p style="font-size: 14px;">Your next payment is on <%= current_user.billing_period_end %>. <%= link_to "Update credit card", update_subscription_creditcard_path, data: { 'no-turbolink' => '' } %> (ending: -<%= current_user.last4 %>)<br></p>

				<p style="margin: 2em auto;">
					<% unless resource.subscription.plan.yearly? || resource.subscription.plan.savings(Plan.annual.first) <= 0 %>
						<%= link_to "Save $#{ resource.subscription.plan.savings(Plan.annual.first) } by switching to yearly billing", upgrade_plan_path, :class => "button" %>
					<% end %>
				</p>
			<% end %>

				<% if resource.canceling? %>
					<h3>Your account will be canceled at the end of the billing period</h3>
					
					<p><%= button_to "Reactivate my account", reactivate_subscription_path, class: 'submit', method: 'put' %></p>

				<% elsif resource.good_standing? %>

				<% else %>
					<h3>Your account is canceled or overdue.</h3>

					<p>Please re-enter your credit card to reactivate your account.</p>
				<% end %>
			</div>
		<% end %>
	</section>
	</div>
