
<script>
$(function() {
  $('#photo').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      $('#target').attr('src', file.target.result);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });

  function toggleAccountType(selected_type) {
    $('.account-type a').each(function() {
      if ($(this).data('account-type') == selected_type) {
        $(this).removeClass('inactive');
        $(this).find('i').show();
      } else {
        $(this).addClass('inactive');
        $(this).find('i').hide();
      }
    });
    $('.account-type input[type=hidden]').val(selected_type);
  } 

  $('.account-type').on('click', 'a', function() {
    if ($(this).is('.inactive')) {
      toggleAccountType($(this).data('account-type'));
    } 
  });
});
</script>

<style>
	.label-left {
		font-size: 16px;
		width: 160px;
		margin-left: 50px;
	}
	.label-left.multiple {
		margin-top: -15px;
	}	
	
	.input-right {
		width:400px;
	}
	.form-question-horizontal {
		max-width: 100%;
		margin: 0;
	}
	
	.photo {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	
	.photo + label {
	  display: inline-block;
		margin: 0 auto;
		color: #FFF !important;
		font-family: 'rooney-sans', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
		border: 0;
		text-decoration: none;
		display: inline-block;
		border-radius: 5px;
		font-size: 18px;
		margin: 0;
		padding: 8px 20px 10px;
		line-height: 1;
		cursor: pointer;
	  background: #8c6eb9;
		transition: background 0.1s ease;
		width: auto; 
		display: inline-block; 
		text-align:center; 
		padding: .5em 1em; 
		margin: 0 auto;
	}

	.photo:focus + label,
	.photo + label:hover {
		background: #302f29;
	}
	
	.photo + label {
		cursor: pointer; /* "hand" cursor */
	}
</style>

<p style="text-align: center; margin: 1em 0 0;">
<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true" style="color: #aacfe0; vertical-align: 1px; margin: 1em .25em 1em -.25em;"></i> Discard changes'.html_safe, home_projects_path, :style => "text-decoration: none; color:#666;" %>
</p>

<div style="width: 700px; margin: 1em auto;">
		
		
		<!--
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>

	<section class="sign-in" style="margin: 0 auto 2em; width: 100%;">
		<% if current_user.past_due? %>
			<p style="color:red;">The credit card you gave us didn't work when we tried to bill you. Please update your credit card to restore your account.</p>

			<p><%= link_to "Update credit card", update_subscription_creditcard_path, data: { 'no-turbolink' => '' } %></p>

			<% elsif current_user.canceled? %>
				<p style="color:red;">Your account was canceled, please reactivate your account to continue using Workshop.</p>

				<p><%= link_to "Reactivate my account", update_subscription_creditcard_path, data: { 'no-turbolink' => '' } %></p>
			<% end %>

			<% unless current_user.past_due? || current_user.canceled? %>-->

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
			<%= image_tag(f.object.photo.url, :style => "width: 100px; border-radius: 100px; display: block; margin: 0 auto;", id: "target") if f.object.photo? %>

			<div style="margin: 1em 0; width:100%; text-align:center;">
				<%= f.file_field :photo, :class => "photo", :id => "photo" %>
			
				<label for="photo">Change your photo</label>
			</div>		
	
		<div class="form-question-horizontal">
		  <div class="label-left">
		    <p>Your name</p>
		  </div>

		  <div class="input-right">
				<%= f.text_field :name, autofocus: true %>
		  </div>
		</div>
		
		<div class="form-question-horizontal">
		  <div class="label-left">
		    <p>Your email</p>
		  </div>

		  <div class="input-right">
				<%= f.email_field :email %>
		  </div>
		</div>
		
		<div class="form-question-horizontal">
		  <div class="label-left">
		    <p>New password</p>
		  </div>

		  <div class="input-right">
				<%= f.password_field :password, autocomplete: "off", placeholder: "Leave blank to keep current password" %>
		  </div>
		</div>
		
		<div class="form-question-horizontal">
		  <div class="label-left multiple">
		    <p>Confirm new password</p>
		  </div>

		  <div class="input-right">
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
		  </div>
		</div>
		
		
	  <%= render("registrations/freelancer_details", f: f) if resource.freelancer? %>

		<%= render("registrations/client_details", f: f) if resource.client? %>
		
		<div class="form-question-horizontal">
		  <div class="label-left">
		    <p>Why are you on Folyo?</p>
		  </div>

      <section class="account-type" style="float: right; margin: -2.75em auto 0; width: 505px; padding: 0; line-height: 1.6;">
        <%= f.hidden_field :account_type %>
        <a href="javascript:" class="<%= 'inactive' if !f.object.freelancer? %>" data-account-type="freelancer" style="margin-right: .5em; padding: .5em 1em;">I'm a freelancer<i <%= 'style=display:none;' if !f.object.freelancer? %> class="fa fa-check" aria-hidden="true"></i></a><br>

        <a href="javascript:" class="<%= 'inactive' if f.object.freelancer? %>" style="padding: .5em 1em;" data-account-type="client">I'm a client<i <%= 'style=display:none;' if f.object.freelancer? %> class="fa fa-check" aria-hidden="true"></i></a>
      </section>
		</div>

		<div style="width:700px; margin:2em auto; padding: 1em 0; text-align:center; border-top: 1px solid #dee5e9;">
			<%= f.submit "Save your profile", id: 'form-submit', :style => "margin: 1em auto;" %>
		</div>

		<% end %>
		

		<div class="wrap800" style="max-width: 400px; width: 100%; margin: 3em auto 1em; padding: 1em 2em .25em; background-color: #f7f7f7; border-radius: .5em; box-sizing: border-box;">
			
			<h2 style="margin: 0;">Pro Billing</h2>

			<% unless resource.canceling? %>
				<p><strong>You're currently paying $<%= resource.subscription.plan.price %></strong> <%= resource.subscription.plan.interval_text %></strong></p>

				<p style="font-size: 14px;">Your next payment is on <%= current_user.billing_period_end %>. <%= link_to "Update credit card", update_subscription_creditcard_path, data: { 'no-turbolink' => '' } %> (ending: -<%= current_user.last4 %>)<br></p>

			<% end %>

				<% if resource.canceling? %>
					<h3>Your account will be canceled at the end of the billing period</h3>
					
					<p><%= button_to "Reactivate my account", reactivate_subscription_path, class: 'submit', method: 'put' %></p>

				<% elsif resource.good_standing? %>

				<% else %>
					<h3>Your account is canceled or overdue.</h3>

					<p>Please re-enter your credit card to reactivate your account.</p>
				<% end %>
			</div>
		<% end %>
	</section>
	</div>
