<%= form_for @lead, html: { multipart: true } do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @approved_lead.nil? %>
	<p>
		This is an RSS lead: <a href="<%= @approved_lead.link %>" target="_blank">Click here to review</a>.
		<input type="hidden" name="approved_link_id" value="<%= @approved_lead.id %>" />
	</p>
  <% end %>



  <%= f.text_field :name, :placeholder => "Name", :class => "short" %>
  <%= f.text_field :email, :placeholder => "Email", :class => "short", :style => "width: 301px !important;" %>

  <%= f.text_field :website, :placeholder => "Website URL", :class => "short", :style => "margin-left: 0 !important;width: 182px !important;" %>
  <%= f.text_field :twitter, :placeholder => "Twitter URL", :class => "short", :style => "width: 150px !important;"  %>
  <%= f.text_field :linkedin, :placeholder => "Linkedin URL", :class => "short", :style => "width: 150px !important;"  %>


				<strong>Photo:</strong> <%= f.file_field :image, :style => "display: inline-block; width: 449px;" %><br>




		<br>
		
    <%= f.text_field :title, :placeholder => "Title of Lead (Type of project, company name, & company description)"  %>
		<%= f.text_field :url, :placeholder => "URL of Lead" %>
				<%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"}, :style => "width: 100% !important; display: inline-block; margin: 1em 0 !important;" %> 
    

		<strong>Budget:</strong> $ <%= f.text_field :budget, :style => "display:inline; width: 10em;", :placeholder => "10000" %>


    <%= f.text_field :notes, :placeholder => "Notes (like phone number)", :class => "short", :style => "width: 250px !important; margin-left: .25em !important;" %>		

		
		<br>
		   <%= f.text_area :description, :placeholder => "Project Description - What is the project? Who is the company?", :class => "short", :style => "width: 100% !important; margin-left: .25em !important; height: 300px;" %>	
		
		
		<br><br>
    <%= f.submit %>

<% end %>
