<% if advanced_search? %>
	<div style="display: table; width: 100%;">
		<%= form_tag(leads_path, method: :get) do -%>
			<input type="hidden" name="advanced" value="true" />
			<h3>Advanced Search</h3>
			<div style="display:table;  width: 100%;">
				<ul class="lead-category" style="list-style-type: none; padding: 0; line-height: 2; margin: 0 0 2em 0;">
					<% Category.all.each do |c| %>
						<li style="display: inline-block; margin-right: 1em; width: 110px;">
							<%= check_box_tag "category_ids[#{c.id}]", c.id, category_checked?(c), :name => "category_ids[]" %>
							<strong><%= label_tag "category_ids_#{c.id}", c.name, :style => "text-transform:none;" %></strong>
						</li>
					<% end %>
				</ul>
			</div>
			<div style="display:table;  width: 100%;">
				<%= select_tag "after", options_for_select(search_period_options, params[:after]), allow_blank: true, :style => "width: 150px; display: inline-block; margin: 0 .5em 0 0;" %>
				<%= text_field_tag :keyword, params[:keyword], placeholder: "Keyword Search", :class => "search-bar", style: "display: inline-block;" %>
				<%= submit_tag "Search", :class => "search-button" %>
				<%= link_to "Clear Search", leads_path, style: "margin-left: 10px;" %>
			</div>
		<% end %>
		<hr/>
	</div>
<% else %>
	<div style="display: table; width: 100%;">
		<%= form_tag leads_path, method: :get do %>
			<div style="display:table;  width: 100%;">
				<center>
				<h1>Recent leads</h1>
				<em>Looking for more? <%= link_to "Search All Leads", leads_path(advanced: true), :class => "button, search-button" %></em>
				</center>
				<hr>
			</div>
		<% end -%>
	</div>
<% end %>

<% if @leads.blank? %>
	<h2>No leads match your search terms.</h2>
<% end %>
