<div style="display: table; width: 100%;">
		<%= form_tag(leads_path, method: :get) do -%>
			<input type="hidden" name="advanced" value="true" />
			<h3 style="margin:1em 0 .25em;">Search Filters</h3>
			<div style="display:table;  width: 100%;">
				<ul class="lead-category" style="font-size: 15px; list-style-type: none; padding: 0; line-height: 2; margin: 0;">
					<% Category.all.each do |c| %>
						<li style="display: inline-block; margin-right: .5em;">
							<%= check_box_tag "category_ids[#{c.id}]", c.id, category_checked?(c), :name => "category_ids[]", :style => "" %>
							<strong><%= label_tag "category_ids_#{c.id}", c.name, :style => "text-transform:none;padding-right: 1em; padding-left: .5em; vertical-align: -1px;" %></strong>
						</li>
					<% end %>
				</ul>
			</div>
			
			<div style="display:table;  width: 100%; margin: 0;">
				<%= select_tag "after", options_for_select(search_period_options, params[:after]), allow_blank: true, :style => "width: 145px; display: inline-block; margin: 0 .5em 0 0 !important;" %>
				<%= text_field_tag :keyword, params[:keyword], placeholder: "Keyword Search", :class => "search-bar", style: "margin: 0 .5em 0 0 !important; width: 300px !important; height: 35px;" %>
				<%= submit_tag "Search", :class => "search-button", :style => "display: inline-block;margin-right:.5em !important;" %>
				<%= link_to "Clear Search", leads_path(advanced:true), style: "font-size: 16px;" %>
			</div>
		<% end %>
	</div>

<% if @leads.blank? %>
	<h2>No leads match your search terms.</h2>
	<hr>
<% end %>
