<% content_for :title, "All Leads" %>

<style>
a.favorite {float: right; border: 1px solid #2996bf; padding: 0 .35em; border-radius: 4px;}
a.favorite:hover { background-color: #2996bf; color: white;}
</style>


<div class="content">

	<a href="/leads" style="margin: 5em auto 3em; display: table;"><i class="fa fa-long-arrow-left"></i> Back to Recent Leads</a>
	
<div style="width: 35em; margin: 0 auto;">
	<h1>Every Lead We've Sent</h1>
	<table style="margin: 0 0 2em 0; width: 35em;">
	  <tbody>
	    <% @leads.most_recently_updated.each do |lead| %>
	      <tr>
	        <td style="border-bottom: 1px solid #ccc;padding: 1em 0;">
						


						<h3 style="margin: 1em 0 0;"><%= lead.title %></h3>
						<p style="opacity: .6; font-size: 14px; margin: .125em 0;max-width: 30em;white-space: nowrap;
						  overflow: hidden;
						  text-overflow: ellipsis;"> Original Post: <a href="<%= lead.url %>" style=""><%= lead.url %></a></p>
						<p style="margin: .5em 0 0;"><%= lead.notes %></p>
						
						<%= image_tag lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
						<p style="font-size: 16px; margin: .5em 0;">
							Name: <%= lead.name %></strong>
						<br>Email: <%= mail_to lead.email %>
						<br>
						</p>
						
												<p style=" margin: .5em 0;"><span style="opacity: .6;">Posted on <%= lead.created_at.strftime("%b. %d %Y") %></span> <a href="#" class="favorite">Add to Favorites</a></p>
					</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>


</div>

</div>