
<div class="content">


<div style="width: 30em; margin: 0 auto;">
	<h1>Every lead we've ever found:</h1>


		<table style="margin: 0 0 7em 0; width: 30em;">
		  <tbody>
		    <% @leads.today.most_recently_updated.each do |lead| %>
		      <% if lead.present? %>
		        <tr>
		          <td style="padding-right: 2em;"><span style="color: #19963C; font-size: 14px; font-weight: 500;">Created Today!</span> <%= link_to lead.email, edit_lead_path(lead) %></td>
		          <td><%= link_to  '<i class="fa fa-trash-o"></i>'.html_safe, lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        </tr>
							<tr>
								<td colspan="2" style="padding: .25em 0 1em 0; font-size: 80%;"></td>
							</tr>
		      <% end %>
		    <% end %>
		  </tbody>

		  <tbody>
		    <th colspan="2"><p style="color: #888888; font-weight: normal; text-align: left;"><br>Regular Leads (most recent first):</p></th>
		    <% @leads.most_recently_updated.each do |lead| %>
		      <tr>
		        <td><span style="font-size: 80%"><%= lead.created_at.strftime("%d %b. %Y") %></span> <%= link_to lead.email, edit_lead_path(lead) %></td>
		        <td><%= link_to  '<i class="fa fa-trash-o"></i>'.html_safe, lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
					<tr>
						<td colspan="2" style="padding: .25em 0 1em 0; font-size: 80%;"></td>
					</tr>
		    <% end %>
		  </tbody>
		</table>


	<table>
	  <tbody>

	    <% @exclusives.today.most_recently_updated.each do |exclusive| %>
	      <% if exclusive.present? %>
	        <tr>
	          <td style="padding-right: 2em;"><span style="color: #19963C; font-size: 14px; font-weight: 500;">Created Today!</span> <%= link_to exclusive.email, edit_exclusive_path(exclusive) %></td>
	          <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, exclusive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </tr>
						<tr>
							<td colspan="2" style="padding: .25em 0 1em 0; font-size: 80%;"></td>
						</tr>
	      <% end %>
	    <% end %>

	  </tbody>
	  <tbody>
	    <th><p style="color: #888888; font-weight: normal; text-align: left;"><br>Workshop-Exclusive Leads (most recent first):</p></th>
	    <% @exclusives.most_recently_updated.each do |exclusive| %>
	      <tr>
	        <td style="padding-right: 2em;"><span style="font-size: 80%"><%= exclusive.created_at.strftime("%d %b. %Y") %></span> <%= link_to exclusive.email, edit_exclusive_path(exclusive) %></td>
	        <td><%= link_to  '<i class="fa fa-trash-o"></i>'.html_safe, exclusive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>	
					<tr>
						<td colspan="2" style="padding: .25em 0 1em 0; font-size: 80%;"></td>
					</tr>
	    <% end %>
	  </tbody>
	</table>
</div>


</div>