<% content_for :title, "Favorite Leads" %>

<div class="index-leads-wrapper">
	<% if admin_signed_in? %>
		<p>
			Admin Options:
			<%= link_to "New Lead", new_lead_path, :class => "button" %>

			<%= link_to "Upload RFP", new_rfp_path, :class => "button" %>
			<hr>
		</p>
	<% end %>


	<%= render "layouts/top_menu" %>

		
		<p style="font-size: 16px; margin: 0 0 1em 0; padding:0 0 1.5em;">
			<%= image_tag "pro-leads.png", style: "height:40px; display: inline-block; padding: .25em 1em; margin: 2em 0 -1em;  vertical-align: -5px;" %>
			<span style="padding: 2.5em 0 0;">
			<i class="fa fa-check-circle" aria-hidden="true" style="color: #75b350;"></i> You're subscribed to PRO Leads. We save you time by building you a list of leads to contact everyday.
			</span>
		</p>
				
		
		<div style="width: 900px; margin: 0 auto;">

			<%= link_to "PRO Leads", leads_path(advanced:true), :class => "workflow-tab" %>
			<%= link_to "Favorites", favorites_path, :class => "workflow-tab active" %>
			
			<hr style="margin: 0 0 1em;">
				
		</div>		
		
	

	<% unless current_user.favorite_leads.blank? %>
	
	<h3 style="text-align:left; background-color: #fffbb4; margin: 1em 0 -.5em -1em; padding: .2em .5em .25em; border-radius: 5px; font-size: 18px;">To Contact </h3>


		<div class="index-leads wrap" style="margin: 1em 0 0; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">		

		    <% @current_user.favorite_leads.moved_to_to_contact.each do |favorite_lead| %>
		      
				<a  style="height: 50px; padding-top: .65em;" class="job"  href="<%= url_for(favorite_lead.lead) %>">
					
											<span style="display: inline-block; width: 750px !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; font-size: 16px;"><%= favorite_lead.lead.title %></span>
										
											</a>	

									<span style="float: right; margin: -1.9em .5em 1em 0; display: inline-block;">
									<%= link_to "&darr;".html_safe, contacted_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button" %>
									<%= link_to "&times;".html_safe, favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button", data: { confirm: 'This will remove it from your follow-up list. Are you sure?' } %>
									</span>

		    <% end %>
	</div>
	
	
	
	<h3 style="background-color: #ffddda; text-align:left; margin: 1em 0 -.5em -1em; padding: .2em .5em .25em; border-radius: 5px; font-size: 18px;">Waiting to Hear Back</h3>

		<div class="index-leads wrap" style="margin: 1em 0 0; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">		

		    <% @current_user.favorite_leads.moved_to_waiting_to_hear_back.each do |favorite_lead| %>
		      
				<a  style="height: 50px; padding-top: .65em;" class="job"  href="<%= url_for(favorite_lead.lead) %>">
					
											<span style="display: inline-block; width: 750px !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; font-size: 16px;"><%= favorite_lead.lead.title %></span>
										
											</a>	

									<span style="float: right; margin: -1.9em .5em 1em 0; display: inline-block;">
									<%= link_to "&uarr;".html_safe, need_to_email_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button" %>
									
									<%= link_to "&darr;".html_safe, responded_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button" %>
									
									<%= link_to "&times;".html_safe, favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button", data: { confirm: 'This will remove it from your follow-up list. Are you sure?' }  %>
									</span>

		    <% end %>
	</div>
	

	
	
	<h3 style="background-color:  #daffe1; text-align:left; margin: 1em 0 -.5em -1em; padding: .2em .5em .25em; border-radius: 5px; font-size: 18px;">In Conversation</h3>

		<div class="index-leads wrap" style="margin: 1em 0 0; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">		

		    <% @current_user.favorite_leads.moved_to_in_conversation.each do |favorite_lead| %>
		      
				<a  style="height: 50px; padding-top: .65em;" class="job"  href="<%= url_for(favorite_lead.lead) %>">
					
											<span style="display: inline-block; width: 750px !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; font-size: 16px;"><%= favorite_lead.lead.title %></span>
										
											</a>	

									<span style="float: right; margin: -1.9em .5em 1em 0; display: inline-block;">
									
									<%= link_to "&uarr;".html_safe, contacted_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button" %>
									
									<%= link_to "&darr;".html_safe, touch_base_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button" %>
									
									<%= link_to "&times;".html_safe, favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button", data: { confirm: 'This will remove it from your follow-up list. Are you sure?' } %>
									</span>

		    <% end %>
	</div>


	
	<h3 style="background-color: #d1e9ff; text-align:left; margin: 1em 0 -.5em -1em; padding: .2em .5em .25em; border-radius: 5px; font-size: 18px;">Staying in Touch</h3>

		<div class="index-leads wrap" style="margin: 1em 0 5em ; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">		

		    <% @current_user.favorite_leads.moved_to_staying_in_touch.each do |favorite_lead| %>
		      
				<a  style="height: 50px; padding-top: .65em;" class="job" href="<%= url_for(favorite_lead.lead) %>">
					
											<span style="display: inline-block; width: 750px !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; font-size: 16px;"><%= favorite_lead.lead.title %></span>
										
											</a>	

									<span style="float: right; margin: -1.9em .5em 1em 0; display: inline-block;">
									
									<%= link_to "&uarr;".html_safe, responded_path(id: favorite_lead.lead.id), method: 'put', :class => "followup-list-action-button" %>
									
									<%= link_to "&times;".html_safe, favorite_lead_path(favorite_lead.lead, type: "unfavorite"), method: :patch, :class => "followup-list-action-button", data: { confirm: 'This will remove it from your follow-up list. Are you sure?' } %>
									</span>

		    <% end %>
	</div>

	<%= will_paginate @leads unless params[:advanced].blank? %>
	
	<% else %>
		<center>
			<h1 style="font-size: 25px; margin: 2em 0 0;">Keep your entire pipeline on this page.</h1>
					
			<p>Add a lead to this list by favoriting it & you'll get a reminder to stay in touch every week.</p>
					
			<a href="/leads?tutorial=true" class="button" style="display: inline-block; margin: 2em auto 0;">Add leads now</a>
		</center>
	<% end %>
	
	
</div>
