<% content_for :title, "Favorite Leads" %>

<style>
a.favorite {float: right; border: 1px solid #2996bf; padding: 0 .35em; border-radius: 4px;}
a.favorite:hover { background-color: #2996bf; color: white;}
</style>


<div class="wrapper">
	
		<a href="/leads" style="margin: 2em auto 3em; display: table; font-size: 20px;">Back to Recent Leads</a>
	
		<div style="display:table;  width: 100%; text-align: center;">
			<h1>Leads You've Favorited</h1>
			<p><em>Want to download this list (as a CSV)? (Coming soon)</em></p>
			<hr style="margin: 2em 0 0 0;">
		</div>


	<table style="margin: 0; width: 35em;">

	  <tbody>
	    <% @current_user.favorites.each do |lead| %>
	      <tr>
	        <td style="border-bottom: 1px solid #ccc;padding: 0 0 1em;">
						<p style="margin: 1em 0 0; font-size: 20px;"><strong><%= lead.title %></strong></p>
						<p style="color: #666; font-size: 14px; margin: .125em 0;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 560px;"> Original Source: <a href="<%= lead.url %>" style="color: #666;"><%= lead.url %></a></p>
						<p style="margin: .5em 0 0;"><%= simple_format(lead.description) %></p>
						<% if lead.image.file? %>
						  <%= image_tag lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
						<% else %>
						<% end %>
						<p style="font-size: 16px; margin: .5em 0;">
							Name: <%= lead.name %></strong>
						<br>Email: <%= mail_to lead.email %>
						<br>
						</p>
						<p style=" margin: .5em 0;"><span style="color: #666; font-size: 14px;">Posted on <%= lead.created_at.strftime("%b. %d %Y") %> in <%= lead.category_name %></span> 
						
					

						  <%= link_to "Remove from Favorites", favorite_lead_path(lead, type: "unfavorite"), method: :patch, :style => "float: right;" %>

						 </p>
					</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<%= will_paginate @leads unless params[:advanced].blank? %>

	<div style="width: 100%;text-align:center; font-size: 23px; line-height: 5em;">
	<a href="/users/edit">Edit Your Subscription</a>
	</div>



</div>
