<% content_for :title, "Favorite Leads" %>

<style>
a.favorite {float: right; border: 1px solid #2996bf; padding: 0 .35em; border-radius: 4px;}
a.favorite:hover { background-color: #2996bf; color: white;}
</style>


<div style="width: 35em; margin: 0 auto 10em;">
	
		<a href="/leads" style="margin: 2em auto 3em; display: table; font-size: 20px;"><i class="fa fa-long-arrow-left" style="font-size: 90%; margin-right: .25em;"></i> Back to Recent Leads</a>
	
	<h1>Leads You've Favorited
			<span style="margin: -1.5em 0 0; display: table; width: 100%; text-align: right; font-size: 16px;"><a href="#">Download as CSV</a> (coming soon)</span>
		</h1>
	

	
	
	<hr>
	
	<table style="margin: 0 0 1em 0; width: 100%;">
	  <tbody>
	    <% @leads.most_recently_updated.limit(10).each do |lead| %>
	      <tr>
	        <td style="border-bottom: 1px solid #ccc;padding: 1em 0 2em;">
						


						<p style="margin: 1em 0 0; font-size: 22px;"><%= lead.title %></p>
						<p style="color: #666; font-size: 14px; margin: .125em 0;"> Original Source: <a href="<%= lead.url %>"><%= lead.url %></a></p>
						<p style="margin: .5em 0 0;"><%= lead.notes %></p>
						
						<%= image_tag lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
						<p style="font-size: 16px; margin: .5em 0;">
							Name: <%= lead.name %></strong>
						<br>Email: <%= mail_to lead.email %>
						<br>
						</p>
						
												<p style=" margin: .5em 0;"><span style="color: #666; font-size: 14px;">Posted on <%= lead.created_at.strftime("%b. %d %Y") %> in <%= lead.category_name %></span> <a href="#" style="color: #666; float:right;">Unfavorite</a></p>
					</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<div style="width: 100%;text-align:center; font-size: 23px; line-height: 5em;">
<a href="/leads"><i class="fa fa-long-arrow-left" style="font-size: 90%; margin-right: .25em;"></i> Back to Recent Leads</a>
</div>


</div>
