<div style="width: 35em; margin: 0 auto 10em;">
	
	<h1>These people were recently looking to hire someone like you:</h1>
	
	<table style="margin: 0 0 2em 0;border-bottom: 1px solid #ccc;">
	  <tbody>
	    <% @leads.most_recently_updated.limit(10).each do |lead| %>
	      <tr>
	        <td>
						<h3 style="margin: 1em 0 0;"><%= lead.title %></h3>
						<p style="margin: .5em 0 0;"><%= lead.notes %></p>
						<p style="font-size: 90%;">Contact: <%= lead.name %></strong>
						<br>Email: <%= mail_to lead.email %>
						<% if lead.website.present? %><br> Website: <a href="<%= lead.website %>"><%= lead.website %></a><% end %> 
						<% if lead.twitter.present? %><br> Twitter: <a href="<%= lead.twitter %>"><%= lead.twitter %></a><% end %> 
						<% if lead.linkedin.present? %><br> Linkedin: <a href="<%= lead.linkedin %>"><%= lead.linkedin %></a> <% end %> 
						<% if lead.budget.present? %><br> Budget: $<%= lead.budget %><% end %>
						<br>Original Post: <a href="<%= lead.url %>"><%= lead.url %></a>
						<br><span style="font-size: 80%; opacity: .6;">Posted on <%= lead.created_at.strftime("%b. %d %Y") %></span>
						</p>
					</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<span style="font-size: 23px;">
<a href="./all">View all Leads</a>
<a href="./favorite" style="float: right;">Favorited Leads</a>
</span>


</div>
