<% content_for :title, "Recent Leads" %>


<div class="index-leads-wrapper">
	<% if admin_signed_in? %>
		<p>
			Admin Options:
			<%= link_to "New Lead", new_lead_path, :class => "button" %>

			<%= link_to "Upload RFP", new_rfp_path, :class => "button" %>
			<hr>
		</p>
	<% end %>


	<%= render "layouts/top_menu" %>

		
		<p style="font-size: 16px; margin: 0 0 1em 0; padding:0 0 1.5em;">
			<%= image_tag "pro-leads.png", style: "height:40px; display: inline-block; padding: .25em 1em; margin: 2em 0 -1em;  vertical-align: -5px;" %>
			<span style=" padding: 2.5em 0 0;">
			<i class="fa fa-check-circle" aria-hidden="true" style="color: #75b350;"></i> You're subscribed to PRO Leads. We save you time by building you a list of leads to contact everyday.
			</span>
		</p>
				
		
		<div style="width: 900px; margin: 0 auto;">

			<%= link_to "PRO Leads", leads_path(advanced:true), :class => "workflow-tab active" %>
			<%= link_to "Favorites", favorites_path, :class => "workflow-tab" %>
			<hr style="margin: 0;">
			<%= render "search" %>
				
		</div>		
		
		
		
				<div class="index-leads wrap" style="margin: 1em 0 0; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">		
					
		    	<% @leads.most_recent.each do |lead| %>
		

						
						<a class="job" href="<%= url_for(lead) %>" style="height: 50px; padding-top: .65em;">
							
							
							<% if admin_signed_in? %>
							<% else %>
								<% unless current_user.favorites.include?(lead) %>
									<%= image_tag 'star.png', :style => "vertical-align: 5px; width: 15px; padding:0 0; margin-right: .5em;" %>
								<% else %>								
									<%= image_tag 'starred.png', :style => "vertical-align: 5px; width: 15px; padding:0 0; margin-right: .5em;", :title => "You favorited this lead" %>

								<% end %>
							<% end %>
							
							
							
							<span style="display: inline-block; width: 750px !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; font-size: 16px;"><%= lead.title %></span>
							

							
							
							<span class="company"  style="display: inline-block;"><img src="http://www.google.com/s2/favicons?domain_url=<%= lead.url %>" align="left" style="margin-right: .5em; padding: 1px 0 0;"> <%= lead.created_at.strftime("%b. %d %Y") %></span>
						
							
						</a>
						
					<% end %>
				</div>				
			
				
		    <% unless params[:advanced].blank? %>
		    	<tr>
						<td style="border-bottom: 1px solid #ccc;"><%= will_paginate @leads %></td>
					</tr>
				<% end %>
	
	
	

	<%= render "layouts/footer_menu" %>
</div>
