<% content_for :title, "Recent Leads" %>
<style>

a.favorite {
	font-size: 16px;
	font-family: 'concourse_c4regular', Lucida Grande, sans-serif;
	text-transform: lowercase; 
  border-radius: 8px;
  padding: 7px 16px 8px 16px;
	float: right;
	text-align: center;
	color:#666;
	text-decoration: none;
	margin-top: -3.5em;
	background-color: #eee;
}

a.favorite:hover { 
	background-color: #e66125; 
	color: white;
}

input.search-bar { 
	width: 175px !important; 
	height: 30px; 
	margin: 0 !important;
	margin-right: .25em;

}

input.search-button {
	margin-left: .5em;
	font-size: 14px !important;
}

td.lead:hover > .show-hover {
  visibility: visible;
  opacity: 1;
}

td.lead {
	margin: 2em 0; padding: .5em 1em; border-bottom: 1px solid #ccc;
	transition: box-shadow .1s linear;
}

.show-hover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.tooltip {
	display:inline;
  position:absolute;
	background-color: #222;
  color:#fff;
	border-radius: 5px;
  padding: 5px 10px;
	font-size: 16px;
}

.tooltip span.left:before{
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid black;
  left:-8px;
  top:20px;
}

.tooltip span.right:before{
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left:8px solid black;
  right:-8px;
  top:20px;
}

.tooltip span.bottom:before{
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
	border-width:8px 8px 0; 
	border-style:solid; 
	border-color: black transparent;
  left: 45%;
  bottom: -8px;
}

.bounce {
  -webkit-animation: bounce .4s ease infinite alternate;
  -moz-animation: bounce .4s ease infinite alternate;
  -ms-animation: bounce .4s ease infinite alternate;
  -o-animation: bounce .4s ease infinite alternate;
  animation: bounce .4s ease infinite alternate;
}

@-webkit-keyframes bounce { 
  from { }
  to { -webkit-transform: translateY(-5px); }
}
@-moz-keyframes bounce { 
  from { }
  to { -moz-transform: translateY(-5px); }
}
@-ms-keyframes bounce { 
  from { }
  to { -ms-transform: translateY(-5px); }
}
@-o-keyframes bounce { 
  from { }
  to { -o-transform: translateY(-5px); }
}
@keyframes bounce { 
  from { }
  to { transform: translateY(-5px); }
}

.lead-title { margin: 1em 0 0; font-size: 20px; }

.lead-url {color: #666; font-size: 14px; margin: .125em 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 51em;}

.tip-one { margin-left: -160px; margin-top: 5px; width: 125px !important; display: inline-block;}

.workflow-tab {
	font-size: 16px; margin-left: .5em; padding: .25em 1em; margin-bottom: 2em; border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #eee; color: #888; font-family: 'concourse_c4regular', Lucida Grande, sans-serif;  text-transform: lowercase; text-decoration: none; vertical-align: 0px;
}
.workflow-tab.active {
	vertical-align: 0; background-color: #fff; color: #222;  bottom: -20px; border: 1px solid #ccc; border-bottom: 0; vertical-align: -1px;
}


</style>


<div class="wrapper">
	<% if admin_signed_in? %>
		<p>
			Admin Options:
			<%= link_to "New Lead", new_lead_path, :class => "button" %>

			<%= link_to "Upload RFP", new_rfp_path, :class => "button" %>
			<hr>
		</p>
	<% end %>

	<% if advanced_search? %>


		<p  style="margin: 1em 0; font-size: 15px; text-align: right; color: #666;">
			<a style="margin-right: .5em" href="/users/edit">Account Settings</a> | 
			<%= link_to "Log out", destroy_user_session_path, method: :delete, :style => "margin-left: .5em;" %></p>
		</p>

		<center>
			<%= image_tag("consulting-leads-search.png", :style => "display: inline-block; margin: 1em auto 0; height: 90px;") %>
			<p style="margin: 1em 0 2em;">Search through every lead I've ever sent <strong> - over 2600+ high-quality gigs.</strong></p>
		</center>


			<%= link_to "Most Recent", leads_path, :class => "workflow-tab" %>
			<%= link_to "Search All Leads", leads_path(advanced: true), :class => "workflow-tab active" %>
			<%= link_to "Your Follow-up List", favorites_path, :class => "workflow-tab" %>


	<% else %>

		<p  style="margin: 1em 0; font-size: 15px; text-align: right; color: #666;">
			<a style="margin-right: .5em" href="/users/edit">Account Settings</a> | 
			<%= link_to "Log out", destroy_user_session_path, method: :delete, :style => "margin-left: .5em;" %></p>
		</p>

		<center>
			<%= image_tag("consulting-leads.png", :style => "display: inline-block; margin: 1em auto 0; height: 90px;") %>
			<p style="margin: 1em 0 2em;">I find new leads daily & send them to you <strong> - every weekday at 8:00 am EST.</strong></p>
		</center>


			<%= link_to "Most Recent", leads_path, :class => "workflow-tab active" %>
			<%= link_to "Search All Leads", leads_path(advanced: true), :class => "workflow-tab" %>
			<%= link_to "Your Follow-up List", favorites_path, :class => "workflow-tab" %>

	<% end %>

	<table style="margin: 0;" class="leads-index-wrapper">

		<thead style="font-weight: 300; text-align: left;">
			<tr>
				<th style="font-weight: 300; padding: 0;">
					<%= render "search" %>	
				</th>
			</tr>
		</thead>

	  <tbody>
	    <% @leads.most_recent.each do |lead| %>
	      <tr>
	        <td class="lead">
						<p class="lead-title"><strong><%= lead.title %></strong></p>

						<p class="lead-url">
							<img src="http://www.google.com/s2/favicons?domain_url=<%= lead.url %>" align="left" style="margin-right: .5em; padding: 3px 0 0;"> <a href="<%= lead.url %>" style="color: #666;"><%= lead.url %></a>
						</p>
						
						<p style="margin: .5em 0 0;"><%= simple_format(lead.description) %></p>
						
						<% if lead.image.file? %>

						<%= image_tag lead.image.url(:medium, timestamp: false), :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
						
						<% else %>
								<%= image_tag "missing.png", :style => "width: 50px; height: 50px; border-radius: 65px; margin: 1em 0 0;"  %>
						<% end %>
							
						<p style="font-size: 16px; margin: .5em 0;"> Name: <%= lead.name %></strong>

							<br>Email: <%= mail_to lead.email %>
							<br>
						</p>
						
						<p style=" margin: .5em 0;"><span style="color: #666; font-size: 14px;">Posted on <%= lead.created_at.strftime("%b. %d %Y") %> in <%= lead.category_name %></span> 
						
							<% if admin_signed_in? %>
								<span style="float: right; color: #666; font-size: 14px;"> Admin Options: <%= link_to 'Edit', edit_lead_path(lead) %>, <%= link_to 'Delete', lead_path(lead), method: :delete, data: { confirm: 'Are you sure?' } %></span>
							<% else %>

								<% unless current_user.favorites.include?(lead) %>
											
									<p class="tooltip arrow bounce show-hover" style="margin-left: 33.5em; margin-top: -130px; width: 155px !important; display: inline-block;"><span class="bottom"></span>Interested? Add this lead to your follow-up list.</p>


									<%= link_to "Add to Follow-up List", favorite_lead_path(lead, type: "favorite"), method: :patch, :class => "favorite", target: '_blank' %>

								<% else %><span style="float: right; color: #666; font-size: 14px;">Added to Follow-up List.</span>
								<% end %>
							<% end %>
						</p>

					</td>
	      </tr>
	    <% end %>
	    <% unless params[:advanced].blank? %>
	    	<tr>
					<td style="border-bottom: 1px solid #ccc;"><%= will_paginate @leads %></td>
				</tr>
			<% end %>
	  </tbody>

	</table>

	<%= render "footer" %>	
</div>
