<section class="nav-tab">
<p>Preview emails: <%= link_to 'All Leads', upload_path %> <%= link_to 'Design Leads', upload_design_path %> <%= link_to 'Development Leads', upload_development_path %></p>
</section>


<section class="loose-wrap">
<!-- <%= link_to image_tag("workshop-logo-big.png"), root_path, :class => 'logo' %>  -->


<h1>Workshop-exclusive leads <%= link_to 'New Workshop Exclusive Lead', new_exclusive_path, class: "emphasis" %></h1>
<table>
  <tbody>

    <% @exclusives.today.each do |exclusive| %>
      <% if exclusive.present? %>
        <tr>
          <td style="padding-right: 2em;"><span style="color: #19963C; font-size: 14px; font-weight: 500;">Created Today!</span> <%= link_to exclusive.title, edit_exclusive_path(exclusive) %></td>
          <td><%= link_to 'Destroy', exclusive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
  <tbody>
    <th><p style="color: #888888; font-weight: normal; text-align: left;">All Leads:</p></th>
    <% @exclusives.each do |exclusive| %>
      <tr>
        <td style="padding-right: 2em;"><%= link_to exclusive.title, edit_exclusive_path(exclusive) %></td>
        <td><%= link_to 'Destroy', exclusive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<h1>Workshop leads <%= link_to 'New Lead', new_lead_path, class: "emphasis" %></h1>
<table>
  <tbody>
    <% @leads.today.each do |lead| %>
      <% if lead.present? %>
        <tr>
          <td style="padding-right: 2em;"><span style="color: #19963C; font-size: 14px; font-weight: 500;">Created Today!</span> <%= link_to lead.title, edit_lead_path(lead) %></td>
          <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

  <tbody>
    <th><p style="color: #888888; font-weight: normal; text-align: left;">All Leads:</p></th>
    <% @leads.each do |lead| %>
      <tr>
        <td style="padding-right: 2em;"><%= link_to lead.title, edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>