<section class="leads-wrap breathe-bottom">
  <%= image_tag "confetti.png", :style => "max-width:100%;" %>
<h1 style="margin: 0 0 0 0;">So, today's the day! Welcome inside.</h1>
<p style="margin: 1em auto 1.5em auto">You picked a beautiful day to join Workshop! Here are the most recent Workshop leads. All of these people were recently looking for a freelancer just like you:</p>

<div class="leads">
<% @exclusives.recent_onboard.most_recent.each do |exclusive| %>
  <div class="exclusive">
    <hr>
    <div class="image-wrap"><%= image_tag exclusive.pic.url(:thumb, timestamp: false), :class => "image" %></div>
    <h1><%= exclusive.title %></h1>
    <h2><%= exclusive.category %></h2>
    <strong>Company:</strong> <a href="<% exclusive.website %>"><%= exclusive.website %></a><br>
    <strong>Budget:</strong> $<%= exclusive.budget %><br>
    <strong>Name:</strong> <%= exclusive.name %></p>
    <p><strong>Description</strong><br>
    <%= h(exclusive.description).gsub(/\n/, '<br/>').html_safe %></p>
    <p><strong>To apply</strong><br>
    <a class="email" href="MAILTO:<%= exclusive.email %>"><%= exclusive.email %></a></p>
    <h4>This lead is only shown to Workshop members, so you have a great chance of landing it.</h4>
  </div>
<% end %>

<% @leads.recent_onboard.most_recent.group_by(&:category).each do |category, leads| %>
<%= render :partial => 'lead_display', :locals => { :category => category, :leads => leads }   %>
<% end %>
<hr>
</div>

<section style="margin: 0 0 5em 0;">
<h2>Please note:</h2>
<p>If you somehow arrived at this page without knowing what Workshop is, please know that it's a paid service. I make a living from this content. I'm just one guy who decided to start his own website, so please don't be a douche and steal from me by viewing it for free.</p>
<p>I decided to not protect this page because I wanted to make it easy for my members to see it but I will be tracking it pretty closely to see who visits and how they got here. If you want to get these leads sent to you or learn more about my service, it's called <%= link_to 'Workshop', root_path %> and it's fffffabulous.</p>
</section>

</section>




