<section class="nav tab">
<p>Preview emails: <%= link_to 'All Leads', upload_path %> <%= link_to 'Design Leads', upload_design_path %> <%= link_to 'Development Leads', upload_development_path %></p>
</section>
<section class="leads-wrap breathe-bottom">
<h1 style="margin: 1em 0 1em 0;">Leads appearing in the next design email:</h1>
<div class="leads">
<!--Doesn't change-->
<%= render 'lead_render_design' %>
<hr>
</div>
<p><%= link_to 'Go Back', leads_path %></p>
</section>
