<div class="content">
	<h1>Import Customers</h1>

	<table style="margin: 0 0 2em 0;">
		<thead>
			<tr>
				<th>Name</th>
				<th>Plan</th>
				<th>Renew</th>
				<th>Stripe cust id</th>
				<th>Period Start</th>
				<th>Period End</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
	  <tbody>
		  <% @customers.each do |customer| %>
			<tr>
				<td><strong><%= customer.name%></strong></td>
				<td><%= customer.memberful_plan_id %></td>
				<td><%= customer.renews %></td>
				<td><%= customer.stripe_customer_id %></td>
				<td><%= customer.subscription_start.strftime("%m-%d-%Y") %></td>
				<td><%= customer.subscription_end.strftime("%m-%d-%Y") %></td>
				<td><%= "Imported" if customer.user_id.present? %></td>
			</tr>
		<% end %>
	  </tbody>
	</table>

	<%= form_for :imported_plan, url: save_imported_customers_path do |f| %>
		<%= f.submit "Import Memberful Subscriptions into Stripe" %>
	<% end %>
</div>
