<div class="content">
	<h1>Import Plans</h1>

	<table style="margin: 0 0 2em 0;">
	  <tbody>
		  <% @plans.each do |plan| %>
			<tr>
				<td colspan="4" style="padding-top:15px;"><strong><%= plan.name%></strong></td>
			</tr>
			<tr>
				<td>Memberful id: <%= plan.memberful_id %></td>
				<td>Price: <%= plan.price%></td>
				<td>Period: <%= plan.interval_unit%></td>
				<td><%= "Imported" if plan.plan.present? %></td>
			</tr>
		<% end %>
	  </tbody>
	</table>

	<%= form_for :imported_plan, url: save_imported_plans_path do |f| %>
		<%= f.submit "Import Memberful Plans into Stripe" %>
	<% end %>
</div>
