<div class="content">
<% content_for :title, "Your biggest questions about freelancing, answered." %>


<!-- Twitter code -->
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

<script>
$(document).on('click','.searchbychar', function(event) {
    event.preventDefault();
    var target = "#" + this.getAttribute('data-target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 2000);
});
</script>

<p style="position: fixed; top: 1em; right: 1em; font-size: 12px; display: table;"><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://letsworkshop.com/advice"
  data-via="letsworkshop"
  data-text="Your biggest freelancing questions answered in one place"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>

<div class="book-cover">
<h1>The freelancer's guide to finding and winning better client work online</h1>
<h2><%= link_to "by Workshop", root_path %> • <%= link_to "Get Email Updates", freelancing_path %>
<a href="http://letsworkshop.com"><%= render 'tagline' %></a></h2>



</div>

<hr>



<h3 class="topic-section">
	<% @faqs.most_recently_updated.limit(1).each do |faq| %>
		<%= link_to "Latest <span>#{faq.question}</span>".html_safe, faq_path(faq)%>
	<% end %>
</h3>

<h3 class="topic-section">Introduction</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Introduction'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Finding potential clients</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Finding potential clients'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Marketplaces and job boards</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Marketplaces and job boards'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Using email to land work</h3>
<ul class="topic-list">
	<li><a class="topic-chapter" href="http://emailsthatwin.com">Cold emails</a></li>
	<% @faqs.where("category ilike 'Marketplaces and job boards'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Upsell opportunities</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Upsell opportunities'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Following up</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Following up'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>

<h3 class="topic-section">Appendix</h3>
<ul class="topic-list">
	<% @faqs.where("category ilike 'Appendix'").each do |faq| %>
		<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	<% end %>
</ul>






</div>
