<script>
$(document).on('click','.searchbychar', function(event) {
    event.preventDefault();
    var target = "#" + this.getAttribute('data-target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 2000);
});
</script>
<section class="global-nav">
	<ul>
	<li><a href="http://emailsthatwin.com">Emails that win book</a></li>
	<li><a href="http://letsworkshop.com">Freelance jobs emailed to you</a></li>
	<li><a href="http://letsworkshop.com/connect">Hire a freelance for your project (free)</a></li>
	</ul>
</section>
<section class="loose-wrap" name="top">
<h1>Your biggest freelancing questions answered.</h1>
<hr>
<%= image_tag('people.png', :style => 'width:200px; float:left; margin: 1em 1em 0em -1em;') %>

<p style="margin:2.5em 0 3em 0;"><strong>It's easy to feel like you're alone when you run a consultancy.</strong> That's why one of the best things about <a href="http://letsworkshop.com">my lead-generation service for freelancers</a> is the community of knowledge we share. Hundreds of world-class consultants helping one another. Collectively, they created more value than I ever could and so it's with great excitement I present this help page.</p>

<p class="help-note" style=""><strong>The answers on this page were mostly written by <a href="http://letsworkshop.com">Workshop</a> members.</strong> They're questions we've all asked about freelancing at one point or another, collected for you in one place. I'd appreciate if you shared and saved this page as I'll continue to update it moving forward.<br>
<a href="http://letsworkshop.com">Go here for more information on Workshop and to get access to this expertise on-demand.</a></p>

<h3>START HERE:</h3>

<ul>
<li><a href="/">How can I make finding freelance work easier on myself?</a></li>
</ul>

<% @faqs.group_by(&:category).each do |category, faqs| %>
<h3><%= category %>:</h3>
	<ul>
	<% faqs.each do |faq| %>
		<li><a href="<%= faq.anchor %>"><%= faq.question %></a></li>
  <% end %>
	</ul>
<% end %>

<br>
<hr>

<% @faqs.group_by(&:category).each do |category, faqs| %>
	<% faqs.each do |faq| %>
		<div id="<%= faq.anchor %>">
			<br>
			<h3><%= faq.question %></h3>
			<blockquote>
				<%= faq.answer %>
			</blockquote>
			<% if faq.notes.present? %>
			<p><strong>Further reading:</strong></p>
			<p><%= faq.notes %></p>
			<% end %>
			<a style="font-size: 10px;" href="#top">Back to top</a>
			</div>
			<br>
			<hr>	
  <% end %>
<% end %>








<h3>Questions about emailing freelance clients and leads</h3>

<ul>
<li><a href="#picking-leads">How should you pick which freelance leads to respond to?</a></li>
<li><a href="#lmk">What’s the most common reason for not hearing back from the people you email?</a></li>
<li><a href="#bad-email">What’s a bad email to send to a freelance prospect?</a></li>
<li><a href="#magic-email">How do you revive dead deals, cold leads, and ignored emails?</a></li>
<li><a href="#follow-up">How do you follow up over email?</a></li>
<li><a href="#scope-creep">What’s the best way to renegotiate with a client following scope creep?</a></li>
<li><a href="#manage-leads">How do you manage client leads?</a></li>
<li><a href="#ideas">How do I give ideas to a client?</a></li>
<li><a href="#email-automation">How can I use email automation to land clients?</a></li>
<li><a href="#why—you-no-hire">Should I ask a client why they didn’t hire me?</a></li>
<li><a href="#testimonials">How do I get testimonials from freelance clients?</a></li>
<li><a href="#testimonials">How do you ask for great testimonials?</a></li>
<li><a href="#more-comfortable">How do I make clients more comfortable about hiring me?</a></li>
</ul>

<h3>Questions about productized consulting</h3>

<ul>
<li><a href="#burn-out">How do I separate my time from my income so that I don’t burn out?</a></li>
<li><a href="#passive-income">What are some ways to get passive income as a freelancer?</a></li>
<li><a href="#price-sensitive">What do you do when a client is too price-sensitive?</a></li>
<li><a href="#freelance-onboarding">How do you improve your freelance onboarding process?</a></li>
<li><a href="#autoresponders">How can you use autoresponders on your freelancing site?</a></li>
</ul>

<h3>Questions about freelancing in general</h3>

<ul>
<li><a href="#referrals">What’s the best way to ask for referrals from freelance clients?</a></li>
<li><a href="#accountable">How do I stay accountable as a freelancer?</a></li>
<li><a href="#dead-beat">What do you do when a client doesn’t want to pay?</a></li>
<li><a href="#freelance-categories">What categories of freelance work are the best?</a></li>
<li><a href="#freelance-mastermind">What is a freelance mastermind group?</a></li>
<li><a href="#ask-clients">What should I ask clients when I meet them?</a></li>
<li><a href="#differentiate-yourself">How do you differentiate yourself as a freelancer?</a></li>
<li><a href="#fire-client">How do you fire a client?</a></li>
<li><a href="#steps">What are the steps every freelance project goes through?</a></li>
<li><a href="#mockups">How do you present design mockups to a client?</a></li>
<li><a href="#paid-on-time">How do you make sure you get paid on time as a freelancer?</a></li>
<li><a href="#traffic">How do I get more traffic to my portfolio / freelancer website?</a></li>
<li><a href="#drop-rates">Should I drop my rates? How do I get a client to reveal their budget?</a></li>
<li><a href="#define-what-you-do">How do you define what you do to clients?</a></li>
<li><a href="#budget-too-low">How to tell a client their budget is too low?</a></li>
<li><a href="#rfp">How do you respond to RFPs, are they worth it?</a></li>
<li><a href="#feedback">How do you ask for feedback after a job?</a></li>
</ul>

<h3>Questions about getting started as a freelancer</h3>

<ul>
<li><a href="#skills">What skill should you learn if you want more freelance clients?</a></li>
<li><a href="#reasons">What are some good reasons for becoming a freelancer?</a></li>
<li><a href="#spec-work">How do you say no to spec work as a freelancer?</a></li>
<li><a href="#spec—work">How do you handle spec work requests?</a></li>
<li><a href="#introvert">How do you freelance as an introvert?</a></li>
<li><a href="#salary">How much do freelancers make?</a></li>
<li><a href="#intimidation">How can you stop being intimidated by freelance business?</a></li>
<li><a href="#organize-client-files">How do you organize client files?</a></li>
<li><a href="#outside-safe-zone">How do you handle projects that are outside of your safe zone?</a></li>
<li><a href="#ask-about-budget">How do you ask a client about their budget?</a></li>
<li><a href="#insurance">What should you do about insurance when you’re a self-employed freelancer?</a></li>
<li><a href="#beating-crowdsource">How do you compete with 99designs?</a></li>
</ul>

<h3>Questions about Workshop</h3>

<ul>
<li><a href="#specialty">Will Workshop work for me if I specialize in a certain type of lead?</a></li>
<li><a href="#how-many-replies">How many people reply to a lead that’s on Workshop?</a></li>
<li><a href="#customize-leads">Will you allow me to only get one certain type of lead in my emails (for example only rails projects)?</a></li>
<li><a href="#team-license">Can I share Workshop leads with the rest of my team?</a></li>
</ul>

<br>
<hr>


<div id="picking-leads">
	<br>
	<h3>How should you pick which freelance leads to respond to?</h3>
	<blockquote>
	<p>My process is to ask myself these questions when I see a lead come in:</p>
	<ol>
	<li><strong>Does it seem interesting to work on?</strong> Note: this does not mean “do I have the skills”, it literally means, ”does it seem interesting". I have gotten to work on some pretty cool projects by doing this. Typically, I can hire people to get myself out of a tight spot if I get in above my head.</li>
	<li><strong>Is the budget even worth my time?</strong> I usually only go for projects whose budget are $10k or greater. If they don’t have a budget listed, you can usually ballpark based on research of their company or organization. Funny enough, clients have been known to disqualify themselves based on your reach out email. They know if their budget is too low, and they’ll pick up that you’re not going to take any BS from them. If they say something like “sorry, you charge too much.” Just move on. Not worth your time fighting it, they are looking for a budget deal.</li>
	<li><strong>Can I provide direct immediate value in my reach out email?</strong> (This is how you get responses.) Some kind of suggestion, write up I’ve done, or connection I can make for them that holds real value and can help them out whether I work with them or not.</li>
	<li><p><strong>Do I have an “in” via a previous project or connection through my network somehow?</strong></p></li>
	</ol>
	<p>1 &amp; 2 are required. 3 is a priority. 4 is a bonus. I sort and prioritize and reach out depending on my pipeline and time.</p>
	<p>If it’s an RFP or has completely formalized specs, I just stay away. Those just aren’t for me right now. Create a set of questions that define what you need and follow this process.</p>
	<p>Answer by Jared Short</p>
	</blockquote>
	<a style="font-size: 10px;" href="#top">Back to top</a>
</div>

<br>
<hr>

<div id="lmk">

<h3>What’s the most common reason I’m not hearing back the leads I email?</h3>
<blockquote>
<p>Not being clear about what you want the person you're emailing to do is the most common reason for not hearing back. One sure-fire way to tell if you're doing this is if you're abusing the phrase:</p>
<p>“Let me know how I can help.”</p>
<p>I’ve said it myself in countless emails, and when I said it I honestly thought I was being helpful. It felt like the right way to end an email. Heck, it seemed professional.</p>
<p>But inevitably conversations with new clients reach a point where we needed to discuss solutions, and I thought by letting the client dictate what they wanted from me, I was allowing them to get exactly what they were looking for.</p>
<p>But the reality was this was A LOAD OF SHIT. By ending my emails like this, I was dropping a wheel-barrel full of work on my client’s desk, and saying “here, you deal with it.”</p>
<p>It reeked of incompetence.</p>

	<p>After all, these were the very problems I was being paid to solve.</p>

	<p>So I began to do the complete opposite and prescribe solutions at the end of every email.</p>

	<p>At first, I felt like I was encroaching onto the client’s domain, and barking orders.</p>

	<p>Could I really boss the client around and tell them what they needed to do? It was definitely intimidating… at first.</p>

	<p>Slowly, though, I noticed a change. Clients were increasingly respondent to my emails. Even prospects were beginning to chirp back to me more times than not.</p>

	<p>Just by suggesting a next step at the end of my email, I was able to double the amount of people who responded to me.</p>

	<p><strong>This next step was different for every emails, but it always followed the same 2-step structure. I would include 1) my suggested next step and 2) what we could do if they don’t want to do that.</strong></p>

	<p>Sometimes every line in my email would lead up to this two-step solution. Sometimes the solution was the entire email.</p>

	<p>If someone wanted a meeting, I’d suggest a time and instead of saying, “Let me know if this works for you.” I’d switch that out for, “If not, than X time/day also works or I’m free at X time/day.”</p>

	<p>Think about that. You’re not just saving yourself the extra time of writing two separate emails, you’re saving you (and your client) the time in between these emails.</p>

	<p>That set the tone that my time was money.</p>

	<p>Beyond just setting the tone though, it actually proved I was a professional capable of making the right decisions by exhibiting these qualities instead of just claiming them. In a way, it showed my hands wouldn’t have to be held throughout the entire project. At the very least, it signaled my clients would just have to muster a “sounds good” in order to reply to my emails (I made sure that was the case throughout the project too).</p>

	<p>Most of all though, it meant I was shoveling work away from my client and taking the burden on myself. This is the entire point of freelancing, TO TAKE WORK AWAY FROM OUR CLIENTS. That’s how I look at every interaction now.</p>

	<p><strong>You’re probably ending a lot of emails with “let me know.”</strong></p>

	<p>That’s okay. Most people end emails like that. In fact, when put at the end of an email, our brains automatically transform the phrase “let me know” to “I just got to the end of this email, and I don’t know what to write next so there.”</p>

	<p>Here’s how you stop writing emails in this way:</p>

	<ol>
	<li>Before writing an email, start by knowing what next-step you’re going to propose, then write down that part first. Do this for every email.</li>
	<li>When you write your email, don’t begin by wandering aimlessly from topic to topic. Make every sentence re-enforce the next-step you’re suggesting.</li>
	<li>By the time you get to the bottom of your email and it’s time to propose the next step, you’re done. You’ve already written that.</li>
	<li>A good rule of thumb is: if a client can just reply “sounds good” to your email, you’re right on.</li>
	</ol>
	</blockquote>
<p><strong>Further reading:</strong></p>
<p><a href="http://emailsthatwin.com"><%= @book_upsell %></a></p>

	<a style="font-size: 10px;" href="#top">Back to top</a>
</div>
<br>
<hr>

<div id="bad-email">

<h3>What’s a bad email to send to a freelance prospect?</h3>
<blockquote>
<p>Here’s a great example of an email that gives you no chance of hearing back from a potential client. </p>


<p>"Hi, i’m replying to your post looking for a freelancer."</p>


<p>This person will never hear back because they’ve clearly not taken the time to write a real message. Instead of just shooting off the first email that comes to mind:</p>

<ul>
<li>
	<p>Read the job post carefully and get an idea of the underlying business outcome they need.</p>
</li>
<li><p>Use their website, emails, twitter, and any other background information to learn more about the type of person you’ll be emailing.</p></li>
<li><p>Write a custom, tailored email that is conversational and to the point:</p>
<ol>
<li><p>Start the email off with a first name and a line that shows you actually read their job post.</p></li>
<li><p>Tell them why you are replying to the job post and what you love about their project. </p></li>
<li><p>Don’t talk about your portfolio or experience, instead talk about what a successful project could look like.</p></li>
<li><p>Make it easy for them to reply and get started with the next step. For example, someone should be able to reply “sounds good” to your email.</p></li>
</ol>
</li>
</ul>
</blockquote>
<p><strong>Further reading:</strong></p>
<p><a href="http://emailsthatwin.com"><%= @book_upsell %></a></p>
<a style="font-size: 10px;" href="#top">Back to top</a>
</div>

<hr>

<div id="magic-email">

<h3>How do you revive dead deals, cold leads, and ignored emails?</h3>

<blockquote>
	<p>Here’s an email I picked up from Blair Enns. It’s revived cold leads, dead deals, and gotten responses to ignored emails.</p>


<p>It’s simple:</p>

<p>“I haven’t heard back from you on [project/opportunity] so I’m going to assume you’ve gone in a different direction or your priorities have changed.”</p>

<p>I use it pretty regularly. it works because it makes it clear to the recipient that you’ve moved on. Since people are loss averse, their natural inclination is to say “Wait!” and open the deal.</p>

<p>Try it out. I’m sure you have sales leads you haven’t heard back from. Email them this and see what they say. You have nothing to lose.</p>

<p>Answer by Kurt Elster</p>
</blockquote>

<p><strong>Further reading:</strong></p>
<p><a href="http://emailsthatwin.com"><%= @book_upsell %></a></p>

<a style="font-size: 10px;" href="#top">Back to top</a>
</div>
<hr>

<div id="follow-up">
<h3>How do you follow up over email?</h3>
<blockquote>
<p>I’ve never been good at touching base. As a freelancer, this has cost me dearly. After all, you might not win business on the first contact with a prospect. It may take many touches to enter a business relationship. </p>
<p>One of my follow up success stories is from a few years ago. I recently moved to Japan and met up with another software developer living in the area who I met on an online forum.</p>
<p>We didn’t keep in touch but 9 months later, I sent him an email out of the blue seeing how he was doing. He had started his own software consultancy in the meantime and replied:</p>
<p>"By the way: I’ve been searching for a developer to help me (short term) on some projects, and I totally forgot to ask you.”</p>
<p>Since then, that relationship has resulted in $36,225.83 worth of business. Not bad for one follow up email.</p>
<p>A couple months ago, Robert sent out an email to Shed subscribers titled “What should I do RIGHT NOW to get an inbox full of clients later?” He showed how he sets up a label for prospects to remind himself to follow up. I saw how this is a huge problem for myself and other freelancers. There could be thousands of dollars in opportunities sitting in your email but they end up slipping away unless you have an easy follow up reminder system.</p>
<p>So I built <a href="https://touchingbase.io">TouchingBase</a> to help freelancers and consultants stay in touch with prospects and clients without the huge time hassle of setting up and using a CRM. I just launched it a couple weeks ago and have gotten some pretty good feedback on it.</p>
<p>Answer by Matt McCormick</p>
</blockquote>


<p><strong>Further reading:</strong></p>
<p><a href="http://emailsthatwin.com"><%= @book_upsell %></a></p>

<a style="font-size: 10px;" href="#top">Back to top</a>
</div>
<hr>
<div id="bad-email">

<h3>What’s a bad email to send to a freelance prospect?</h3>
<blockquote>


</blockquote>
<p><strong>Further reading:</strong></p>
<p><a href="http://emailsthatwin.com"><%= @book_upsell %></a></p>
<a style="font-size: 10px;" href="#top">Back to top</a>
</div>

<hr>


</section>
