<% content_for :title, "Workshop Help" %>
<script>
$(document).on('click','.searchbychar', function(event) {
    event.preventDefault();
    var target = "#" + this.getAttribute('data-target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 2000);
});
</script>
<section class="global-nav">
	<ul>
	<li><a href="http://emailsthatwin.com">Emails that win book</a></li>
	<li><a href="http://letsworkshop.com">Freelance jobs emailed to you</a></li>
	<li><a href="http://letsworkshop.com/connect">Hire a freelance for your project (free)</a></li>
	</ul>
</section>

<p style="position: fixed; top: .5em; right: 0; font-size: 12px; display: table;"><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://letsworkshop.com/advice"
  data-via="letsworkshop"
  data-text="Your biggest freelancing questions answered in one place"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>

<section class="loose-wrap faq" name="top">
<h1>Your questions about Workshop, answered.</h1>
<hr>

<% @faqs.workshop.group_by(&:category).each do |category, faqs| %>
	<ul style="margin: 2em;">
	<% faqs.each do |faq| %>
		<li><a href="#<%= faq.anchor %>"><%= faq.question %></a></li>
  <% end %>
	</ul>
<% end %>

<br>
<hr>

<% @faqs.workshop.group_by(&:category).each do |category, faqs| %>
	<% faqs.each do |faq| %>
		<div id="<%= faq.anchor %>">
			<br>
			<h3><%= faq.question %></h3>
			<blockquote>
				<%= markdown(faq.answer) %>
			</blockquote>
			<% if faq.notes.present? %>
			<p><strong>Further reading:</strong></p>
			<p><%= markdown(faq.notes) %></p>
			<% end %>
			<a style="font-size: 10px;" href="#top">Back to top</a>
			</div>
			<br>
			<hr>	
  <% end %>
<% end %>




</section>
