<%= @coupon_message %>
<%= favicon_link_tag 'favicon.ico' %>
<script>
$(document).scroll(function() {
  var y = $(this).scrollTop();
  if (y > 300) {/
    $('#tenfreeleads').fadeIn();
  } else {
    $('#tenfreeleads').fadeOut();
  }
});
</script>



<section class="reading-wrap">
	<center>
		<h1 class="jumbo" style="margin: 3em 0 0;">A tiny lead generation service helping freelancers like you make thousands of dollars each week.</h1>
		<h2 class="jumbo">Get emailed the best freelance gigs on the web everyday.</h2>
	</center>
</section>



<center>
<div class="people-clients"></div>	
</center>


<!--
<section class="nav fixed" id="tenfreeleads">
	<%= link_to image_tag("people.png", :style => "width: 150px; margin: 0 0 -10px -10px; display: inline;"), "#top" %>
	<br>
	<strong><%= link_to 'Get 10 Free Leads Now', "#top" %></strong>
</section>-->


<!--
<p class="tagline">I send people who need websites your way. This week alone I've sent more than <span>$<%= number_with_delimiter(@sent_this_week, :delimiter => ',') %></span> worth of work.</p>

<section class="loose-wrap"  style="text-align: center;">
<%= image_tag("workshop-freelancer.png", :id => "top") %>

<h1 style="margin: .5em auto;">Wrapping up a client project feels great… until you have to find the next one.</h1>

<p>Don't sit and wait for more work to fall into your lap. Get today's 10 best opportunities sent to your inbox right now.</p>

<p style="width:130px; height: 40px; float: left; position: absolute; font-size: 12px; color: #777; margin: 0em 0 0 -7em ; z-index: -2;">Average project<br> worth <strong>$1,000+</strong> <br> <%= image_tag("cta-arrow2.png", :style => "height: 140px; width: 190px; display: inline; margin: -6.45em 0 0 -1.5em; z-index: -1;") %></p>

<form class="drip-opt-in" action="https://www.getdrip.com/forms/9298754/submissions" method="post" target="_blank" data-drip-embedded-form="1306">

<input type="email" class="sample" name="fields[email]" value="" placeholder="Your email" /><br>
<input type="submit" class="buy" name="submit" value="Send me 10 people that need a website" data-drip-attribute="sign-up-button" style="margin:.75em 0 0 0;"/>
</form>
</section>

-->

<section class="reading-wrap">


<!--
<h1>I'll send you potential consulting clients you can email today, worth thousands.</h1>
<h1>Get ten right now. For free.</h1>

<p>They're opportunities I've hand picked for you, from all over the web. Each one is 100% remote, 100% freelance, and worth over $1,000 in project work. Give me your email and see for yourself. End your dry spell. Stop waiting for work to come to you.</p>
<center>
<form class="drip-opt-in" action="https://www.getdrip.com/forms/9298754/submissions" method="post" target="_blank" data-drip-embedded-form="1306">

<input type="email" class="sample" name="fields[email]" value="" placeholder="Your email" /><br>
<input type="submit" class="buy" name="submit" value="Tell me where to send your 10 leads" data-drip-attribute="sign-up-button" style="margin:.75em 0 0 0;"/>
</form>
</center>
<blockquote>I wrote to two contacts from the first Workshop email I got. I already made an appointment for a Skype call with one of the two. It’s 50% conversion for now, not bad at all ;) – Anton Sten</blockquote>
</section>


<section class="reading-wrap">
<hr>-->


<h1>You know your service could help thousands of businesses… so why does freelancing feel like a race to the bottom?</h1>

<p>Well first, you're not in direct contact with all of these businesses - and finding them  isn't exactly easy. You're already working too much. You have existing clients to take care of, important emails to check, and, your least favorite, fires to put out.</p>

<p>Doing lead generation on top of all of this sucks. Checking job boards every day (or worse: elance) just isn't the best use of your time... and you know it, that's why you put it off. After all, you want to do the work you love, not search for it. So instead you wait for work to come to you (read: do nothing).</p>

<p>... But putting it off only makes matters worse. Having no control over future work means instead of firing bad clients you're forced to put up with them forever. Instead of getting paid what you're worth, you have to take getting low-balled. Instead of knowing where your next project is going to come from, you're constantly worried about dry spells. It's not worth it.</p>




<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/kelster.jpg") %>
<cite><p>Kurt Elster</p></cite>
</td>
<td>
<p>&ldquo;My clients were always my priority but when I had too much client work, I neglected sales activities and my pipeline suffered. Since starting with Workshop, I've had an unbroken chain of daily lead generation activity no matter what. I use my inbox as a to-do list and every day that workshop email is a convenient reminder to get selling.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>


<h1>Don't believe internet comments, freelancing doesn't have to be feast or famine. You DON'T have to rely solely on referrals.</h1>



<p>It's time to do something about the holes in your sales funnel. You know your business needs access to all of the best opportunities out there. It doesn't matter what site they're posted on, great clients deserve to have access to your services and expertise – regardless of whether you remembered to check a job board that day.</p>

<p>But how? You know you can't be everywhere at once. You can't even imagine finding all of these opportunities yourself,  how are you going to also make time to contact them? You can't. You just need them delivered to you. That way, you can focus on selling your company, the thing you KNOW you can do – the thing you want to focus on.</p>

<blockquote class="twitter-tweet" lang="en"><p>Two <a href="https://twitter.com/letsworkshop">@letsworkshop</a> responses in a row, just from changing my email verbiage :) :) :) I can&#39;t believe it!</p>&mdash; Felipe Garcia (@talktofefo) <a href="https://twitter.com/talktofefo/status/583783816432615424">April 3, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/edavis.jpg") %>
<cite><p>Eric Davis</p></cite>
</td>
	
<td>
<p>&ldquo;Thought I'd send you an email to let you know that I've closed a $20K+ 
	project from Workshop, with a few more in the final stages.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>

<h1>You could accomplish so much more if you weren't worried about finding work. You could build a business you love everyday.</h1>


<p>If you woke up every day with a dozen great clients looking for your help, what would it mean to your business? Would your revenue double? Would it turn your on-the-side freelancing into a six-or-seven-figure consultancy?</p>

<p>If, overnight, you stopped wasting time looking for work and got them sent to you instead? If you could simply reply to people and projects you were excited to work for, straight from your inbox? If it took minutes (instead of hours) to fill your sales pipeline each morning and then you got to focus exclusively on billable work the rest of the day?</p>

<p>What then? Would you add that extra feature to your client's project and blow them away? Would you use the free time to go on a walk and clear your head? Or maybe you'd build that side-project you've been itching to work on?</p>

<blockquote class="twitter-tweet" lang="en"><p>I was very skeptical of a paid lead service at first, but I owe <a href="https://twitter.com/letsworkshop">@letsworkshop</a> for nearly 70% of this years income, and I started in August.</p>&mdash; Tyler van der Hoeven (@tyvdh) <a href="https://twitter.com/tyvdh/status/544558760513908736">December 15, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/ctiani.jpg") %>
<cite><p>Corey Tiani</p></cite>
</td>
	
<td>
<p>&ldquo;I like to focus on projects that are particularly interesting to me, and fit my skill set well. Amongst the work I scored from Workshop last year were two projects that have now blossomed into amazing client relationships and tens of thousands of dollars… with no end in sight. I was really on the fence about WorkShop (and freelancing in general), but I’ve gotten over my imposter-syndrome at this point and realize I can compete and score some of these great leads.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>



<h1>Let me send you the best leads on the web so you can wake up every morning focused solely on winning great-paying work.</h1>

<p>You might think this setup is impossible. However, for hundreds of consultancies in Workshop it's a reality. I've created a hands-free lead generation service for consultancies looking to make more money building websites (and apps, and logos, and more). From the day you sign up, you receive the highest quality leads on the web. Every opportunity from every nook and cranny on the web, pre-qualified and sorted into your inbox.</p>

<p>It's also super affordable. Even if you're just freelancing on the side, you can easily take advantage of my offer. It's the cost of a cup of coffee every day. But you won't love the service because it's cheap, you'll love it because it works. Because it's the best thing you can do for your business.</p>

<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/dmatheson.jpg") %>
<cite><p>David Matheson</p></cite>
</td>
	
<td>
<p>&ldquo;The day I took Workshop for a test drive, here's how it went down:</p>

<ul>
<li>8:30 am- signed up for Workshop</li>
<li>9:21 am- sent first email to lead</li>
<li>10:22 am- had phone interview with lead</li>
<li>10:40 am- received W-9 and project contract</li>
</ul>

<p>If this sounds ridiculous, it's because it is. And it actually happened.</p>

<p>Because of Workshop I'm starting to build an on-going relationship with a client, which is beyond worth the cost. I typically don't do reviews, rate things, etc, but this has to be said: Workshop is an incredibly EFFECTIVE tool, and a must-have for freelancers. Thanks so much!&rdquo;</p>
</td>
</tr>
</table>
</blockquote>


</section>

<section style="max-width: 780px; margin: auto;">
<div id="buy">
	
<h1>So, what does it look like?</h1>

<table class="benefits">
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
	<h2>See the best freelance opportunities.</h2>
	<p>Get 2400+ pre-sorted and pre-qualified job leads and rest knowing you don’t have to waste time searching for them.</p>
	</td>
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>
		<h2>Find the right clients.</h2>
		<p>Working with client’s you love by deciding who you want to work for, and not the other way around.</p>
	</td>
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>
	<h2>Win more work.</h2> 
	<p>Focus on crafting the perfect pitch by contacting real people everyday and seeing what works and what doesn't.</p>
	</td>	
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
	<h2>Effortlessly stay up to date.</h2> 
	<p>You're constantly updated about the latest opportunities from around the web. You have all of the best job boards monitored for you (new ones added daily).</p>
	</td>
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
		<h2>Find projects that are perfect for you.</h2> 
		<p>Quickly sort through the work by specialty and find what you’re looking for instantly.</p>
	</td>	
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
		<h2>Send better cold emails.</h2> 
		<p>Envision yourself working with clients before ever contacting them. Browse each lead’s photo, name, twitter, website and more and be totally informed when you reach out.</p>
	</td>	
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
		<h2>Own the relationship with your clients.</h2> 
		<p>There’s nothing between you and the clients I send you, you email them directly and start a private conversation. There’s no referral fees, no app, and no middleman.</p>
	</td>	
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
		<h2>Bid on big budget projects you won’t find anywhere else.</h2>  
		<p>There’s big budget projects that come in exclusively through Workshop you won’t find anywhere else that you have a high chance of winning because they’re only seen by a handful of freelancers.</p>
	</td>	
</tr>
<tr>
	<td><!--<%= image_tag("clients.png") %>--></td>
	<td>		
		<h2>Fill up your calendar with work months in advanced.</h2> 
		<p>Make it so easy to contact new work opportunities you can do it even when you’re fully-booked. That way you can make business decisions and enter new client meetings from a position of power and soundly.</p>
	</td>
</tr>
	<tr>
		<td><!--<%= image_tag("clients.png") %>--></td>
		<td>
		<h2>Never worry about finding work again.</h2> 
		<p>You'll get a daily stream of hand-picked remote freelance projects with budgets over $1000, meaning this is the only source of work you’ll ever need.</p>
		</td>
	</tr>
</table>
</section>

<!--
<p>Your subscription gets you a daily email with around ten of the best leads from all over the web, <strong>equaling over 2400 leads per year.</strong> You also get exclusive leads posted to Workshop – and no where else. These are five and six figure budget projects sent just to you. If you reach out to a few of these opportunities every day you'll make thousands of dollars every month. So don't wait. Sign up now.</p>
</section>

<section style="max-width: 900px; margin: auto;"><%= image_tag('workshop-email.png', :style => "width:100%; margin: 2em 0 -1em 0;") %></section>-->
<section class="reading-wrap">
<!--


-->

<center>
<h1 class="jumbo" style="margin: 2em 0 0;">I've already sent $<%= number_with_delimiter(@sent_this_week, :delimiter => ',') %> worth of work this week.</h1>
<a href="<%= @sales_link %>"><input type="submit" name="submit" value="Show me my future clients" data-drip-attribute="sign-up-button"  style="margin: 2em 0;" class="buy"></a>
</center>



<p style="text-align:center; margin: 0;">&ldquo;Totally a no-brainer for most freelancers.&rdquo;</p>

<p class="cite" style="text-align: center; padding-bottom: 1em; margin: 0 0 3em;">Ruben Gamez, Founder of <%= image_tag("bidsketch.png", :style => "width:5em;") %></p>


</div>
<hr>
<p style="text-align: left; width: 38em; margin: 2em;  display: table;">
<%= image_tag('theshedplus.png', :align => "left", :style => "margin: 0 2em 0 -2em; display:inline-block; ") %> Plus you get access to a community of freelancers and consultants ready to help you improve your business. <a href="/advice" target="_blank">Take a peek at past advice members have given.</a></p>

</section>


<section class="reading-wrap">
<hr>
<h1>There's absolutely zero risk. Get 100% of your money back if you don't like it, at any time.</h1>

<p>See like you, I know there are a ton of businesses who will benefit from working with me. That's why I'm making it a no-brainer for you by offering you a full refund if you're not completely blown away in the first thirty days.</p>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/gszurdoki.jpg") %>
<cite><p>Gábor Szurdoki</p></cite>
</td>
	
<td>
<p>&ldquo;I have ordered Workshop because it sounded like a dream way to receive possible leads. I hesitated for a while but ordered after a week. Robert wrote in one of his first emails, that it takes time and practice to actually land a project, and that it can take weeks or even months. I had no problem with that. Nevertheless, I landed my first project after just 4 or 5 days. The monthly cost of Workshop is covered already, and I still have weeks left from my first month. I keep being a Workshopper, thanks Robert!&rdquo;</p>
</td>
</tr>
</table>
</blockquote>

<h1>"So what happens if I don't like it?"</h1>

<p>No worries. There's a 30-day 100% satisfaction guarantee. Enjoy Workshop for a full month after your free trial, and if you don't like it for any reason, send me an email and I'll give you a refund. I don't want your money if you're not 100% blown away.</p>

<h1>"How many leads will be sent, and how often?"</h1>

<p>I usually send 8-10 leads per day. Sometimes more, <strong>but the whole point of Workshop is that I send fewer, better leads.</strong> I never send a lead just to hit a quota. In fact, Workshop's value is equally about the leads I don't send as it is about the ones I do. The thousands of leads I eliminate from your life completely make the handful I do send more important.</p>



<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/asten.jpg") %>
<cite><p>Anton Sten</p></cite>
</td>
	
<td>
<p>&ldquo;I wrote to two contacts from the first Workshop email I got. I already made an appointment for a Skype call with one of the two. It’s 50% conversion for now, not bad at all ;) Looking forward for the new email today&rdquo;</p>
</td>
</tr>
</table>
</blockquote>



<h1>"Will Workshop work for me if I specialize in a certain type of project?"</h1>

<p>Right now Workshop is mostly focused on web design and development. However, we have a steady amount of other leads coming in like mobile development, illustration, brand design, and other stuff.  I group leads in categories so you'll be able to quickly see if there's enough value for you.</p>

<p>If you’re still worried there may not be enough of your type of lead, the best advice I can give is to try it. There's a 30-day 100% money-back guarantee for this exact reason. I want to make sure there's zero-risk for you. Sign up and see for yourself.</p>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/ebetancourt.jpg") %>
<cite><p>Elliot Betancourt</p></cite>
</td>
	
<td>
<p>&ldquo;In seven months, I've closed 3 deals that total a little over $20,000-directly from the leads in Workshop. All three of these projects have led to long-term clients that continue to come back to me, so the value of these contracts continues to grow.</p>

	<p>One of the clients wanted a front-end developer, and now I am helping him build a travel booking engine. It has been a small but on-going project worth about $2,000 every month. Another client runs a successful e-Learning web application. I wrapped up the work that was in the scope of the project a few weeks ago, and just the other day, the client contacted me to see if I was available to take on some more work.</p>

	<p>The discussions on the Workshop Forum (The Shed) has proven incredibly valuable, and have done a lot to improve my response-rate when emailing leads, my technique for following up, as well as my business in general. Truth be told, I probably could have gotten even more work through Workshop, but when I am very busy, I am selective about which leads I contact. It's possible to actually wind up with more work than I can handle through Workshop! :-)</p>

	<p>BTW, I just closed another lead from Workshop, a deal to subcontract for a design agency. Its really great what you're doing!&rdquo;</p>
</td>
</tr>
</table>
</blockquote>



<h1>"How long have you been doing this, does it work?"</h1>

<p>I started doing this with select consultancies in November, 2013. Since then I've helped hundreds land work. Some have even made hundreds of thousands of dollars from my leads. Now, I focus on Workshop full-time, which wouldn't be possible if it didn't produce massive results for my customers.</p>


<center>
<h1>Get the best consulting opportunities on the web delivered to your inbox! Starting at only $99/month.</h1>
<a href="<%= @sales_link %>"><input type="submit" name="submit" value="Show me my future clients" data-drip-attribute="sign-up-button"  style="margin: 2em 0 2em;" class="buy"></a>
</center>



<p style="text-align:center; margin: 0;">&ldquo;Totally a no-brainer for most freelancers.&rdquo;</p>

<p class="cite" style="text-align: center; padding-bottom: 1em; margin: 0 0 3em;">Ruben Gamez, Founder of <%= image_tag("bidsketch.png", :style => "width:5em;") %></p>

</div>

<hr>
</section>

<div id="success">

<section class="loose-wrap">

<section class="reading-wrap">
<h1>Hundreds of freelancers have tried Workshop and loved it...</h1>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/mfalinski.jpeg") %>
<cite><p>Milosz Falinski</p></cite>
</td>
	
<td>
<p>&ldquo;I signed up about 2 months ago when I decided to move away from my full time job and transition into freelancing. I put together a simple portfolio and replied to 2-3 ads per day consistently. After a month of the free trial I had made over $3000 off of Workshop leads and also got offered a full-time contract ($100,000/year roughly). That's a bigger return than I ever expected. It's brought a ridiculous return and if I ever move to freelancing again, first thing I'll do is sign up for Workshop again.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>






<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/jshort.jpeg") %>
<cite><p>Jared Short</p></cite>
</td>
	
<td>
<p>&ldquo;Out of the 3 emails I’ve sent to to workshop leads, 2 replied and resulted in contracts for an estimated total of $42,000 worth of work, 10% equity in a company, and $1000/mo retainer.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/tnevis.jpg") %>
<cite><p>TJ Nevis</p></cite>
</td>
	
<td>
<p>&ldquo;Workshop has been a success: I have a monthly contract and 2 recurring contacts that I do deals with every couple of months, all 3 of which I found through Workshop.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/jswett.jpg") %>
<cite><p>Jason Swett</p></cite>
</td>
	
<td>
<p>&ldquo;Landed a couple clients through Workshop in the last week or so. I worked on my email template following the advice you give in the course, then got in touch with them and closed the deal. Getting the emails and applying to them has also helped me gain more confidence when I apply to other leads found outside of Workshop.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>


<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/jdejene.jpg") %>
<cite><p>Joe Dejene</p></cite>
</td>
<td>
<p>&ldquo;This service is filling up my pipeline faster than anything else I've tried!&rdquo;</p>
</td>
</tr>
</table>
</blockquote>

<blockquote>
<table>
<tr>
<td>
<%= image_tag("testimonials/jwold.jpeg") %>
<cite><p>Joshua Wold</p></cite>
</td>
	
<td>
<p>&ldquo;Since using Workshop I have seen excellent results toward bringing in new business. I was able to start a connection with a lead that has brought in over $2700 in projects, with more planned in the near future. I'm also in talks with another great organization that may result in ongoing projects as well. I read through every Workshop lead and typically followup with one each day. It lets me put to rest how I get clients so that I'm able to focus on automating this part of my business.&rdquo;</p>
</td>
</tr>
</table>
</blockquote>


<hr>





</section>
</section>

<section class="loose-wrap">

<%= render 'courseoptin' %>

</section>


<%= render 'navigation' %>


