
<section class="nav tab">
<p style="text-align: right;"><%= link_to 'Workshop', root_path %> <%= link_to 'Popular Resources', popular_path, :style => "background-color: #FFF; padding: 1em;" %> <%= link_to 'Post Your Project Free', connect_path %></p>
</section>
<section class="nav fixed">
	<%= link_to 'Post Your Project Free', connect_path %>
</section>
<%= link_to image_tag("workshop-logo-big.png"), root_path, :class => 'logo' %>

<section style="width: 840px; margin: auto;">
<h1>My most popular resources for getting better consulting clients</h1>

<section style="margin: auto; display: block; width: auto;">
<div class="resource">
	<a href="http://2015freelancetools.com">
	<%= image_tag("resources/2015.png") %>
	<p>2015's Best Freelance Tools</p>
	</a>
</div>
<div class="resource">
	<a href="http://wonderfulfeedback.com">
	<%= image_tag("resources/feedback.png") %>
	<p>Useful Client Feedback Generator</p>
	</a>
</div>
<div class="resource">
	<a href="http://wonderfulfeedback.com">
	<%= image_tag("resources/feedback.png") %>
	<p>The Web as a Sales Letter</p>
	</a>
</div>
<div class="resource">
	<a href="http://2013freelancetools.com">
	<%= image_tag("resources/2013.png") %>
	<p>The Email Line That's Client Repellant</p>
	</a>
</div>
</section>
<div class="resource">
	<a href="http://wonderfulfeedback.com">
	<%= image_tag("resources/feedback.png") %>
	<p>A common sales letter</p>
	</a>
</div>
<div class="resource">
	<a href="http://wonderfulfeedback.com">
	<%= image_tag("resources/feedback.png") %>
	<p>Deleted My Portfolio, Made 30K</p>
	</a>
</div>
<div class="resource">
	<a href="http://2013freelancetools.com">
	<%= image_tag("resources/2013.png") %>
	<p>The Best Freelance Tools of 2013</p>
	</a>
</div>
</section>


</section>
<!--
<section class="display: table;">
<hr>
<center>

<h2 style="margin: .5em auto;">Learn to make an extra $5-6k per week starting with 10 leads + a course on getting clients.</h2>
<form class="drip-opt-in" action="https://www.getdrip.com/forms/9298754/submissions" method="post" target="_blank" data-drip-embedded-form="1306">

<input type="email" class="sample" name="fields[email]" value="" placeholder="Your email" /><br>
<input type="submit" class="sample" name="submit" value="Get Started" data-drip-attribute="sign-up-button" />
</form>
</center>
</section>-->