<script>
$(document).ready(function(){
  $('textarea, input').autosize();
});
</script>

<%= form_for(@project) do |f| %>
	<section class="basic-info" style="margin 1em 0; padding: .5em 0 0;">
		
		<form>
				<p class="question" style="text-align:center !important; display:block !important;">1. What kind of help do you need? <i class="fa fa-info-circle" aria-hidden="true" alt="Example: We need a designer with mobile experience that can do branding and interface design." ></i></p>
				<%= f.text_area :title, :autofocus => true, :placeholder => "We need...", :style => "margin-top: 2em; margin-bottom: 0; text-align: center; min-height: auto !important;", class: "answer" %>
			

		</form>
		
		<!--
		<form>
			<p class="question" style="text-align:center; font-size: 16px; color: #666; margin: 0;">
			
					<%= f.file_field :photo,  style: "font-size: 16px; width: auto !important; height: 20px !important; padding: 0 !important; margin: 0 !important;" %>, 
					<%= f.text_area :name, placeholder: "Your name", style: "font-size: 16px; width: auto !important; height: 20px !important; padding: 0 !important; margin: 0 !important;" %>,
					<%= f.text_area :organization, class: "one-sentence", style: "font-size: 16px; width: auto !important; height: 20px !important; padding: 0 !important; margin: 0 !important;", :placeholder => "Company" %>
			</p>
		</form>-->
		
		
		<div style="width: 600px;">
		<form>
						<p class="question">2. What are you trying to accomplish? <i class="fa fa-question-circle" aria-hidden="true" alt="Example: We've noticed a lot of people are using our site from their mobile phones but not buying our product, so we've decided to build a mobile app to convert more of this audience into customers." ></i></p>
						<%= f.text_area :goals, :placeholder => "We want to...", :style => "font-size: 19px; min-height: 20px !important; margin: 0 !important; padding: 0;", class: "answer" %>
			</form>

			<form>

				<p class="question">3. What does success look like for this project? <i class="fa fa-info-circle" aria-hidden="true" alt="Example: If we're able to overhaul the system and solve these problems, it would be a 20% increase in conversions. A 20% increase would bring an additional 10 customers a month. The lifetime value of a customer for us is $2,000." ></i></p>
				<%= f.text_area :examples, :placeholder => "If we're able to achieve our goals...", :style => "font-size: 19px;", class: "answer"  %>

	</form>
	
	<form>
			<p class="question">4. Why are you moving forward with this project now? <i class="fa fa-info-circle" aria-hidden="true" alt="Example: We want to launch in 3 months because that's when fantasy football season starts." ></i></p>
			<%= f.text_area :deadline,  :placeholder => "We want to...", :style => "font-size: 19px; min-height: 20px !important; margin: 0 !important; padding: 0;", class: "answer"  %>
	</form>

</div>
	</section>



	<section class="client-info">
		<h2 class="uppercase">Your profile</h2>



		<p class="label-left">Your email</p>
		<%= f.text_field :email, class: "one-sentence", placeholder: "namey@comparoony.com", style: "width: 500px;" %><br>


		<p class="label-left">Company logo</p>
		<%= f.file_field :company_logo, style: "margin: 0;" %><br>
		<p class="label-left-help-text">Also optional — Your logo will appear on Workshop's homepage and in your company info section.	300px wide is optimal. We'll resize automatically if it's wider than 300px.</p>

		<p class="label-left">Organization name</p>
		<%= f.text_field :organization, class: "one-sentence", style: "width: 500px;" %><br>	
		<p class="label-left">Your website</p>
		<%= f.text_field :website, class: "one-sentence", style: "width: 500px;" %><br>	
	</section>


	<section class="funny-info">
		<h2 class="uppercase">The million dollar question</h2>

		<p class="question">What's your company's spirit animal?</p>
		<%= f.text_field :spirit_animal, class: "one-sentence" %><br>	
	</section>

	<p style="text-align:center; display: block; margin: 3em 0 5em;">
		<%= f.submit "All done? Preview Your Ad", class: "button" %>
	</p>
<% end %>
