<%= form_for(@project) do |f| %>
  <div class="pin-t absolute bg-white pin-r w-full shadow flex items-stretch justify-end">
    <div>
      <%= link_to root_url %>
    </div>
    <div class="m-0 p-0">
      <%= f.submit(:class => "text-lg mr-4 my-4 bg-white border-l-2 px-6 hover:cursor-pointer") %>
    </div>
  </div>

  <div class="pt-8 px-2 text-2xl">
    <div class="project-title">
      <trix-editor autofocus class="w-full trix-project-title text-5xl text-grey-darkest font-display font-light" input="project_title" placeholder="Untitled"></trix-editor>
      <%= f.hidden_field :title  %>
    </div>

    <div class="project-description">
      <trix-editor class="trix-description" input="project_long_description" placeholder="Project description..."></trix-editor>
      <%= f.hidden_field :long_description %>
    </div>

    <% if @project.errors.any? %>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>


  </div>
<% end %>
