<script>
$(document).ready(function(){
  $('textarea').autosize();
});
</script>

<%= form_for(@project) do |f| %>
	
<h3 class="action-header" style="margin:  1em 0;">First, some overall stuff:</h3>

<div style="width: 770px; margin: 0 auto;">

<h3 class="form-header">Summary</h3>

	<div style="margin: .5em auto 1em;">
		<%= f.text_area :title, data: { max_characters: 1250 }, placeholder: "We're looking to redesign our website, and we need a freelancer to help with mockups and delivery." %>
		
		<div style="font-size: 15px; width: 255px; float:right;">
			1-2 sentences about the project itself. This will appear on the full listing. Focus on outcomes, not exactly what's needed!
		</div>
	</div>

	<h3 class="form-header">Long description</h3>

		<div style="margin: .5em auto 1em;">
			<%= f.text_area :goals, placeholder: "Four score...", :style => "min-height: 200px;" %>

			<div style="font-size: 15px; width: 255px; float:right;">
				This is where you go into as much detail as possible about what you need. Write as much as you want – the longer, the better.
			</div>
		</div>
	</div>
		

<h3 class="action-header" style="margin:  1em 0;">Then, the details:</h3>


<div style="width: 770px; margin: 0 auto;">
<h3 class="form-header">What does a home run look like for this project?</h3>

	<div style="margin: .5em auto 1em;">
		<%= f.text_area :goals, placeholder: "Doubled revenue, more customers, more page views, a boost to our mailing list, etc..." %>

		<div style="font-size: 15px; width: 255px; float:right;">
			Keep this one brief. Freelancers love knowing what your expectations are going into the project.
		</div>
	</div>


	<h3 class="form-header">How much do you think this project should cost?</h3>

		<div style="margin: .5em auto 1em;">
			USD $ <%= f.text_field :budget, placeholder: "500", :style => "width: 300px;" %>
			

			<div style="border: 3px solid #9d82c8; font-size: 15px; width: 370px; border-radius: 10px; float:right; margin-top: -2em; padding: .5em 1em; box-sizing: border-box;">
				<strong>Keep this number above $500.</strong><br> Folyo is only for high-value paid work. You need to pay your freelancer for the work they do.
			</div>
		</div>	

	<h3 class="form-header">Skills needed</h3>

		<div class="project-brief-category-choice-option">
			<fieldset class="half-left">				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Front-end (HTML/CSS)
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Graphic design/mockups
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Front-end development (JS)
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> UX/UI/Product development
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Illustration
				</div>
				
				<div class="project-category-checkbox-wrap">
					<%= f.text_field :budget, placeholder: "Other skills...", :style => "width: 200px;" %>
				</div>
			</fieldset>
			
			<fieldset class="half-right">				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> PHP
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Ruby
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Rails
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Python
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> .NET
				</div>
				
				<div class="project-category-checkbox-wrap">
					<input type="checkbox"> Mobile (iOS / Android)
				</div>
			</fieldset>
		</div>
</div>
		

	<div style="text-align:center; margin: 0 0 5em;">
		<%= f.submit "Create your project" %>
		
		<p>You'll still be able to change your answers.</p>
	</div>
<% end %>
