<%= form_for(@project) do |f| %>
	<section class="basic-info">
		<h2 class="uppercase">Project goals</h2>
		
		<p class="question">What kind of help do you need?</p>
		<p class="example">Example: We need a designer with mobile experience that can do branding and interface design.</p>
		<%= f.text_field :title, class: "two-sentence" %>

		<p class="question">What are you trying to accomplish?</p>
		<p class="example">Example: We've noticed a lot of people are using our site from their mobile phones but not buying our product, so we've decided to build a mobile app to convert more of this audience into customers.</p>
		<%= f.text_area :goals, style: "height: 300px;" %>
		<p class="question-helper">Here's where you get deep. Picture your company benefitting from this project in a year. What problem will you have solved? What will you be able to do? How will you measure success? The more detail, the better.</p>

		<p class="question">What are some examples (logos, sites, apps, etc.) that you like? </p>
		<%= f.text_area :examples, style: "height: 90px" %>
		<p class="question-helper">Most importantly, include what you like about them.</p>
	</section>

	<section class="extra-info">
		<h2 class="uppercase">Scope</h2>

		<p class="question">What is the target deadline and why?</p>
		<p class="example">Example: We want to launch in 3 months because that's when fantasy football season starts.</p>
		<%= f.text_field :deadline, class: "two-sentence" %>


		<p class="question">What type of budget do you have for this project?</p>

		<div style="margin: .5em 0 1em;" class="budget-question-container">
			<div class="budget-option">
				<h4> $1K budget</h4>

			<p class="radio-option">
				<strong>Estimated reach: 10%</strong> <%= image_tag "reach1.png", style: "width: 16px; vertical-align: 0px;" %><br>
				<span style="color: #666;">Great for test projects</span>
			</p>

			<%= f.radio_button :budget, "1k" %>
		  </div>

		  <div class="budget-option">
			<h4>$10K budget</h4>

			<p class="radio-option">
				<strong>Estimated reach: 50%</strong> <%= image_tag "reach2.png", style: "width: 16px; vertical-align: 0px;" %> <br>
				<span style="color: #666;">Great for finding freelancers</span>
			</p>

			<%= f.radio_button :budget, "10k" %>
		  </div>

		  <div class="budget-option">
			<h4>$100k+ budget</h4>

			<p class="radio-option">
				<strong>Estimated reach: 100%</strong> <%= image_tag "reach3.png", style: "width: 16px; vertical-align: 0px;" %><br>
				<span style="color: #666;">Great for finding an agency</span>
			</p>

			<%= f.radio_button :budget, "100k" %>
		  </div>
		</div>

		<p style="font-size: 17px;">For more info on budgets, you can also check out <a href="#">our survey of web design prices</a>.</p>

		<p class="question">What kind of deliverables do you expect?</p>

		<p class="example">Example: We need a mobile app designed, built, and launched. We have 5 core features we need, including live video chat. We'd like a full brand identity including vector logos.</p>
		<%= f.text_area :deliverables, style: "height: 120px" %>
		<p class="question-helper">Deliverables are things you'll receive once the project is done like a logo, graphic, web page, or app feature.</p>

	</section>



	<section class="client-info">
		<h2 class="uppercase">Your profile</h2>

		<p class="label-left">Photo of you</p>
		<%= f.file_field :photo, style: "margin: 0;" %><br>
		<p class="label-left-help-text">Optional — Your mug will appear at the top of your listing.
190px wide is optimal. We'll resize automatically if it's wider than 190px.</p>

		<p class="label-left">Your name</p>
		<%= f.text_field :name, class: "one-sentence", placeholder: "Namey McNamerson", style: "width: 400px;" %><br>	

		<p class="label-left">Your email</p>
		<%= f.text_field :email, class: "one-sentence", placeholder: "namey@comparoony.com", style: "width: 500px;" %><br>


		<p class="label-left">Company logo</p>
		<%= f.file_field :company_logo, style: "margin: 0;" %><br>
		<p class="label-left-help-text">Also optional — Your logo will appear on Folyo's homepage and in your company info section.	190px wide is optimal. We'll resize automatically if it's wider than 190px.</p>

		<p class="label-left">Organization name</p>
		<%= f.text_field :organization, class: "one-sentence", placeholder: "Flanders and Co.", style: "width: 500px;" %><br>	
		<p class="label-left">Your website</p>
		<%= f.text_field :website, class: "one-sentence", placeholder: "http://elflanderino.com", style: "width: 500px;" %><br>	
	</section>


	<section class="funny-info">
		<h2 class="uppercase">The million dollar question</h2>

		<p class="question">What's your company's spirit animal?</p>
		<%= f.text_field :spirit_animal, class: "one-sentence" %><br>	
	</section>

	<p style="text-align:center; display: block; margin: 3em 0 5em;">
		<%= f.submit "All done? Preview Your Ad", class: "button" %>
	</p>
<% end %>
