<script type="text/javascript">
  $(document).ready(function() {
    $(".upsell.button").click(function() {
      $("#upsell-container").show();
      $("#upsell-trigger").hide();
    });
  });
</script>

<div style="display: table; margin: 1em auto;">
	<h1 style="text-align:center;"><span class="pro-badge">PRO</span> Help your project stand out!</h1>
	<p>You want to attract the best freelancers on the web.</p> 
	
		 <div id="upsell-container" style="display:none;">	
        <%= form_for(@project, url: charge_payment_project_path(@project), html: { method: :put }) do |f| %>
          <div>	
            
            <%= render 'registrations/creditcard', :number_required => false  %>	

							<p style="Text-align: center;"><%= image_tag 'visa.png',  :style => "width:32px;" %> <%= image_tag 'mastercard.png',  :style => "width:32px;" %> <%= image_tag 'amex.png',  :style => "width:32px;" %> <%= image_tag 'discover.png',  :style => "width:32px;" %> <%= image_tag 'diners.png',  :style => "width:32px;" %> <%= image_tag 'jcb.png',  :style => "width:32px;" %>
							</p>
								
          </div>
          
          <div style="line-height: 4; padding: 0 0 1em;text-align:center;">
            
          	<%= f.submit "Upgrade to pro + add your portfolio", class: "button" %><br>
						
						<p style="margin:0;"><small style="margin:0;">We use <a href="http://stripe.com">Stripe</a> which is just crazy secure.</small></p>
           
          </div>		
          <% end %>
      </div>		

			<div id="upsell-trigger">

				
				<div style="text-align:center;">
				<a class="upsell button" href="javascript:">Upgrade to pro + add your portfolio</a>
				</div>
					
			</div>


</div>


<p style="text-align:center;">
<span style="margin:0 .5em 0">or</span> 
<%= link_to "No thanks, send my project for free", @project %>
</p>
