<div class="project-reply">
	<a class="job" href="<%= project.published? ? url_for(project) : preview_project_url(project) %>">
		<div class="avatar">
			<% if project.company_logo.present? %>
				<%= image_tag(project.company_logo.url, class: "photo") %>
			<% else %>
				<%= image_tag 'company.png' %>
			<% end %>
		</div>
		
		<div class="info">
			<span class="name" style="color: #222; font-size: 16px;"><strong><%= project.organization %></strong></span><br>
			<%= truncate project.title, length: 75 %> <%= "(draft)" unless project.published? %>
		</div>
		
		

		<% project.replies.where.not(portfolio_message: nil).limit(1).each do |reply| %>
			<% if reply.portfolio_message.present? %>
				<div class="portfolio" style="background-image: url(<%= asset_path(reply.portfolio_image.url) %>);">
				</div>
			<% end %>
		<% end %>
	</a>
</div>
		





	