<div class="project-listing <%= 'pro-listing' if project.allow_portfolio_replies? %>">
	<div class="info">
			<a href="<%= project.published? ? url_for(project) : project_wizard_step_url(project) %>">
			 <%= truncate project.title, length: 55 %>
			</a>

		<p style="margin: .25em 0; line-height: 1.3; "><%= truncate project.goals, length: 115 %></p>
		
		<div class="skills"> 
      <% project.categories.each do |category| %>
        <a class="badge" href="<%= home_projects_path(category_id: category.id) %>"><%= category.name %></a> 
      <% end %>
		</div>
	</div>
	
	<div class="client-profile">
		
		<% if user_signed_in? && project.owned_by?(current_user) %>
			<div class="status">
				<span style="color:#7b8d99;"><%= project.replies.count %> Replies</span>
			</div>
		<% end %>
		
		
		<div class="avatar">
      <% if project.user.company_logo? %>
        <%= image_tag(project.user.company_logo.url) %>
      <% else %>
        <%= image_tag(project.user.photo.url, class: "photo") %>
      <% end %>
		</div>
	
		<div class="client-info">
			<p style="line-height: 1;">
				<small><strong><%= project.user.name %></strong><br>
				<%= truncate project.user.company_name, length: 17 %></small>
			</p>
		</div>

	</div>
	

</div>
		





	
