<script>
$(document).ready(function(){
  $('textarea').autosize();
});
</script>

<section class="top-menu">
		<%= link_to image_tag('folyo.png', :class => "logo left"), url_for(root_path) %>
		
		<%= link_to "Log out", destroy_user_session_path, method: :delete%>
</section>

<div class="reading wrap" style="width: 100%; max-width: 900px; margin: 0 auto; padding: 0 0 2em;">
	<h1 style="margin: 1em 0 0; text-align:center;">Tell us about your company...</h1>	
	
	<p style="margin: 0 0 2em;  text-align:center;">This helps freelancers get familiar with what makes your company great.</p>

	<h3 class="action-header" style="width: 725px; margin: 0 auto 1em;">Here's an example of what your company info will look like:</h3>
		
	<div class="wrap800" style="width: 650px; padding: .5em 1em 1em; box-sizing:border-box; margin: .5em auto 2em; border-top: 1px solid #d6dfe4; border-bottom: 1px solid #d6dfe4;">			
		
		<%= image_tag 'generic.png', :class => "preview-logo", :align => "left" %>

		<h3 style="font-size: 16px; margin: .25em 0 .25em;">SkyStats</h3>
			
		<p style="margin: 0; font-size: 16px;">We know who we are. We're an air-fare travel and booking app, that cares about our customers and are focused on giving them the metrics they need to make a great buying decision.</p>
				
		<a href="#" style="margin: 1em 0 0; font-size: 16px;">View our website</a>
	</div>

	<%= form_for :user, url: subscriptions_path, id: 'new_user', class: 'form-focus' do |f| %>	
	
	
		<h3 class="action-header" style="width: 725px; margin: 0 auto 1em;">Ready? Now enter your company info</h3>
	
		<div class="form-question-horizontal">
			<div class="label-left">
				<p>Organization name</p>
			</div>
	
			<div class="input-right">
				<%= f.text_field :organization, placeholder: 'Sky Stats'	%>
			</div>
		</div>
	
	
		<div class="form-question-horizontal">
			<div class="label-left">
				<p>Company website</p>
			</div>
	
			<div class="input-right">
				<%= f.text_field :website, placeholder: 'http://skystats.io'	%>
			</div>
		</div>


	<div class="form-question-horizontal">
		<div class="label-left">
			<p>Location</p>
		</div>

		<div class="input-right">
			<%= f.text_field :website, placeholder: 'Chicago, IL, USA'	%><br>
			<span class="required" style="width:400px; font-size: 14px;">Note: All projects must be open to remote work</span>
		</div>
	</div>
	
		<div class="form-question-horizontal">
			<div class="label-left">
				<p>Company logo</p>
			</div>
	
			<div class="input-right">
	 			<%= f.file_field :logo, :id => "pictureInput", :style => "width: 200px; margin: 1.5em 0 0;"	%>
				<p class="required" style="width:400px; font-size: 14px;">Your logo and company info will appear below your project. Square images work best. 190 pixels wide is optimal.</p>
			</div>
		</div>
	
		<div class="form-question-horizontal">
			<div class="label-left" style="width:250px; margin:  0 auto 0 5.25em;">
				<p>Why will someone love working with you?</p>
			</div>
	
			<div class="input-right">
				<%= f.text_area :deadline,  :placeholder => "Type here about your company..." %>
			</div>
		</div>
	
		<div style="text-align:center; display:table; width: 100%; margin: 1em 0;">
			<%= link_to 'Save and continue', new_project_path, :class => "button" %>
		</div>

		</div>
	<% end %>
</div>
