<%= render "layouts/top_menu" %>

<% if admin_signed_in? %>
	<div class="project-list-wrap" style="width: 815px;">
		<div class="project-list">
			<% Project.all.order(created_at: :desc).each do |project| %>

				<%= render "projects/quick_view", project: project %>
			<% end %>
		</div>
	</div>
	
<% elsif user_signed_in? %>
	
	<% if Project.owned_by(current_user).any? %>
		<h2 class="action-header">Your projects</h3>
		<div class="project-list-wrap" style="max-width:810px;">
			<div class="project-list">
				<% Project.owned_by(current_user).each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		</div>
		
		<p style="text-align:center;">Got more work? Put it on Folyo!<br><br>
      <%= link_to "+ Project".html_safe, new_project_path, class: "button" %>
		</p>
		
	<% else %>	
		<h2 class="action-header">Projects for 
      <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
        prompt: "All skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %>
		</h3>
	
		<div class="project-list-wrap" style="width: 815px;">
			<% if @projects.blank? %>
				<h3>There are no public projects at this time</h3>

				<p><%= link_to "Create a project", new_project_wizard_path(project_id: :new), :class => "button" %></p>
			<% else %>
				<div class="project-list">
					<% @projects.each do |project| %>
						<%= render "projects/quick_view", project: project %>
					<% end %>
				</div>
        <div style="text-align:center">
          <%= will_paginate @projects, previous_label: "&lsaquo; Back", next_label: "Forward &rsaquo;" %>
        </div>
        
			<% end %>
		</div>
	<% end %>

<% else %>	
	<h2 class="action-header">Projects for 
    <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
      prompt: "all skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %>
	</h3>
	
	<div class="project-list-wrap" style="width: 815px;">
		<% if @projects.blank? %>
			<p>There are no active projects for this category right now.</p>

			<p><%= link_to "Notify me", new_subscription_path, :class => "button" %></p>
		<% else %>
			<div class="project-list">
				<% @projects.each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
      <div style="text-align:center">
        <%= will_paginate @projects, previous_label: "&lsaquo; Back", next_label: "Forward &rsaquo;" %>
      </div>
		<% end %>
	</div>

	<div style="width:810px; margin: 0 auto; text-align: center;">
		<h1 style="margin: 0;">Find someone you love working with</h1>
		
		<p style="margin: 0 0 2em;">Connect with the best clients and freelancers on the web absolutely free.</p>
		
		<p><%= link_to "Post your project", new_subscription_path %> or <%= link_to "get projects emailed to you", new_subscription_path %> for free</p>
	</div>
<% end %>

<%= render "layouts/footer_menu" %>
