<%= render "layouts/top_menu" %>

<div class="reading wrap" style="padding: 2em 0 0; text-align:center;">


				
				<p style="margin: .5em 0 0; font-size: 45px; font-weight: 600;" class="intro">
				Find someone you love working with.</p>
					
				<p>
					<strong><%= link_to "Post a project", tour_projects_path, :class => "button blue" %> <%= link_to "Find work", new_subscription_path, :class => "button" %></strong>
				</p>

</div>


	<div style="height: 50px; margin: 2em 0 .25em;">
		<%= image_tag "now-hiring.png", style: "height:40px; display: block; padding: .25em 1em;", align: "left" %> 
		<%= link_to '<i class="fa fa-envelope" aria-hidden="true" style="margin-right: .5em; font-size: 16px; color: #eaeaea; vertical-align: 0px;"></i>Get projects emailed to you'.html_safe, new_subscription_path, :style => "vertical-align: -5px; padding: 1em 0; display: inline-block; color:#666; float: right; display: inline-block; font-size: 15px;"  %>
	</div>	

<div class="index-leads wrap" style="margin: 0; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">


		<% Project.published.order(created_at: :desc).limit(5).each do |project| %>
			<%= render "projects/quick_view", project: project %>
		<% end %>

</div>


		<p class="job" style="padding-top:0em; font-size: 14px; padding-left: 1.25em;"><strong><%= link_to "See more projects →", projects_path, :style => "color: #aaa;" %></strong></p>

<div class="reading wrap">



		<section class="freelancer">
		<center>	
			<h2 class="freelancer_product_tag" style="margin: 4em 0 0;">Want to see every productized service?</h2>
			<a class="freelancer_url" target="_blank" href="https://www.getdrip.com/forms/5093472/submissions/new"><p class="freelancer_product_name">Get the complete list here for free</p></a>
			</center>
		</section>


<%= render "layouts/footer_menu" %>

</div>
