
<%= render "layouts/top_menu" %>



	<!--<div class="wrap800" style="text-align: center;">	
		<h1>Find someone you love working with.</h1>
		
		<p><%= link_to "Post your project for free", new_project_wizard_path(project_id: :new) %></p>
	</div>-->

<% if admin_signed_in? %>


	<div class="project-list-wrap" style="width: 815px;">
		<div class="project-list">
			<% Project.all.order(created_at: :desc).each do |project| %>

				<%= render "projects/quick_view", project: project %>
			<% end %>
		</div>
	</div>

<% elsif user_signed_in? %>

	<% if Project.owned_by(current_user).any? %>

		<h3 class="action-header">Your projects</h3>
		<div class="project-list-wrap" style="max-width:810px;">
			<div class="project-list">
				<% Project.owned_by(current_user).each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		</div>
		
		
		<p style="text-align:center;">Got more work? Put it on Folyo!<br><br>
		<a href="#" class="button">+ Project</a>
		</p>
		
	<% else %>	
		<h3 class="action-header">Projects for 
				<select style="font-size: 20px; vertical-align: 3px;">
		  		<option value="volvo">UX design</option>
		  		<option value="saab">Saab</option>
		  		<option value="mercedes">Mercedes</option>
		  		<option value="audi">Audi</option>
				</select>
				in <input type="location" placeholder="Chicago, IL, USA" style="font-size: 20px;"></input> & remote
		</h3>
	
		<div class="project-list-wrap" style="width: 815px;">
			<% if Project.nil? %>
				<h3>There are no public projects at this time</h3>

				<p><%= link_to "You post a project though", new_project_wizard_path(project_id: :new), :class => "button" %></p>
			<% else %>
				<div class="project-list">
					<% Project.published.order(created_at: :desc).limit(5).each do |project| %>
				
						<%= render "projects/quick_view", project: project %>
					<% end %>
				</div>
			<% end %>
		</div>
		

		
	<% end %>
	
	



	

<% else %>
	<!--<h3 class="action-header">Recent projects
				
		<span style="margin: .25em 0 0; float: right; font-size: 15px;">
			<%= link_to 'See all projects', new_user_session_path %>
		</span>
	</h3>-->
	
	<h3 class="action-header">Projects for 
			<select style="font-size: 20px; vertical-align: 3px;">
	  		<option value="volvo">UX design</option>
	  		<option value="saab">Saab</option>
	  		<option value="mercedes">Mercedes</option>
	  		<option value="audi">Audi</option>
			</select>
			in <input type="location" placeholder="Chicago, IL, USA" style="font-size: 20px;"></input> & remote
	</h3>
	
	<div class="project-list-wrap" style="width: 815px;">
		<% if Project.nil? %>
			<h3>There are no public projects at this time</h3>

			<p><%= link_to "You post a project though", new_project_wizard_path(project_id: :new), :class => "button" %></p>
		<% else %>
			<div class="project-list">
				<% Project.published.order(created_at: :desc).limit(5).each do |project| %>
				
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		<% end %>
	</div>
		
		
		<div style="background-color: #fff; width:810px; margin: 0 auto; text-align: center;">
			<h1 style="margin: 0;">Find someone you love working with.</h1>
			
			<p style="margin: 0 0 2em;">We'll help you do the best work of your life. Sign up for free now.</p>

			<a href="#" class="button">Post your project</a>
			
			<a href="#" class="button" style="background-color: #eaeaea; color: #666 !important;">Find work</a>
			
		</div>
		
<% end %>

<%= render "layouts/footer_menu" %>
