<div class="reading wrap">
	<div>
		<%= image_tag "workshop-logo-placeholder.png", style: "max-width: 100%; margin: 2em 0 0;" %>

		<p class="intro">
			Quality freelancers for your company's next project.  Meet your match on Workshop free. <strong><a href="./how-it-works">Here's how it works...</a></strong>
		</p>
	</div>
</div>




<div class="index-leads wrap">
		<p class="recent uppercase">Recent projects <span class="updates uppercase"><a href="./signup.html">Get email updates</a></span></p>

		<% Project.published.order(created_at: :desc).limit(5).each do |project| %>
			<%= render "projects/quick_view", project: project %>
		<% end %>

		<p class="job" style="padding-top: .75em;"><strong><%= link_to "See more projects", projects_path %></strong></p>
</div>


<div class="reading wrap">
		<h4 class="uppercase" style="margin:2em 0 .5em;">Get high-quality proposals, guaranteed.</h4>
		
		<p style="margin: 0;" class="offer">
			Post your project briefWe make sure your project brief attracts top freelance firms from all over the web. That means you'll find the right partner for your project in less than 7 days, gauaranteed. You get complete peace of mind posting on Workshop with our 100% money back guarantee. <strong><a href="./good.html">Get started now</a></strong>
		</p>


		<center>
			<a href="./good">
				<%= image_tag "risk-free.png", style: "margin: 2em 0 3em; width: 130px;" %>
			</a>
		</center>

		<p class="footer-menu"><a href="#">About</a> <a href="#">Guides</a> <a href="#">Press</a> <a href="#">Partners</a> <a href="#">Blog</a> <a href="#">Relaunch</a> <span style="color: #aaa;">© 2011-<%= Time.now.year %> Workshop</span></p>
</div>
