

<h2 style="text-align:center; background-color: #4d616d; margin: 0; padding: 1em; font-weight: 300;">
	
	<%= link_to tour_path, :style => "color: #e8f4f9; background-color: #5e707b; padding: .25em .5em; border-radius: 5px; text-decoration: none;" do %>
	  <span style="color:#FFF;font-weight: 600;"><em>New!</em></span> <%= image_tag "upsell.png", :style => "width: 25px; vertical-align: -5px;margin:0 .15em;" %> We relaunched Folyo! Take a tour...
	<% end %>
	
</h2>



<div class="wrap w860">
	<%= render "layouts/top_menu" %>
	
	<% if user_signed_in? %>
	
		<% if Project.owned_by(current_user).any? %>
			<h2 class="action-header">Your projects</h2>

			<div class="project-list-wrap">
				<% Project.owned_by(current_user).each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		
			<p style="text-align:center; padding-top: 1em; margin: 0;">Got more work? Put it on Folyo!<br><br>
	      <%= link_to "+ Project".html_safe, new_project_path, class: "button" %>
			</p>
	
		<% else %>
			<h2 class="action-header">Projects for 
	      <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
	        prompt: "All skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %>
			</h2>
			
				<% if @projects.blank? %>
					<p style="margin:3em 0 0;">There are no public projects at this time</p>

					<p style="margin: 0 0 3em; text-align:center;">><%= link_to "Create a project", new_project_path, :class => "button" %></p>
				
				<% else %>
					<div  class="project-list-wrap">
						<% @projects.each do |project| %>
							<%= render "projects/quick_view", project: project %>
						<% end %>
					</div>
					
	        <div style="text-align:center">
	          <%= will_paginate @projects, previous_label: '<i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back'.html_safe, next_label: 'Forward<i class="fa fa-long-arrow-right" aria-hidden="true"></i>'.html_safe %>
	        </div>
				<% end %>		
			</div>
		<% end %>

	<% else %>
	
	<p style="font-size: 120%; padding: 0 .5em 1em; text-align:center;">Looking for a great remote freelance designer, developer, or marketer?<br><%= link_to 'Post your freelance project for free today', new_subscription_path %> </p>

		<h2 class="action-header">Projects for 
	    <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
	      prompt: "all skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %>
		</h2>
		
		<% if @projects.blank? %>
			<p style="margin:3em 0 0; text-align:center;">There are no active projects for this category right now.</p>

			<p style="margin: 0 0 3em; text-align:center;"><%= link_to "Notify me", new_subscription_path, :class => "button" %></p>
		<% else %>
		
			<div  class="project-list-wrap">
				<% @projects.each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
	     
			<div style="text-align:center">
	      <%= will_paginate @projects, previous_label: '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back'.html_safe, next_label: 'Forward <i class="fa fa-long-arrow-right" aria-hidden="true"></i>'.html_safe %>
	    </div>
		<% end %>


		<p style="font-size: 120%; padding: 0 .5em  0; text-align:center;">
			<center><small style="font-size: 12px; letter-spacing: .125em;">USED BY</small></center>
		<%= image_tag 'used-by.png', :style => "max-width: 100%;" %></p>
		
		<div style="text-align:center;">
			<h1 style="margin: 0;">Find someone you love working with</h1>
		
			<p style="margin: 0 0 2em;">Connect with the best clients and freelancers on the web absolutely free.</p>
		
			<p><%= link_to "Post your project", new_subscription_path %> or <%= link_to "get projects emailed to you", new_subscription_path %> for free</p>
		</div>
	<% end %>

	<%= render "layouts/footer_menu" %>
</div>
