<%= render "layouts/top_menu" %>

<div class="reading wrap" style="padding: 2em 0 0;">

	<table>
		<tr>
			<td valign="top">
				<a href="./tour">
					<%= image_tag "workshop-placeholder-logo.png", style: "margin: -1em 1.5em 0 0; width: 170px;" %>
				</a>
			</td>

			<td>
				
				<p style="margin: 0;" class="intro">
					Hire a better freelancer today. Make your project a success. <span style="background-color: #fff677; padding: 0 .25em;">Free to try for a limited time!</span> Post in minutes.</p>
					
				<p>
					<strong><%= link_to "Start a project", new_project_path, :class => "button blue" %> <%= link_to "See how it works", tour_path, :class => "button" %></strong>
				</p>
			</td>
		</tr>
	</table>


</div>


	<div style="height: 50px; margin: 2em 0 .25em;">
		<%= image_tag "now-hiring.png", style: "height:40px; display: block; padding: .25em 1em;", align: "left" %> 
		<%= link_to '<i class="fa fa-envelope" aria-hidden="true" style="margin-right: .5em; font-size: 16px; color: #eaeaea; vertical-align: 0px;"></i>Get projects emailed to you'.html_safe, projects_path, :style => "vertical-align: -5px; padding: 1em 0; display: inline-block; color:#666; float: right; display: inline-block; font-size: 15px;"  %>
	</div>	

<div class="index-leads wrap" style="margin: 0; box-shadow: #ccc 0px 0px 10px; padding:0; border-radius: 7px; background-color: #FFF;">


		<% Project.published.order(created_at: :desc).limit(5).each do |project| %>
			<%= render "projects/quick_view", project: project %>
		<% end %>

</div>


		<p class="job" style="padding-top:0em; font-size: 14px; padding-left: 1.25em;"><strong><%= link_to "See more projects →", projects_path, :style => "color: #aaa;" %></strong></p>

<div class="reading wrap">





<center>
	<h4 class="uppercase" style="margin:3em 0 .5em;">Trusted by</h4>

	<%= image_tag "trusted-by-company-logos.png", style: "margin: 1em 0; width: 100%;" %>
</center>

<!-- 
<table style="margin: 3em 0;">
	<tr>
		<td style="width: 160px;"> 
			<p style="font-size: 13px;"><span class="quote-apostraphe" style="font-size: 50px; line-height: 0; vertical-align: bottom; margin: 0 .15em 0 -.5em;">&ldquo;</span>I had everything in place to build the app that existed in my head — except someone to build it.MARCELLA CHAMORRO</p>
		</td>
		<td>
			<%= image_tag "marcie-placeholder2.png", style: "margin: 0em 1em 0 0; width: 300px;" %>
		</td>
		
		<td>
			<h1>Get started in minutes</h1>
			<%= link_to "See how it works", tour_path, :class => "button" %>
		</td>
	</tr>
</table>-->


<%= render "layouts/footer_menu" %>

</div>
