<% content_for :title, "[Folyo] Independence for Independents" %>

<div class="wrap w860">
	
	<% if user_signed_in? %>
		<%= render "layouts/top_menu" %>
	
		<% if Project.owned_by(current_user).any? %>
			<h2 class="action-header">Your projects</h2>

			<div class="project-list-wrap">
				<% Project.owned_by(current_user).each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		

			<p style="text-align:center; padding-top: 1em; margin: 0;">Got more work? Put it on Folyo!<br><br>
	      <%= link_to "+ Project".html_safe, new_project_path, class: "button" %>
			</p>
	
		<% else %>
			<h2 class="action-header">Projects for 
	      <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
	        prompt: "All skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %>
			</h2>
			
				<% if @projects.blank? %>
					<p style="margin:3em 0 0;">There are no public projects at this time</p>

					<p style="margin: 0 0 3em; text-align:center;">
						<%= link_to "Create a project", new_project_path, :class => "button" %>
					</p>
				
				<% else %>
					<div  class="project-list-wrap">
						<% @projects.each do |project| %>
							<%= render "projects/quick_view", project: project %>
						<% end %>
					</div>
					
	        <div style="text-align:center">
	          <%= will_paginate @projects, previous_label: '<i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back'.html_safe, next_label: 'Forward<i class="fa fa-long-arrow-right" aria-hidden="true"></i>'.html_safe %>
	        </div>
				<% end %>		
			</div>
		<% end %>

	<% else %>


		
		
		<div class="wrap w700">							
			<h1 style="line-height: 1.2; margin: 1.5em 0 .25em;">Valuable projects.</h1> 
			
			<p style="margin: 0 0 2.5em;">Folyo helps you find people to grow your business. Work with independent, professional, remote workers and clients. Make more money. Try it for free.</p>
		</div>
			
		
		<div class="featured-services" style="margin: 2em 0 0; box-sizing: border-box;">
			
			<% unless @recommended_freelancers.this_month.nil? %>
				<h2 class="action-header">Recommended designers</h2>
			<% end %>

			<% @recommended_freelancers.this_month.each do |recommended_freelancer| %>
				<a href="../recommended_freelancers/<%= recommended_freelancer.id %>" class="freelancer">				
					<div class="service-description-wrap">
						<span class="service"><strong><%= recommended_freelancer.title %></strong></span><br>
					
						<%= image_tag recommended_freelancer.photo, :class => "photo" %><span class="name"><%= recommended_freelancer.name %></span><span class="price"> for $<%= recommended_freelancer.price %></span>
					</div>
				</a>
	    <% end %>
		</div>
		
		<% if @projects.this_month.blank? %>
		<% else %>
			<h2 class="action-header" style="margin-top: 0;">Live projects</h2>
					
			<div  class="project-list-wrap">
				<% @projects.this_month.each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		<% end %>
		
		<div style="text-align:center; margin: 2em 0 0;">
			<%= link_to "Startups: post your project (it's free)", new_project_path, :class => "big button" %>
			<p>or <%= link_to "Freelancers: list yourself for 30 days"%></p>
		</div>
		
		


<h1 style="text-align:center; margin: 2em 0 0;">Why you should use Folyo...</h1>

<div class="wrap w700">	
	<p><strong>You care about your independence.</strong><br>
	Unlike most platforms, Folyo doesn't take a cut of your project. Instead, I charge flat fee so you know what you're paying.</p>

	<p><strong>You want your money to go to a small independent team, not a big corporation.</strong><br>
	Any money you pay me gets invested directly back into the site and my family. It goes to stuff like hosting, maintenance, buying my dog, Benny, dogfood and taking my wife, Kieranne, to Disneyland.</p>

	<p><strong>You're done with the race to the bottom system</strong><br>
	This site empowers independent sellers and service providers to work on their own terms. No venture capital, no middle man, no disrupting ecosystems, or whatever those other sites are trying to do.</p>

	<p><strong>You hate reading copy-and-paste</strong><br>
	Authentic is better. Writing is important on Folyo, and writing is important to you.</p>

	<p><strong>You can trust where we stand.</strong><br>
	We post our thoughts on freelancing, design, programming and business on our Medium publication daily. We don't hold back. <a href="http://clientgiant.us">Read our latest.</a></p>

	<!--<% @rss.items.each do |item| %>
	 <p><a href="<%= item.link %>"><%= item.title %></a></p>
	<% end %>-->

	<p><strong>We are your size.</strong><br>
	Our team is 3 people. Robert (founder and designer), Jason (programmer) and Kieranne (support).</p>

	<p><strong>You are protected</strong><br>
	Our payment system (Stripe) is crazy secure. Our <%= link_to "terms", terms_path %> are crazy fair.</p>

	<p><strong>We don’t let slimeballs use the site.</strong><br>
	Everyone who signs up has to have a real picture and speak like a human. I monitor for this myself. </p>

	<p><strong>You'll spend more time with your family.</strong><br>
	Finding your next freelancer or client is a lot of work. Our goal is to cut down on the time it takes so that you can get back to your life. Less stress, more money and a happier life.</p>

	<p><strong>I'm here.</strong><br>
	You can text me (Rob) if you need anything: +1–760–693–3360</p>
</div>
		
		<div style="text-align:center;margin:3em 0;">		
			<h1>Find someone you love working with.<br> <%= link_to "Post your project", new_subscription_path %> or <%= link_to "get projects emailed to you", new_subscription_path %> now for free</h1>
		</div>
	<% end %>

	<%= render "layouts/footer_menu" %>



</div>
