<div class="wrap w860">
	<% if user_signed_in? %>
		<%= render "layouts/top_menu" %>

	
		<% if Project.owned_by(current_user).any? %>
			<h2 class="action-header">Your projects</h2>

			<div class="project-list-wrap">
				<% Project.owned_by(current_user).each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
		

			<p style="text-align:center; padding-top: 1em; margin: 0;">Got more work? Put it on Folyo!<br><br>
	      <%= link_to "+ Project".html_safe, new_project_path, class: "button" %>
			</p>
	
		<% else %>
			<h2 class="action-header">Projects for 
	      <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
	        prompt: "All skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %>
			</h2>
			
				<% if @projects.blank? %>
					<p style="margin:3em 0 0;">There are no public projects at this time</p>

					<p style="margin: 0 0 3em; text-align:center;">><%= link_to "Create a project", new_project_path, :class => "button" %></p>
				
				<% else %>
					<div  class="project-list-wrap">
						<% @projects.each do |project| %>
							<%= render "projects/quick_view", project: project %>
						<% end %>
					</div>
					
	        <div style="text-align:center">
	          <%= will_paginate @projects, previous_label: '<i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back'.html_safe, next_label: 'Forward<i class="fa fa-long-arrow-right" aria-hidden="true"></i>'.html_safe %>
	        </div>
				<% end %>		
			</div>
		<% end %>

	<% else %>
	
	
		<h1 style="padding: 0 .5em  0; text-align:center;">	
				<%= link_to image_tag('folyo.png', :class => "logo", :style => "margin: 2em auto 1em; width: 200px;"), url_for(root_path) %>

			Looking for a great freelancer? <%= link_to 'Post a project for free today', new_subscription_path %>
		</h1>
		
			
		<span style="display: table; margin: 2em auto -1em;">

			<small style="letter-spacing: .125em; margin-bottom:">A FEW COMPANIES THAT HAVE USED FOLYO</small>
	
		</span>
		
		<p style="text-align:center;">
			
			

			<%= image_tag 'folyo-used-by.png', :style => "margin-top: .5em; max-width: 100%;" %>
			</p>
			
		<h2 class="action-header">Projects for 
	    <%= select_tag :category, options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]), 
	      prompt: "all skills", style: "font-size: 20px; vertical-align: 3px;", data: { category_filter: "true" } %> now hiring
		</h2>
		
		<% if @projects.blank? %>
			<p style="margin:3em 0 0; text-align:center;">There are no active projects for this category right now.</p>

			<p style="margin: 0 0 3em; text-align:center;"><%= link_to "Notify me", new_subscription_path, :class => "button" %></p>
		<% else %>
		
			<div  class="project-list-wrap">
				<% @projects.each do |project| %>
					<%= render "projects/quick_view", project: project %>
				<% end %>
			</div>
	     
			<div style="text-align:center">
	      <%= will_paginate @projects, previous_label: '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back'.html_safe, next_label: 'Forward <i class="fa fa-long-arrow-right" aria-hidden="true"></i>'.html_safe %>
	    </div>
		<% end %>


		<div style="text-align:center;">		
			<h1 style="margin: 0;">Find someone you love working with</h1>
		
			<p style="margin: 0 0 2em;">Connect with the best clients and freelancers on the web absolutely free.</p>
		
			<p><%= link_to "Post your project", new_subscription_path %> or <%= link_to "get projects emailed to you", new_subscription_path %> for free</p>
		</div>
	<% end %>

	<%= render "layouts/footer_menu" %>
</div>
