<div class="reading wrap">
	<div style="text-align: center;">
		<p class="intro">
			Finds the right freelance or agency partner for your project.<br> 
			<strong><%= link_to "Post your project", new_project_path %></strong> or 
			<strong><a href="./good.html">See why we're so good</a></strong>
		</p>
	</div>
</div>

<div class="index-leads wrap">
		<p class="recent uppercase">Recent projects <span class="updates uppercase"><a href="./signup.html">Get email updates</a></span></p>

		<% Project.all.order(created_at: :desc).limit(5).each do |project| %>
			<%= render "projects/quick_view", project: project %>
		<% end %>

		<p class="job" style="padding-top: .75em;"><strong><%= link_to "See more projects", projects_path %></strong></p>
</div>


<div class="reading wrap">
		<h4 class="uppercase" style="margin:2em 0 .5em;">Try Folyo risk-free with our 120% money-back guarantee</h4>
		
		<p style="margin: 0;" class="offer">If you don't find the right partner for your project, we'll refund your entire purchase and give you a 20% discount on next time. Posting on Folyo is easy and we'll send your project to 944 high-quality freelancers and agencies instantly.</p>

		<p class="job" style="text-align: center; margin: 2em 0 0;"><strong><%= link_to "Post your project", new_project_path %></strong> or <strong><a href="./good.html">see pricing and what you get</a></strong></p>

		<center><%= image_tag "risk-free.png", style: "margin: 2em 0 3em; width: 130px;" %></center>

		<p class="footer-menu"><a href="#">About</a> <a href="#">Guides</a> <a href="#">Press</a> <a href="#">Partners</a> <a href="#">Blog</a> <a href="#">Relaunch</a> <span style="color: #aaa;">© 2011-2016 Folyo</span></p>
</div>
