
<%= render "layouts/top_menu" %>


			
<h3 class="action-header" style="margin: 0 auto 1em;">
	Your inbox

  <% if params[:archived] %>
    <%= link_to "Back to unread", inbox_projects_path, style: "float:right; font-size: 16px; text-decoration: none; margin-top:3px;" %>
  <% else %>
    <%= link_to "See read messages", inbox_projects_path(archived: true), style: "float:right; font-size: 16px; text-decoration: none; margin-top:3px;" %>
  <% end %>
</h3>



<style>

/* Replies */

.project-listing {
	margin: 0;
	padding: 0;
}
.project-listing a.reply {
	margin: 0;
	font-weight: 500;
	box-sizing: border-box;
	color: #545048;
	text-decoration: none;
	width: 100%;
	height: auto;
	display: table;
	padding: 1.25em 1em 0em;
	vertical-align: text-top;
	box-sizing: border-box;
}

.project-listing:first-child a.reply {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.project-listing:last-child a.reply:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.project-listing a.reply:hover {
	background: #f9f9f9;
	box-sizing: border-box;
}

.project-listing a.reply .name {
	display: inline-block;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	padding:  0 0;
	margin: 0;
	vertical-align: .75em;
	vertical-align: middle;
}

.project-listing a.reply .avatar {
	display: inline-block;
	margin:  0 .5em 0 0;
	vertical-align: middle;
}

.project-listing a.reply .avatar img {
	height: 45px;
	width: 45px; 
	border-radius: 45px;
	background-color: #f9f9f9; 
	display: middle;
}

.project-listing a.reply .message {
	display: inline-block;
	width: 500px;
	font-size: 15px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}


.project-listing a.reply .portfolio-message {
	display: inline-block;
	 width: 200px;
	font-size: 15px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}


.project-listing .portfolio {
	width: 50px;
	height: 37.5px;
	background-color: #f3f3f3;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
	display: inline-block;
	margin: 0 1em;
	vertical-align: middle;
}

.project-listing .portfolio.large {
	width: 100px !important;
	height: 80px;
	vertical-align: middle;
}

.project-list-wrap .sub-action-heading {
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
}

</style>

<% if @all_messages.any? %>

	<div class="project-list-wrap" style="padding: 0; margin: 0 auto; width:810px;">
		
			<% @all_messages.each do |message| %>
				<%= render("messages/standalone_message", message: message) if message.class.to_s == "Message" %>
				<%= render("replies/standalone_reply", reply: message) if message.class.to_s == "Reply" %>
			<% end %>

	</div>
	
<% else %>

	<p style="text-align:center;">You have no new messages yet.<br>
    <%= link_to 'Reply to a project'.html_safe, home_projects_path, :class => "button", :style => "margin: .5em 0;" %>
	</p>
<% end %>

