<%= image_tag 'folyo.png', :class => "logo" %>

	<% if current_user.present? && current_user.can_see_project_replies?(@project) %>
	
		<%= render "replies/client_listing" %>
	
	<% else %>	
	
		<div class="wrap800" style="padding: 0; margin: 4em auto 0;">
			<%= render 'project' %>
		</div>

		<div class="wrap800 project" style="max-width: 600px; padding: 0 0 1.5em;  margin: 2em auto;">
			<p><strong>Freelancer portfolio pieces sent to this project:</strong></p>
			<% @project.replies.where.not(portfolio_message: nil).each do |reply| %>
				<%= image_tag(reply.portfolio_image.url(:medium), class: "portfolio-piece") %>
			<% end %>
			<a href="#send-message-now" style="width: 95px; height: 95px; display: inline-block; border: 3px solid #eee; text-align: center; border-radius: 15px; vertical-align: top;  box-sizing: border-box; color: #aaa; text-decoration: none; margin: 0 .5em; font-size: 12px; line-height: 1.5; padding: 1em 0; background-color: #fff;">
				<span style="width: 40px; font-size: 40px; line-height: 1;"><%= image_tag 'camera.png', :style => "width: 40px; opacity: .1;" %></span><br>
				Add Yours
			</a>
		</div>
	
	<div class="wrap800">
		<% if @project.allow_replies_from?(current_user) %>
			<div class="wrap reading reply">
				<% if @project.reply_from?(current_user) %>
					<%= render "replies/reply" %>	
				<% else %>
					<h2 id="send-message-now">Perfect for this project? Send <%= first_name @project.name %> a message now.</h2>
					<%= render "replies/form" %>
				<% end %>
			</div>

			<% if current_user.present? && current_user.can_see_messages?(@project.reply_from(current_user)) %>
				<%= render "messages/listing", reply: @project.reply_from(current_user), extra_padding: true %>

				<% if current_user.can_send_message?(@reply) %>
					<%= render "messages/send", name: message_recipient(@reply) %>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>
