
<% if current_user.present? && current_user.can_see_project_replies?(@project) %>
	<%= render "replies/client_listing" %>

<% else %>	

	<div class="reading wrap post">
		<p style="font-size: 13px; width: 100%; text-align: left; color:#666;" class="top-menu">
			
			<%= link_to "â† Back to more projects", home_projects_path, :style => "color: #666;" %>
			
		</p>
	
			<%= image_tag "now-hiring.png", style: "width: 140px; display: block; padding: 1em 0 0; margin: .5em auto -1em;" %>
			<%= render 'project' %>
	</div>

	<div class="reading wrap" style="padding: 1em 0 0;">
		<% @project.replies.where.not(portfolio_message: nil).each do |reply| %>
			<%= image_tag(reply.portfolio_image.url(:medium), class: "portfolio-piece") %>
		<% end %>
		<p style="color: #8f8f8f; margin: 1em 0 0;"><%= @project.replies.count %> people have replied to this project</p>
	</div>

	<% if @project.allow_replies_from?(current_user) %>
		<div class="wrap reading reply">
			<% if @project.reply_from?(current_user) %>
				<%= render "replies/reply" %>	
			<% else %>
				<h4 style="margin:2.5em auto 0;">Want to work on this? Send your message now.</h4>
				<%= render "replies/form" %>
			<% end %>
		</div>

		<% if current_user.present? && current_user.can_see_messages?(@project.reply_from(current_user)) %>
			<%= render "messages/listing", reply: @project.reply_from(current_user), extra_padding: true %>

			<% if current_user.can_send_message?(@reply) %>
				<%= render "messages/send", name: message_recipient(@reply) %>
			<% end %>
		<% end %>
	<% end %>


	
<% end %>
