<%= render "layouts/top_menu" %>

	<% if current_user.present? && current_user.can_see_project_replies?(@project) %>
	
		<%= render "replies/client_listing" %>
	
	<% else %>	
	
		<div class="wrap800" style="padding: 0; margin: 0 auto 0;">
			<%= render 'projects/project' %>
		</div>

	
	<div class="wrap800" style="margin: 0 auto 0;">
		<% if @project.allow_replies_from?(current_user) %>
			<div class="wrap reading reply">
				<% if @project.reply_from?(current_user) %>
					<%= render "replies/reply" %>	
				<% else %>
					<h2 id="send-message-now">Reply to this Project</h2>
					<%= render "replies/form" %>
				<% end %>
			</div>

			<% if current_user.present? && current_user.can_see_messages?(@project.reply_from(current_user)) %>
				
				<%= render "messages/listing", reply: @project.reply_from(current_user), extra_padding: true %>

				<% if current_user.can_send_message?(@reply) %>
					<%= render "messages/send", name: message_recipient(@reply) %>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>
