<div class="wrap w860 nav-border">
	<%= render "layouts/top_menu" %>
</div>

<% if admin_signed_in? %>
  <div class="wrap w800">
    <% if @project.under_review? %>
      Admin Review:

      <p>
        If this project is acceptable as-is, <%= link_to "Accept this project", admin_approve_project_path(@project), method: :put %>
      </p>
      <p>
        If this project needs to be edited, <%= link_to "Reject this project", admin_reject_project_path(@project), method: :put %>
      </p>
      <p>
        If this project is spam, <%= link_to "Delete this project", admin_destroy_project_path(@project), method: :put %>
      </p>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? && current_user.can_see_project_replies?(@project) %>
	<%= render "replies/client_listing" %>	
<% else %>	
	
  <div class="wrap w800">
    <%= render 'projects/project' %>
  </div>

  <div class="wrap w800" style="margin: 2em auto;">
    <% if @project.allow_replies_from?(current_user) %>
      <% if user_signed_in? %>

		    <% if @project.reply_from?(current_user) %>
		      <p class="reply-header"><i class="fa fa-check" aria-hidden="true" style="color:#88cf60; margin-right: .25em;"></i> You've replied to this project.</p>
	
				<% else %>
					<p class="reply-header">Reply to this project
	          <small><a href="http://emailsthatwin.com" style="float:right;"><span style="vertical-align: -5px;">How to write a client-winning message</span></a></small>
	        </p>
		    <% end %>

        <div class="wrap w800 reply" style="margin-top: 0;">
          <div class="reply-box">
            <% if @project.reply_from?(current_user) %>
              <%= render "replies/reply" %>	
            <% else %>
              <h2 class="reply-box-header"><%= image_tag(@current_user.photo.url(:medium), :style => "width:30px; border-radius: 30px; vertical-align:-8px; margin-right: .5em;") %> <%= current_user.name %>
                <% if user_signed_in? && current_user.can_reply_with_portfolio?(@reply.project) %>
                  <small><span class="reply-box-message"><i class="fa fa-check" aria-hidden="true" style="margin-right: .25em; color:#86d15a;"></i> You're a PRO</span></small>
                <% end %>
              </h2>
                
              <div style="padding: .5em 1.25em;">
                <%= render "replies/form" %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>

			<p class="decision" style="text-align:center;">
        <%= link_to 'Reply to this project free', new_subscription_path(project_id: @project.id), class: "button" %>
			</p>
      <% end %>

      <% if user_signed_in? && current_user.can_see_messages?(@project.reply_from(current_user)) %>
        
        <%= render "messages/listing", reply: @project.reply_from(current_user), extra_padding: true %>

        <% if current_user.can_send_message?(@reply) %>
        
          <div class="wrap800 decision-border">
            
            <div class="wrap w750">
              <%= render "messages/send", name: message_recipient(@reply) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
