<div class="reading wrap post">
	<%= render 'project' %>
</div>

<div class="wrap">
	<h3>Portfolio replies sent to this project:</h3>
	<% @project.replies.where.not(portfolio_message: nil).each do |reply| %>
		<%= image_tag(reply.portfolio_image.url, class: "portfolio-piece") %>
	<% end %>
	<p style="color: #8f8f8f;">...and <%= @project.replies.count - @project.replies.where.not(portfolio_message: nil).count %> other replies sent without a portfolio</p>
</div>

<% if current_user.can_reply_to_project? @project %>
	<div class="wrap reading reply">
		<% if @project.reply_from?(current_user) %>
			<%= render "replies/reply" %>	
		<% else %>
			<h4 style="margin:2em auto 0;">Want to work on this? Send Robert a message now.</h4>
			<%= render "replies/form" %>
		<% end %>
	</div>

	<% if current_user.can_see_messages?(@project.reply_from(current_user)) %>
		<%= render "messages/listing", reply: @project.reply_from(current_user), extra_padding: true %>

		<% if current_user.can_send_message?(@reply) %>
			<%= render "messages/send", name: message_recipient(@reply) %>
		<% end %>
	<% end %>
<% end %>

<% if current_user.can_see_project_replies? @project %>
	<%= render "replies/client_listing" %>
<% end %>
