<div class="wrap">
	
	<div style="display: table;">
	
	<%= image_tag 'ben.png', :style => "width: 375px; margin:0;", :align => "right" %>
	
	
	<p>Marketplaces and job boards are broken. They put you at odds with the very people you need to build a relationship with. Projects end badly and you waste hours searching for a freelancer (or client).</p> 

	<p>Instead of top-professionals, these places attract quick-turnaround, low-value work that produces no results. You can't build a business or do great work on projects like that.</p>

	<p>But what if the people you worked with cared about creating LASTING value? That would mean every project you worked on was your best work yet. And you were ALWAYS focusing on projects that would grow your business.</p>

	<p><strong>Great work starts with value.</strong></p>

	<p>That's why I created this site. It's called Workshop and it takes a different approach. Instead of , we focus on helping your create great projects.</p> 

	<p>We do this by helping the projects you work on solve REAL problems. We're an independent platform run by a small team, meaning I design and run it to help you reach your goals.</p>

	<p>No payment processing, percentage fees, or weird lock-ins. You pay a flat-fee and we provide the platform. It runs on great projects, not VC-funding.</p>

	<p>I want to help you find better matches for the projects you want to do, without pulling out your hair. No catches.</p>

	<p>Want to see how it works? <a href="/value/">Check out a sample project</a>.</p>

	<p>Once you're ready to find someone you love to work with...</p>

	<p>See you inside!</p>

	<p><%= link_to "Post a project", new_project_path %> or <%= link_to "Find work", new_subscription_path %></p>

	<p>Robert Williams<br>
		Founder</p>

	<p>PS. Thanks for reading that, <a href="https://www.youtube.com/watch?v=zNLGLkqYyug">here's my favorite video on youtube</a>.</p>
	
	
	<h1>Jason needed to find a freelancer that would deliver lasting value to his software business.</h1>
	<p>Jason is a software developer and founder of Rigbooks, a startup web-app that helps truckers keep track of their books.</p>
	<p>He needed to find a designer to help him improve conversions on his site.</p>
	</div>
	
	
	<h1>Attract top-talent with a project brief designed to focus on value.</h1>
	<p>Nobody is born knowing how to write a great job description or project brief. That's why we've created a guided project brief experience focused on value. What's going to be real, successful and create most value for the client?</p>

	<%= link_to 'See what replies to projects look like', tour_great_responses_path %> or 
	<%= link_to 'Get started writing your project brief for $99', new_project_path %>

	<%= image_tag 'tour-value.png', :style => "border: 1px solid #aaa; border-radius: 5px; margin: 2em auto; display: block;" %>


	<h1>Save time with every response to your project in one place and short to-the-point.</h1>
	<p>Nobody is born knowing how to write a great job description or project brief. That's why we've created a guided project brief experience focused on value. What's going to be real, successful and create most value for the client?</p>

	<%= image_tag 'reply-benny.png', :style => "max-width: 100%; border: 1px solid #aaa; border-radius: 5px; margin: 2em auto; display: block;" %>


	<h1>Find the right fit for your project in under a week without flooding your inbox</h1>
	<p>Once the project brief is perfect, you'll immediately start getting replies from the best candidates on the web. We send out your project to a high-value list of 100s of candidates that are the best options available for your budget and specifications. Top freelancers and agencies are instantly notified about your project. And we collect replies on our platform so you don’t have to worry about a messy inbox.</p>

	<%= image_tag 'replies.png', :style => "max-width: 100%; border: 1px solid #aaa; border-radius: 5px; margin: 2em auto; display: block;" %>


	<h1>Save time picking the perfect candidate with great responses.</h1>
	<p>You'll spend less time reviewing applicants because we have a hard word-count on proposals, and require portfolios sent be directly related to your project. This means all replies get to the point quickly and honestly. You want to hire someone to help you solve a problem, not read a bunch of mumbo jumbo. You get shown work that is tailored to your project’s goals and show how your partner will be able to help. We even give you our recommendation by hand-reviewing the replies you get so you know who to pick. You can setup interviews, chat with applicants, and even pick a partner in minutes. Don’t waste time going through a bunch of portfolios. Every applicant is available, and within your budget.</p>

</div>
<table>
	<tr>
		<td valign="top">
			
			<div style="margin:8em 0 0 0; display: inline-block; font-size: 16px; width: 220px; " class="sign-in-quote">
				
			<span style="font-size: 40px; margin-left: -.4em; vertical-align: -15px; line-height: 0;">&ldquo;</span>
				I found a freelancer so fast, we added game-changing features to the project.<br>
				
				<span class="uppercase" style="font-size: 11px; font-weight: bold;">Ben, owner at Sik</strong>
			</div>

			<%= image_tag 'ben.png', :style => "width: 375px; margin: -7em 0 0 4em;" %>

		</td>
		
		<td>
			<div style="margin: 4em 0; padding: 0 1em; font-size: 18px;">

			<h1 style="font-size: 26px; margin: 2em 0 0; text-align: left; font-weight: bold;">Find the right fit for your project in under a week without flooding your inbox with garbage.</h1>

			<p>Hiring the right freelancer can feel like finding a needle in a haystack. Your network doesn't know anyone who can help, job boards and marketplaces just plaster your project everywhere and don't attract the quality talent you need.</p>

			<p>They leave you sorting through an inbox full of trash. Reviewing irrelevant resumes and portfolios that don't address your needs -- from low-value freelancers who send the same message to everyone.</p>

			<p>It's not the right first step for a successful project. Your project shouldn't be treated like an after-thought.</p>

			<p><strong>Yet there's a ticking clock in the background. The longer you take to find someone, the less profitable your project becomes.</strong> Every hour you spend sorting through freelancers is time you could have spent working on your project and making it better.</p>

			<p>But here's the conundrum: rushing the decision could lead to a bad hire. A bad hire is a time-bomb that wrecks your budget, and can even threaten your company's existence.</p>

			<p>Your only option is to do it yourself, or scrap the bottom of the barrel for someone you can afford and hope you just "get it done". But that's not why you started a project in the first place. You started it because you wanted to do something great, not just anything.</p>
			
			</div>
		</td>
	</tr>
</table>


<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">
	<h1 style="font-size: 26px; margin: 0 0; text-align: left; font-weight: bold;">Your project can attract top-talent that produces massive results NOT mediocre clock-punchers.</h1>

	<p>In fact, a project isn't even what you're buying. <strong>You want the results that a project will produce for your business.</strong> For example: your project will generate more revenue for your company and keep you in business. THAT'S what you want.</p>

	<p>After all that's what will make your company more valuable. That's what will strengthen your business model. That's what will get you more customers. And allow for a bigger exit when the time comes.</p>
	
	<p>Those results are why you invest so much time doing the scheduling and vetting dance with freelancers.</p>
	
	<p>But without changing this process you'll continue to see mediocre results. <strong>Only 1 out of every 3 freelancers you hire will work out.</strong> Even less will actually provide measurable results. You'll spend weeks finding a freelancer only to end up not making the wrong choice -- and having to start from scratch weeks later.</p>
	
	<p>But what if you could skip the weeks of sorting  through candidates and invest that time back into getting results from your project?</p>
</div>

<%= image_tag 'rex-folyo.png', :style => "width: 100%; margin: 1em 0;" %>

<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">

	<p>What if you could go straight to interviewing great fits for your project so all you have to do is show up and pick from great matches.</p>

	<p>It would mean a direct increase to your bottom line. Because look, your time is valuable. You know you need a problem solved, not just a hired hand. Someone who can create results for your company not just pretty pictures or code.</p>
	
	<p>Getting straight to the best talent available for your project means unleashing creativity on the project that you would have never been able to do if you were stuck reviewing low-quality applicants.</p>

</div>

		<%= image_tag 'portfolios-folyo.png', :style => "width: 100%; margin: 4em 0 0;" %>


		<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">
			<h1 style="font-size: 26px; margin: 2em 0 0; text-align: left; font-weight: bold;">We'll help you attract the best freelancer for your project AND your budget, results gauranteed.</h1>
			
			<p>Here's the deal. We'll take care of the stressful and time-wasting parts of hiring a freelancer, you handle choosing the right partner for your project -- and get back to running your business.</p> 
			
			<p>Whether you need a full team or just the occasional freelancer, we'll make it dead simple to find the right fit for your company, project, and budget—or your money back. We’ve chosen to focus on a few things that we believe will start your project on the right foot. Here's how it works:</p>
</div>			
			
			
			
			<%= image_tag 'brief-budget.png', :style => "border-radius: 7px; box-shadow: #ccc 0px 0px 10px; width: 100%; margin: 4em 0 0;" %>
			
					<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">
						<h1 style="font-size: 26px; margin: 1em 0 0; text-align: left; font-weight: bold;">Attract the best candidates on the web and weed out everyone else with our guided project brief.</h1>
						<p>Our short questionnaire you can fill out in minutes, helps you  create a Project Brief strategically designed to attract the best candidates on the web and weed out everyone else.	Next we'll review your brief, and offer personalized suggestions and tips on how to improve it.</p> 
						<p>Since we've worked with clients on all types of projects, we'll give you the inside scoop on what to expect.</p> 
							<p>We don’t mix you in with full-time jobs like most job boards. This just makes it hard to be found. Our entire process is designed for project-based work, not jobs.</p>
			</div>

			

			<%= image_tag 'replies.png', :style => "width: 100%; margin: 4em 0 0;" %>
					<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">
						<h1 style="font-size: 26px; margin: 0; text-align: left; font-weight: bold;">Stay organized and save time by collecting replies outside of your messy inbox.</h1>

						<p>Once the project brief is perfect, you'll immediately start getting replies from the best candidates on the web. We send out your project to a high-value list of 100s of candidates that are the best options available for your budget and specifications.</p>
						<p>Top freelancers and agencies are instantly notified about your project. And we collect replies on our platform so you don’t have to worry about a messy inbox.</p>
			</div>



			<%= image_tag 'reply-benny.png', :style => "width: 100%; margin: 4em 0 0;" %>
					<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">
						<h1 style="font-size: 26px; margin: 0; text-align: left; font-weight: bold;">Save time picking the perfect candidate.</h1>

						<p>You'll spend less time reviewing applicants because we have a hard word-count on proposals, and require portfolios sent be directly related to your project.</p> 
						<p>This means all replies get to the point quickly and honestly. You want to hire someone to help you solve a problem, not read a bunch of mumbo jumbo.</p>
						<p>You get shown work that is tailored to your project’s goals and show how your partner will be able to help. We even give you our recommendation by hand-reviewing the replies you get so you know who to pick.</p>
						<p>You can setup interviews, chat with applicants, and even pick a partner in minutes. Don’t waste time going through a bunch of portfolios. Every applicant is available, and within your budget.</p>
						
			</div>
			
			
			

			<%= image_tag 'risk-free.png', :style => "width:200px; margin: 4em auto 1em; display: block;" %>
					<div style="margin: .5em auto; padding: 0 1em; width: 670px; font-size: 18px;">
						<h1 style="font-size: 26px; margin: 0; text-align: left; font-weight: bold;">You're even protected by our risk-free guarantee. Get 120% of your money back if you're unsatisfied.</h1>

						<p>If you don't find the right partner for your project, we'll refund your entire purchase and give you a 20% discount on next time. Using Workshop is easy and we send your project to over 10,000 high-quality freelancers and agencies.</p> 
						<p>Every feature is centered around one goal: making your project a  success. We think it will measurably impact your business. 	And we stand by it. You can try Workshop risk-free with our 120% money-back guarantee.</p>
						
			</div>
			
<div style="margin: 5em 0;">
			
<div style="border: 2px solid #eee; width: 450px; margin: 2em .5em 2em 0; padding: 2em 4em; box-sizing: border-box; display: inline-block; font-size: 15px; border-radius: 7px;">
		<h1 style="font-weight: bold; font-size: 30px; text-align: left;">Buy a PRO listing, only $699</h1>	
		<h2>Biggest time-saver</h2>
		
		<p>We take care of everything with this is personal concierge service:</p>
		
		<ul>
			<li>We co-write the brief</li>
			<li>We Send it out to a tailored list</li>
			<li>We collect and review responses</li>
			<li>We pick the 3 best matches</li>
			<li>We setup interviews around your schedule</li>
			<li>We gaurantee a match within 2 weeks</li>
		</ul>

	<p>All you have to do is show up and pick from one of three great fits we'll find for your project.</p>

		<%= link_to 'Post your project', new_project_path, :class => "button blue" %><br>
		<span style="font-size: 14px; color: #aaa; margin: 1em 0; display: block;">All prices USD.</span>
</div>

<div style="border: 2px solid #eee; width: 450px; margin: 2em .5em 2em 0; padding: 2em 4em; box-sizing: border-box; display: inline-block; font-size: 15px; border-radius: 7px; vertical-align: text-bottom;">
<h1 style="font-weight: bold; font-size: 30px; text-align: left;">Buy a DIY listing, only $299</h1>
		
		<p>Get access to the entire process:</p>
		<ul>
			<li>Guided project brief creation</li>
			<li>Send it out to high-value freelancers</li>
			<li>You collect responses</li>
			<li>You save time finding a match</li>
		</ul>
		
		<br>

		<%= link_to 'Post your project', new_project_path, :class => "button blue" %><br>
		<span style="font-size: 14px; color: #aaa; margin: 1em 0; display: block;">All prices USD.</span>
</div>

	
</div>
			



		<div style="margin: .5em auto 5em; padding: 0 1em; width: 670px; font-size: 18px;">
			<h1 style="font-size: 26px; margin: 0; text-align: left; font-weight: bold;">“Workshop has been an incredibly useful service, literally saving us days of work.”</h1>
			
			<p>“We had spent several days looking for a great designer with a track record on Blackberry devices when we found you. In two days we had a dozen offers and quotes from experienced designers.”</p>

			<p>“The biggest pain point in our search was finding a designer with experience who was available in our project's timeframe, and that's where you guys stood out.”</p>
			
			<p>Antoine Martin, Alertus</p>
		</div>
			
				
				

