<style>
	p.onboarding-checklist {
		border-top: 1px solid #ccc;
		padding: 1em .5em;
		display: table;
		margin: auto;
		width: 100%;
		
	}
	
	.onboarding-checklist:last-child {
		border-bottom: 1px solid #ccc;
		padding: 1em .5em;
	}
	
	.onboarding-checklist span {
		display: block;
		margin: .25em 0 0;
		line-height: 1.5;
		font-size: 16px;
	}
	
	.onboarding {
		width: 600px;
	}

</style>

If user has active (or draft) project and hasn't completed all of the items on checklist:

<div class="wrap800 onboarding">
	<h1 style="margin: .5em 0 0;">Welcome, Matt!</h1>
	<p>Thanks for creating a project. Here's what you should do next:</p>

	<p class="onboarding-checklist">
		<%= image_tag 'big-budget.png', :align => "left", :style => "width: 120px; margin:0;" %>
		
		1. <%= link_to 'Finish writing and post your project <i class="fa fa-check" aria-hidden="true" style="margin-left: .5em; color: #999;"></i>'.html_safe %>
		
		<span>We guide you in creating a project that will have a meaningful impact on your business.</span>
	</p>

	<p class="onboarding-checklist">
		<%= image_tag 'calendar.png', :align => "left", :style => "width: 120px; margin:0;" %>
		
		2. <%= link_to 'Amplify your project and maximize replies', publish_projects_path %>
		
		<span>We help you connect with top-talent inside your network with just a few clicks.</span>
	</p>

	<p class="onboarding-checklist">
		<%= image_tag 'drought.png', :align => "left", :style => "width: 120px; margin:0;" %>
		
		3. Star your top 3 applicants (awaiting replies)
		
		<span>You'll choose your top applicants and create a shortlist of people to talk to further.</span>	
	</p>

	<p>Once you've done these three things, the next step is talking to your top choices and choosing someone you'll love to work with.</p>

	<p style="text-align: center;"><strong>Got a question? We're waiting to here from you:</strong><br><br>
	
	<%= mail_to 'Email us', "hello@folyo.me", :class => "button" %>
	</p>

</div>



If user has active project with replies and has completed all onboarding items:


<div class="wrap800" style="max-width: 1000px;">
	<h3>Your projects:</h3>
	<div class="project-list wrap">
		
		<% if Project.owned_by(current_user).any? %>
			<% Project.owned_by(current_user).each do |project| %>
				<%= render "projects/quick_view", project: project %>
			<% end %>
		<% else %>
			<p class="job"><%= link_to "You currently have no open projects. Start one.", new_project_path %></p>	
		<% end %>

	<div style="margin: 3em 0; text-align:center;">
		<h3 style="font-size: 30px;">Ready to start a new project?</h3>
		<%= link_to 'Create new project', new_project_wizard_path(project_id: :new), :class => "button" %>
	</div>

		<h3>Recent replies</h3>

		<% Reply.replied_to(current_user).limit(10).each do |reply| %>
			<%= render "replies/client_reply_view", reply: reply %>
		<% end %> 
	</div>
</div>
