<ul class="tabs">
  <li class="active"><a href="#">All RSS Leads (<%= @rss_count %>)</a></li>
  <li><a href="#">Other Sites</a></li>
  <li><a href="#">Email Finder</a></li>
  <li><a href="/approved_links">Approved (<%= ApprovedLink.visible.count %>)</a></li>
</ul>

<script>
	$(document).ready(function() {
		/*$(".rss_links a.hide").on("click", function() {
			var row = $(this).parents("tr");
			row.next().remove();
			row.remove();
		});*/
	});
</script>

<div class="content">


	<a  href="#" style="float: right; font-size: 80%; color: #aaa;">Add RSS Feed <i class="fa fa-cog"></i></a>
	

	<div style="display: table;width: 100%; text-align: left; margin: 0 0 1em; text-align: left;">

		
		<!--p class="content">Selected leads:
	<a href="#" style="border: 1px solid #ddd; margin: -.5em .25em 0; padding: .35em .5em .25em; border-radius: .4em; font-size: 80%; color: red; font-weight: 500;">Remove from Feed</a></p-->
	</div>

	<table class="rss_links">
		<% @rss_links.each do |rss_link| %>
			<tr>
				<td style="padding-top:.5em; padding-right:.5em">
					<input type="checkbox" name="lead" value="<%= rss_link.id %>"> 
				</td>
				<td style="padding-top:.5em">
					<a href="<%= rss_link.link %>" target="_blank"><%= rss_link.title %></a> 
					<span style="font-size: 12px; color: #666;"><%= rss_link.pub_date.to_s %></span>
				</td>
				<td style="width:250px; padding-top:.5em">
					<a href="/rss/approve?rss_link_id=<%= rss_link.id %>" style="border: 1px solid #ddd; margin: -.35em .25em 0; padding: .25em .5em .25em .75em; border-radius: .4em; font-size: 80%; font-weight: 500; float: right;">Add to Approved →</a>
					<a href="/rss/hide?rss_link_id=<%= rss_link.id %>" class="hide" style="border: 1px solid #ddd; margin: -.35em .25em 0; padding: .25em .5em .25em .75em; border-radius: .4em; font-size: 80%; font-weight: 500; float: right; color: red;">Hide</a>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan="2" style="border-bottom: 1px solid #ddd; padding-bottom: .5em; margin: .125em 0;">
					<%= rss_link.description.html_safe %>
				</td>
			</tr>
		<% end %>
	</table>

	<!--div style="display: table;width: 100%; text-align: left; margin: 2em 0 1em; text-align: left;">
		<p class="content">Selected leads:
	<a href="#" style="border: 1px solid #ddd; margin: -.5em .25em 0; padding: .35em .5em .25em; border-radius: .4em; font-size: 80%; color: red; font-weight: 500;">Remove from Feed</a></p>
	</div-->


</div>
