<%= form_for :user, url: subscriptions_path, html: { multipart: true, id: 'new_user', class: 'form-focus' } do |f| %>
	
	<p class="question-header"><strong>Your name</strong></p>
	<%= f.text_field :name, placeholder: 'Name'	%>
   <%= form_error_for(@user, :name) %>

	<p class="question-header"><strong>Your work email</strong><br>
	<small class="form-helper">Won't be shown publicly</small></p>
	<%= f.email_field :email, placeholder: "Email" %>
   <%= form_error_for(@user, :email) %>

	<p class="question-header"><strong>Create a password</strong><br>
	<small class="form-helper">Must have at least 8 characters</small></p>
		<p style="margin:0;">
			<% if @validatable %>
				<small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
			<% end %>
		</p>

	<%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
   <%= form_error_for(@user, :password) %>

	<div style="margin: 1em 0;">
		<a href="#">
			<%= f.submit "Sign up", id: 'form-submit', data: { :"drip-attribute" => 'sign-up-button' } %>
		</a>
	</div>

	<p><small>Already have an account? <a href="/users/sign_in">Log in</a></small></p>

	<%= hidden_field_tag "plan", @plan ? @plan.id : "" %>
	<%= f.hidden_field :account_type %>
	<%= f.hidden_field :biography %>
<% end %>
	

