<div class="new-account-form-wrap" style="margin: 4em 0 0 auto; ">
	<script>
	$(function() {
	  $('#pictureInput').on('change', function(event) {
		var files = event.target.files;
		var image = files[0]
		// here's the file size
		console.log(image.size);
		var reader = new FileReader();
		reader.onload = function(file) {
		  var img = new Image();
		  console.log(file);
		  img.src = file.target.result;
		  $('#target').html(img);
		}
		reader.readAsDataURL(image);
		console.log(files);
	  });
	});
	</script>

	<%= form_for :user, url: subscriptions_path, html: { multipart: true, id: 'new_user', class: 'form-focus' } do |f| %>	

		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>


		<h3>Your name</h3>
		<p class="required">You know, that thing everyone calls you</p>
		<%= f.text_field :name, placeholder: 'Name'	%>

		<h3>Your work email</h3>
		<p class="required">Won't be shown publicly</p>
		<%= f.email_field :email, placeholder: "Email" %>

		<div class="upload-photo-wrap" style="display: table; width: 100%;">


			<div class="upload-photo">
				<h3>Your picture</h3>
				<p class="required">(Optional) but we do like seeing fresh faces</p>
			</div>

			<div class="preview-photo">
				<div id="target"></div>
				<%= f.file_field :photo, :id => "pictureInput", :style => "width: 200px;"	%>
			</div>
		</div>



		<h3>Create a password</h3>
		<p class="required">Must have at least 8 characters</p>
			<p style="margin:0;">
				<% if @validatable %>
					<small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
				<% end %>
			</p>

			<%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %><br>

		<div class="opt-in">
			<label><%= f.check_box :project_alerts, checked: true %> I want to see new projects when they're posted. </label>
		</div>

		<div style="margin: 1em 0;">
			<a href="#">
				<%= f.submit "Sign up", id: 'form-submit', data: { :"drip-attribute" => 'sign-up-button' } %>
			</a>
		</div>


		<p>Have an account? <a href="/users/sign_in">Log in</a></p>

		<%= hidden_field_tag "plan", @plan.id %>
	<% end %>
	
</div>


