<div class="content">
	<h1>Why do you want to cancel your Workshop subscription?</h1>

	<%= form_for(@cancellation, url: cancel_subscription_post_path, html: { method: :post }) do |f| %>
		<ul style="list-style:none;">
			<li><strong><label><input type="radio" name="cancel_reason" value="<%= Cancellation::NOT_ENOUGH_RESPONSES %>" /> I don't get enough responses</label></strong></li>
			<li><strong><label><input type="radio" name="cancel_reason" value="<%= Cancellation::WRONG_LEAD_TYPES %>" /> Not the right type of leads for me</label></strong></li>
			<li><strong><label><input type="radio" name="cancel_reason" value="<%= Cancellation::HIGHER_QUALITY_LEADS %>" /> I want higher quality leads</label></strong></li>
			<li><strong><label><input type="radio" name="cancel_reason" value="<%= Cancellation::IM_BOOKED %>" /> I'm booked</label></strong></li>
		</ul>

		<%= f.submit 'I want to cancel my Workshop subscription' %>
	<% end %>
</div>
