<section class="loose-wrap">
	<center>
	
		<%= image_tag("missing.png", :style => "margin: 1em 0 -2em; width: 120px;") %>
		<h1 class="jumbo" style="margin: 1.5em 0 0; font-size: 250%;">Try Workshop risk-free for 30 days.</h1>
		<h2 class="jumbo">If you're not blown away get a full refund.</h2>
</section>

<div class="reading-wrap pricing" style="max-width: 500px; margin: 0 auto 1em; display: table;">

	<!--<h2>So today’s the day! Welcome, clients are waiting.</h2> 
	<p>You picked a great day to join Workshop. You probably are looking for clients right away. Workshop can help with that. Pick the type of leads you’re most interested in seeing from the list below, pay, and we'll get started filling up your pipeline.</p>-->
	
	<%= form_for :user, url: subscriptions_path, id: 'new_user' do |f| %>

		<% if @user.errors.any? || @user.subscription.errors.any? %>
			<div id="error_explanation">

			  <h2><%= pluralize(@user.errors.count, "error") %> occurred:</h2>

			  <ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				<% @user.subscription.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			  </ul>
			</div>
		<% end %>		

		<h4>What's your name?</h4>
		<%= f.text_field :name, autofocus: true, placeholder: 'Your name'	%>

		<h4>What's your email?</h4>
		<%= f.email_field :email, autofocus: true, placeholder: 'Your email' %>

		<h4>
			What's your password?
		
			<% if @validatable %>
				<small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
			<% end %>
		</h4>
		<%= f.password_field :password, autocomplete: "off" %>

		<h4>Confirm your password</h4>
		<%= f.password_field :password_confirmation, autocomplete: "off" %>

		<%= render 'registrations/categories' %>

		<%= render 'registrations/creditcard', :number_required => true %>
		<br>
		<hr>				
		<center>
			<h1 class="jumbo" style="margin: 1em 0 0;">Pay $<%= @plan.price %>/<%= @plan.interval %></h1>
			<input type="hidden" name="coupon_code" value="<%= @coupon %>" />
			<input type="hidden" name="plan" value="<%= @plan.id %>" />
			<a href="#"><%= f.submit "Show me my future clients", id: 'form-submit', style: 'margin: 2em 0;', class: 'buy', data: { :"drip-attribute" => 'sign-up-button' } %></a>
		</center>
	
		<h4>What if you don't like it?</h4>
		<p class="small">No worries. There's a 30-day 100% satisfaction guarantee. Enjoy Workshop for a full month, and if you don't like it for any reason, send me an email and I'll give you a refund. I don't want your money if you're not 100% blown away.</p>
	<% end %>
	
</div>
		

<section class="reading-wrap" style="margin: 0 auto 5em; max-width:950px;">
	<blockquote>
		<table>
			<tr>
				<td>
					<%= image_tag("testimonials/mcapacci.jpg", :style => "width:75px; border-radius:37.5px") %>
				</td>

				<td>
					<p>
						&ldquo;I wrote to two contacts from the first Workshop email I got. I already made an appointment for a Skype call with one of 
						the two. It’s 50% conversion for now, not bad at all. ;)&rdquo; 
						<cite>- Manuele Capacci</cite>
					</p>
				</td>
			</tr>
		</table>
	</blockquote>
		
</section>

<center>
	<div class="logo">
		<%= image_tag("workshop-logo-big.png", :style => "margin: 0 0 5em; width: 150px;") %>
	</div>
</center>

