<section class="loose-wrap">
	<center>
		<h1 style="margin: 2.1em 0 0;">Start your new Workshop account</h1>
		<p  style="font-size: 16px; margin: .5em 0 3em;">Pay only <strong> $<%= @plan.price %></strong> <%= @plan.interval_text %>.
		<% unless @plan.yearly? or !@yearly.present? %>
			<a href="/subscriptions/new?plan=<%= @yearly.id %>">Switch to yearly</a>.
		<% end %>
		</p>
		<!-- 		<p style="font-size: 16px; margin: 0 0 2em;">Last week Workshop sent $<%= number_with_delimiter(@sent_this_week, :delimiter => ',') %> worth of client work to members. Start landing projects and filling your pipeline with a risk-free account.</p>
		

		. Last week we sent 
		<p>Your account is risk-free for 30 days. Get your money back at any time.</p>
		<table>
		<tr>
		<td><%= image_tag("rob.png", :align => "left", :style => "margin: 0 2em 5em 0; width: 6em; border-radius: 1em;" ) %></td>
		<td>
		<p>I'm Robert and I'm going to help you get set up so you can start landing projects using Workshop today.</p>
		<p>To make sure Workshop is right for you, I'm going to setup your account by asking you a few questions then we can get started filling your pipeline.</p>
	
		</tr>
		</table>
		-->
</section>

<div class="reading-wrap buy-form">

	<!--<h2>So today’s the day! Welcome, clients are waiting.</h2> 
	<p>You picked a great day to join Workshop. You probably are looking for clients right away. Workshop can help with that. Pick the type of leads you’re most interested in seeing from the list below, pay, and we'll get started filling up your pipeline.</p>-->
	
	<%= form_for :user, url: subscriptions_path, id: 'new_user' do |f| %>

		<% if @user.errors.any? || @user.subscription.errors.any? %>
			<div id="error_explanation">

			  <h2><%= pluralize(@user.errors.count + @user.subscription.errors.count, "error") %> occurred:</h2>

			  <ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				<% @user.subscription.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			  </ul>
			</div>
		<% end %>		
		<h5>Your email:</h5>
		<%= f.email_field :email, autofocus: true, placeholder: "gilfoyle@piedpiper.com", :style => "padding: .75em;" %>
		<p  style="font-size: 16px; margin: .25em 0 3em;">This is where we'll send your leads.</p>

		<div style="margin: 3em 0 1em; display: table; width: 100%; box-sizing: border-box; border-radius: .5em; border:2px solid #F1F1F1; padding: 0 1.5em;">
		<h5>Your name:</h5>
		<%= f.text_field :name, autofocus: true, placeholder: 'Bertram Gilfoyle'	%>


		<h5>
		 Password:
			<% if @validatable %>
				<small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
			<% end %>
		</h5>
		<%= f.password_field :password, autocomplete: "off", placeholder: 'Your password' %>

		<%= render 'registrations/categories' %>

		<br>			
		<center>
			
			
				<h1 style="margin: 2.1em 0 0;">Your total: $<%= @plan.price %> / three months</h1>
				<p  style="font-size: 16px; margin: 1em 0 3em;">Next payment will be on September 25 2015. Cancel anytime.</p>
				

				
				
			<input type="hidden" name="coupon_code" value="<%= @coupon %>" />
			<input type="hidden" name="plan" value="<%= @plan.id %>" />




		<%= render 'registrations/creditcard', :number_required => true %>
		<p style="margin: 0; font-size: 14px;">
		<%= image_tag("lock.png", :style => "width: 22px; vertical-align: -.6em;") %> 256-bit SSL Secure Checkout.
		</p>


		<a href="#"><%= f.submit "Show me my future clients", id: 'form-submit', style: 'margin: 2em 0;', class: 'buy', data: { :"drip-attribute" => 'sign-up-button' } %></a>
		
		<blockquote style="margin:0em 4em 3em; padding: 0;">
			<table>
				<tr>
					<td>
						<%= image_tag("testimonials/mcapacci.jpg", :style => "width:50px; border-radius:35px") %>
					</td>

					<td>
						<p style="font-size: 14px; text-indent: 0;">
							&ldquo;I wrote to two leads in the the first Workshop email I got and landed a Skype call almost immediately. It pays for itself in days.<br>- Manuele Capacci
						</p>
					</td>
				</tr>
			</table>
		</blockquote>
		</center>	
	
		</div>
	<% end %>
	
</div>
		

<section class="reading-wrap" style="margin: 4em auto 5em; max-width:950px;">
	
		<h5>What if you don't like it?</h5>
		<p style="font-size: 16px;">No worries. There's a 30-day 100% satisfaction guarantee. Enjoy Workshop for a full month, and if you don't like it for any reason, send me an email and I'll give you a refund. I don't want your money if you're not completely blown away by the service.</p>

</section>
