<div class="wrapper">

	<%= form_for :user, url: subscriptions_path, id: 'new_user' do |f| %>

		<% if @user.errors.any? || @user.subscription.errors.any? %>
			<div id="error_explanation">

			  <h2><%= pluralize(@user.errors.count + @user.subscription.errors.count, "error") %> occurred:</h2>

			  <ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				<% @user.subscription.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			  </ul>
			</div>
		<% end %>		
		


		<div style="margin: 3em auto 1.5em; display: table; width: 100%; width:350px; box-sizing: border-box; border-radius: .5em; border: 2px solid #F1F1F1; padding: 0 1.5em 1em;">
			
			<h1 style="margin: 1em 0 .5em; font-size: 30px; text-align: left;">Create an account free</h1>

			<%= f.text_field :name, autofocus: true, placeholder: 'Name'	%>
		
			<%= f.email_field :email, autofocus: true, placeholder: "Email" %>



		<p style="margin:0;">
			<% if @validatable %>
				<small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
			<% end %>
		</p>
		
		<%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %><br>

		<a href="#"><%= f.submit "Sign up", id: 'form-submit', class: 'buy', data: { :"drip-attribute" => 'sign-up-button' } %></a>
		

		<div class="new-sign-up"> Have an account <a href="/users/sign_in">Log in</a></div>

		</div>
	<% end %>

</div>
		
