<div style="width: 700px; margin: 1em auto;">
  <%= form_for(current_user, url: upgrade_save_path, html: { method: :put }) do |f| %>
    <% if current_user.subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(current_user.subscription.errors.count, "error") %> prohibited your upgrade from being saved:</h2>

        <ul>
        <% current_user.subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div style="padding: 0;">
      <h1>Become a PRO for just: $<%= @plan.price %> / <%= @plan.interval_text %></h1>
      
      <%= render 'registrations/creditcard', :number_required => false  %>	

        <p style="Text-align: center;"><%= image_tag 'visa.png',  :style => "width:32px;" %> <%= image_tag 'mastercard.png',  :style => "width:32px;" %> <%= image_tag 'amex.png',  :style => "width:32px;" %> <%= image_tag 'discover.png',  :style => "width:32px;" %> <%= image_tag 'diners.png',  :style => "width:32px;" %> <%= image_tag 'jcb.png',  :style => "width:32px;" %>
        </p>
          
    </div>
    
    <div style="line-height: 4; padding: 0 0 1em;">
      
      <%= f.submit "Upgrade to PRO and send portfolio pieces with your replies", class: "button" %><br>
      
      <p style="margin:0;"><small style="margin:0;">We use <a href="http://stripe.com">Stripe</a> which is just crazy secure.</small></p>
     
    </div>		

    <%= link_to "Back", edit_user_registration_path %> <br/>

  <% end %>
</div>
