<div class="wrapper">
<section class="tight-wrap">


<h1>Here's what happens next...</h1>

<ol>
<li><h3>Make sure you read the <a href="http://letsworkshop.com/downloads/welcome.pdf">Welcome packet</a>.</h3> 
<p>I cover a lot of the questions you're probably wondering about. It's the best way to get started using Workshop. It will help you get right to filling your pipeline and seeing results.</p></li>

<li><h3>Check your inbox for a special lead I just sent.</h3> 
<p>I want you to jump straight into emailing the prospects I send over, so look out for an email from me shortly.</p>
</li>

<li>
<h3>Email us any questions you have</h3>
<p>There's a list of the most common questions I get below. If you have any other questions please email <a href="MAILTO:julie@letsworkshop.com">julie@letsworkshop.com</a> and she'll take care of you right away.</p></li>

</ol>

<ul>

<li><h3>“When will I get billed again?”</h3> 
<p>Your next charge will be $<%= current_user.subscription.plan.price %> on <%= current_user.billing_period_end %>.</p></li>

<li><h3>“How many leads will I be getting?”</h3>
<p>You'll get one right now, then about 2 per category you selected every weekday.</p> 
<p>Because everyone has different skill sets, members in Workshop all get different leads. The good news is you get these leads sent every single day and they are opportunities you wouldn't have known about otherwise.</p></li>

<li><h3>“How many leads should I email?”</h3>
<p>I recommend no more than two per day. That way you can focus on sending a great email every single time you write to a lead. If you do that, you'll save time and outperform other people who are sending 100s of generic scripted emails on not hearing back at all.</p></li>


<li><h3>“How can I update the type of leads I get?”</h3>
<p><%= link_to "Click here to update your settings", update_subscription_categories_path %> or click the turn on/off links from within the emails I send you.</p></li>

<li><h3>Anything else?</h3>
<p>Yea! We're stoked to have you. Julie (your new personal email specialist) will be reaching out with some 1-on-1 concierge help shortly to get you up to speed. We can't wait until you land your first client with Workshop! If you have any questions, <a href="MAILTO:julie@letsworkshop.com">send us an email</a>.</p>
<p>Now check your inbox!</p></li>

</ul>

<blockquote style="margin:0em auto 1em; padding: 0; width: 700px; max-width: 100%;">
	<table>
		<tr>
			<td>
				<%= image_tag("testimonials/jsyke.jpg", :style => "width:50px; border-radius:35px") %>
			</td>

			<td>
				<p style="font-size: 14px; text-indent: 0;">
					&ldquo;On the first day I used Workshop I contacted three prospective clients and got three emails back. One of those turned into a solid gig.<br>- Jamie Syke in Manchester, UK</p>
			</td>
		</tr>
	</table>
</blockquote>


<!--<h4>How do I cancel?</h4>
<p>You can instantly cancel your account at any time <%= link_to "using this link", cancel_subscription_path %>. You can also get to it by clicking 'Sign in' on the homepage or from the emails I'll be sending.</p>-->

</div>