<section class="wrapper" style="max-width: 15em; margin-top: 5em;">
<h2>Login to Workshop</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>




	  <% if devise_mapping.rememberable? -%>

	      <%= f.check_box :remember_me, :style => "margin-right: .6em;" %>
	      <%= f.label "Remember me on this computer", :style => "font-size: 14px; font-weight: normal; text-transform: none; letter-spacing: 0;" %>

	  <% end -%>
 	</div>

  <div class="actions" style="margin: 1em 0;">
    <%= f.submit "Log in", :style => "margin-left: 0;" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</section>