
<div style="width: 800px; margin: 0 auto;">

<section class="sign-in" style="margin: 2em 2em 0 0; float:right; width: 300px;">
<h1 style="font-size: 40px; margin: 1em 0 .5em; text-align: left;">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>



		<%= render "devise/shared/links" %>


 	</div>

  <div class="actions" style="margin: 1em 0 0;">
    <%= f.submit "Log in", :style => "margin-left: 0;" %>
  </div>

  <% if devise_mapping.rememberable? -%>

      <%= f.check_box :remember_me, :style => "margin-right: .6em;" %>
      <%= f.label "Remember me on this computer", :style => "font-size: 14px; font-weight: normal; text-transform: none; letter-spacing: 0;" %>

  <% end -%>
<% end %>

<hr style="margin: 1em 0;">

<span style="font-size: 16px; margin: 0;">New to Workshop</span>
<%= link_to 'Create free account', new_subscription_path(plan:2), :class => "button blue", :style => "font-size: 16px; margin-top: 1em; display: inline-block; color: #444 !important; background: #eee !important;" %>


</section>

<section style="margin: 3em 2em 0 0; float: left; width: 350px;">
	
	<div style="margin: 5em 0 0 -7em; display: inline-block; font-size: 16px;width: 200px; " class="sign-in-quote">
		<span style="font-size: 40px; margin-left: -.4em; vertical-align: -15px; line-height: 0;">&ldquo;</span>
		I found the perfect fit for my business on Workshop.
	</div>

	<%= image_tag 'marcie.png', :style => "width: 350px; margin: -5em 0 0;" %>

	

</section>

</div>