


<section class="leads-wrap" style="padding: 1em 0;">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<div style="width: 100%; display: table;">
	
	

	

	<!--	
<%= form_tag work_path, :method => 'get' do %>
	<p>
	<%= text_field_tag :search, params[:search], :placeholder => "Search by specialty or project type" %>
	<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
</div>

<h1 style="margin:.5em 0 .5em 0;">

	<% if params[:search].nil? %>
		All past freelance opportunities
  <% else %>
   Results for &lsquo;<%= @search_name %>&rsquo; <a href="#">Save Search</a>
 <% end	%>
</h1>-->




<h1>Workshop-exclusive leads</h1> 
<p>These are leads featured exclusively through Workshop. They're only seen by members like you, so you have a great chance of landing one.</p>
<table class="work">
<% @exclusives.most_recent.each do |exclusive| %>

	<tr>
		<td><p style="text-align:right; color: #6a6357; font-size:14px; padding-right: 1em;"><%= exclusive.created_at.strftime("%b %-d") %></p></td>
		<td><p style="overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; 	white-space: nowrap; width: 500px; display: block;"><strong><%= link_to exclusive.title, exclusive_path(exclusive) %></strong></p></td>
		<td><p style="color: #6a6357; font-size:14px; padding-left: 1em;"><% if exclusive.budget.present? %>$<%= exclusive.budget %><% else %><% end %></p></td>
  </tr>
<% end %>
</table>

<h1><input type="checkbox" name="vehicle" value="Car" checked style="margin: 1em 0 0 -2em;"> Ruby on Rails Development</h1> 
<table class="work">
<% @leads.rails.most_recent.limit(9).each do |lead| %>

	<tr>
		<td><p style="text-align:right; color: #6a6357; font-size:14px; padding-right: 1em;"><%= lead.created_at.strftime("%b %-d") %></p></td>
		<td><p style="overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; 	white-space: nowrap; width: 500px; display: block;"><strong><%= link_to lead.title, lead_path(lead) %></strong></p></td>
		<td><p style="color: #6a6357; font-size:14px; padding-left: 1em;"><% if lead.budget.present? %>$<%= lead.budget %><% else %><% end %></p></td>
  </tr>
<% end %>
</table>

<h1><input type="checkbox" name="vehicle" value="Car" checked style="margin: 1em 0 0 -2em;"> Drupal Development</h1> 
<table class="work">
<% @leads.drupal.most_recent.limit(9).each do |lead| %>

	<tr>
		<td><p style="text-align:right; color: #6a6357; font-size:14px; padding-right: 1em;"><%= lead.created_at.strftime("%b %-d") %></p></td>
		<td><p style="overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; 	white-space: nowrap; width: 500px; display: block;"><strong><%= link_to lead.title, lead_path(lead) %></strong></p></td>
		<td><p style="color: #6a6357; font-size:14px; padding-left: 1em;"><% if lead.budget.present? %>$<%= lead.budget %><% else %><% end %></p></td>
  </tr>
<% end %>
</table>


<!--
<div class="leads">
<h1>Workshop-exclusive leads.</h1> 
<p>These leads are only shown to Workshop members, so you have a great chance of landing one.</p>
<table>
<% @leads.most_recent.group_by(&:category).each do |category, leads| %>
<%= render :partial => './leads/lead_display', :locals => { :category => category, :leads => leads }   %>
<% end %>
<hr>
</div>-->



</section>