<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prospect.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @prospect.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @prospect.message %>
</p>

<%= link_to 'Edit', edit_prospect_path(@prospect) %> |
<%= link_to 'Back', prospects_path %>
