<section class="wrapper">

<h1>Listing rfps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rfps.each do |rfp| %>
      <tr>
        <td><%= rfp.name %></td>
        <td><%= link_to 'Show', rfp %></td>
        <td><%= link_to 'Edit', edit_rfp_path(rfp) %></td>
        <td><%= link_to 'Destroy', rfp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rfp', new_rfp_path %><br>
<%= link_to 'Back to leads', leads_path %>

</section>