<style>
	form { width:auto; } 
	form input[type=submit] { margin:0px; }
	td.link { color: #888; padding-bottom: 45px; }
</style>
<div class="wrapper">
	<p>
		<%= link_to 'New Plan', new_plan_path, class: "button" %>
	</p>

	<h1>Active Plans</h1>

	<table style="margin: 0 0 7em 0;">
	  <tbody>
		  <tr><th colspan="3"><p style="text-align:left;">These active plans are available for customers to upgrade</p></th></tr>
		<% @plans.each do |plan| %>
		  <% if plan.published? %>
			<tr>
				<td style="padding-right: 2em;"><span style="color: #19963C; font-size: 14px; font-weight: 500;">Active!</span> <%= link_to plan.name, edit_plan_path(plan) %></td>
				<td>$<%= plan.price %> / <%= plan.interval_text %></td>
				<td rowspan="2" style="vertical-align:top"><%= button_to 'Archive', archive_plan_path(plan), method: 'put' %></td>
			</tr>
			<tr>
				<td colspan="2" class="link">Signup link: <%= link_to "/subscriptions/new?plan=#{ plan.id }", "/subscriptions/new?plan=#{ plan.id }" %></td>
			</tr>
		  <% end %>
		<% end %>
	  </tbody>

	  <tbody>
		<tr>
			<th colspan="3">
				<h1>Archived Plans:</h1>
				<p style="text-align:left;">These plans are for current subscribers, but cannot be selected for upgrade</p>
			</th>
		</tr>
		<% @plans.each do |plan| %>
		  <% unless plan.published? %>
			<tr>
				<td style="padding-right: 2em;"> <%= link_to plan.name, edit_plan_path(plan) %></td>
				<td>$<%= plan.price %> / <%= plan.interval_text %></td>
			</tr>
		  <% end %>
		<% end %>
	  </tbody>
	</table>

</div>
