<p class="footer-menu" style="margin: 5em 0; text-align: center;">
	<% if admin_signed_in? %>
		<%= link_to "Start a project", new_project_wizard_path(project_id: :new) %>
		<%= link_to "Log out", destroy_user_session_path, method: :delete%>
	<% elsif user_signed_in? %>
		<%= link_to "Dashboard", home_projects_path %>
		<%= link_to "Start a project", new_project_wizard_path(project_id: :new) %>
		<%= link_to "Account", edit_user_registration_path %>
		<%= link_to "Log out", destroy_user_session_path, method: :delete%>
	<% else %>
		<%= link_to "Log in", new_user_session_path %>
		<a href="http://letsworkshop.com/learn">Learn</a> 
		<a href="http://letsworkshop.com/press">About</a>
		<a href="#">Partners</a> 
		<a href="http://letsworkshop.com/terms">Terms of service</a> 
	<% end %>

	<span style="color: #aaa;">© <%= Time.now.year %> Folyo</span>
</p>
